<!DOCTYPE HTML>
<html>
  <head>
	<title>嘉鼎資本｜投資事業管理術投資目標</title>
	<meta charset="utf-8" />
  <meta name="description" content="學習嘉鼎資本投資事業管理術前，請先建立自己的投資目標，並理解年化資本成長。">
  <meta name="keywords" content="嘉鼎資本, 投資事業管理術, 投資, 投資目標, 年化資本成長">
	<meta name="viewport" content="width=device-width, initial-scale=1" />
  </head>
  <body class="no-sidebar">
	<div id="page-wrapper">
	  <!-- Main -->
		<article id="main">
		  <header class="special container">
			<span class="icon fa-book"></span>
			  <h1>開啟航程的第一步：建立自己的投資目標</h1>
		  </header>
	  <!-- One -->
		<section class="wrapper style4 container">
	  <!-- Content -->
		<div class="content">
		  <section>
			<p>前述錯誤投資行為，都是投資人在未找到嘉鼎資本前所遭遇的慘痛經驗，付出了資本與時間換來悔恨與失去。這系列的課程就是針對不想走錯路的投資人，提供一個有效的管理方法。</p>
			<span style="color:black;font-weight:default">■建立自己的投資目標</span></br>
			<p>對嘉鼎資本來說，每協助一位投資人建立成功的投資事業，就是我們嘉鼎資本的價值。以過去嘉鼎資本協助的案例綜合評量，<mark>建立規模3萬美金（100萬台幣）以上，且年化資本成長12%的投資事業</mark>，是這套投資事業管理術能夠做到的，學會這套管理術，你的投資將能掌握在自己的手裡。</p>
			<span style="color:black;font-weight:default">■投資事業管理術小教室：年化資本成長計算公式</span></br>
			<p>年化資本成長率＝（期末資本額∕期初資本額）^（1∕投資期間）－1</br>
			假設：</br>
			——期末資本額16萬</br>
			——期初資本額10萬</br>
			——投資期間2年6個月</br>
			→年化成長率＝(16/10) ^ (1/2.5) －1＝ 20.68%</p>
			<span style="color:black;font-weight:default">■期初100萬元投入，不同期間v.s.不同年化資本成長率之期末資本額計算表</span>
      <div class="table-responsive">
        <table class="table">
				<tr>
          <td>年化資本成長率</td>
          <td>1年期間</td> 
          <td>2年期間</td>
          <td>3年期間</td> 
          <td>5年期間</td>
          <td>10年期間</td>
        </tr>
				<tr>
          <td>7%</td>
          <td>107.00萬</td> 
          <td>114.49萬</td>
          <td>122.50萬</td> 
          <td>140.26萬</td>
          <td>196.72萬</td>
        </tr>
        <tr>
          <td>10%</td>
          <td>110.00萬</td> 
          <td>121.00萬</td>
          <td>133.10萬</td> 
          <td>161.05萬</td>
          <td>259.37萬</td>
        </tr>
        <tr>
          <td>12%</td>
          <td>112.00萬</td> 
          <td>125.44萬</td>
          <td>140.49萬</td> 
          <td>176.23萬</td>
          <td>310.58萬</td>
        </tr>         
        <tr>
          <td>15%</td>
          <td>115.00萬</td> 
          <td>132.25萬</td>
          <td>152.09萬</td> 
          <td>201.14萬</td>
          <td>404.56萬</td>
        </tr>         
        </table>
      </div>
		  </section>
		</div>
		</section>
	  <!-- Two -->
		<section class="wrapper style1 container special">
		  <footer class="major">
			<ul class="buttons">
			  <li><%= link_to "上一節", introduction_section2_index_path, class: "button" %></li>
			  <li><%= link_to "下一節", chapter1_section_index_path, class: "button special" %></li>
			</ul>
		  </footer>
		</section>
	  <!-- Disqus -->
      <section class="wrapper style4 container">
        <div id="disqus_thread"></div>
            <script>
            /**
            * RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
            * LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables
            */
            /*
            var disqus_config = function () {
            this.page.url = PAGE_URL; // Replace PAGE_URL with your page's canonical URL variable
            this.page.identifier = PAGE_IDENTIFIER; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
            };
            */
            (function() { // DON'T EDIT BELOW THIS LINE
            var d = document, s = d.createElement('script');

            s.src = '//magnificbiz.disqus.com/embed.js';

            s.setAttribute('data-timestamp', +new Date());
            (d.head || d.body).appendChild(s);
            })();
            </script>
            <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
        </section>
        </article>
      </div>
      <!-- Scripts -->
        <script id="dsq-count-scr" src="//magnificbiz.disqus.com/count.js" async></script>
        <script src="https://use.typekit.net/mgd6kfe.js"></script>
        <script>try{Typekit.load({ async: true });}catch(e){}</script>
  </body>
</html>