<!DOCTYPE HTML>
<html>
  <head>
  <title>嘉鼎資本｜投資事業管理術型態分析與歸納解答篇</title>
  <meta charset="utf-8" />
  <meta name="description" content="嘉鼎資本投資事業管理術型態分析與歸納測驗篇，確認投資人學會解讀成長型、穩定型、衰退型、循環型、特異型事業。">
  <meta name="keywords" content="嘉鼎資本, 投資事業管理術, 投資, 型態分析, 成長型, 穩定型, 衰退型, 循環型, 特異型">
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  </head>
  <body class="no-sidebar">
  <div id="page-wrapper">
    <!-- Main -->
      <article id="main">
      <header class="special container">
      <span class="icon fa-book"></span>
        <h1>2-2-8 型態分析與歸納——解答篇</h1>
      </header>
    <!-- One -->
    <section class="wrapper style4 container">
    <!-- Content -->
    <div class="content">
      <section>
      <span style="color:black;font-weight:default">1. 辨認公司型態通常是透過下列何者的歷史紀錄？</span></br>
      <mark>A. 營收、營業淨利（營業利益）、淨利。</mark></br>
            B. 營收、淨利、投入資本。</br>
            C. 營業淨利（營業利益）、淨利、淨值。</br>
            D. 淨利、投入資本、淨值。</br>
            E. 以上皆非。</p>
      <span style="color:black;font-weight:default">2. 下圖案例的公司型態為何？</span></br>
      <img class="img-responsive" src="https://s3-us-west-2.amazonaws.com/magnficcourse/pic2-2-7-1.png" alt="測驗"></p>
      <mark>A. 成長。</mark></br>
            B. 穩定。</br>
            C. 衰退。</br>
            D. 特異。</br>
            E. 爆發。</p>
            <span style="color:black;font-weight:default">3. 下圖案例的公司型態為何？</span></br>
            <img class="img-responsive" src="https://s3-us-west-2.amazonaws.com/magnficcourse/pic2-2-7-2.png" alt="測驗"></p>
      A. 成長。</br>
            B. 衰退。</br>
            <mark>C. 循環。</mark></br>
            D. 穩定。</br>
            E. 雙峰。</p>
            <span style="color:black;font-weight:default">4. 下圖案例的公司型態為何？</span></br>
            <img class="img-responsive" src="https://s3-us-west-2.amazonaws.com/magnficcourse/pic2-2-7-3.png" alt="測驗"></p>
      A. 成長。</br>
            <mark>B. 穩定。</mark></br>
            C. 衰退。</br>
            D. 循環。</br>
            E. 特異。</p>
            <span style="color:black;font-weight:default">5. 特異型態通常具備下列何種特性？</span></br>
      A. 兩種型態複合出現。</br>
            B. 不易辨認。</br>
            C. 歷經營運劇變。</br>
            D. 不是大部分公司的型態。</br>
            <mark>E. 以上皆是。</mark></p> 
      <blockquote>
      夫善游者溺，善騎者墮，各以其所好，反自危禍</br>
            ——淮南子‧原道訓</br>
      </blockquote>
      </section>
    </div>
    </section>
    <!-- Two -->
    <header class="special container">
      <span class="icon fa-bell"></span>
      <h2>我在型態分析與歸納學到最重要的三件事</h2>
    </header>
    <section class="wrapper style1 container special">
      <div class="row">
      <div class="4u 12u(narrower)">
        <section>
        <header>
          <h3>第一件事</h3>
        </header>
        <p>型態分析與歸納可以說是投資課程中最有趣，也是最考驗經驗的地方，可說是打開投資這道門的第一把鑰匙。到這個章節投資人不妨做個回顧，從基本資訊的蒐集到解讀，嘗試對自選的投資標的進行分析看看，能夠成功歸納就表示你已具備投資人的基本門檻了，只差最後估值這個工具就可以上路了。</p>
        </section>
      </div>
      <div class="4u 12u(narrower)">
        <section>
        <header>
          <h3>第二件事</h3>
        </header>
        <p>不過型態分析並非萬能，這是一個協助投資人辨識與歸納營運類型的工具。舉例來說，透過型態分析了解某家公司屬於穩定型態，因此在投資上就不會有不切實際的爆發性成長期望，或是面對一家循環型態的公司，資本配置比重可能會因此設定上限。</p>
        </section>
      </div>
      <div class="4u 12u(narrower)">
        <section>
        <header>
          <h3>第三件事</h3>
        </header>
        <p>投資人切勿將型態分析當成預測公司未來的神器，而是協助你設定投資策略的工具。</p>
        </section>
      </div>
      </div>
    <footer class="major">
      <ul class="buttons">
      <li><%= link_to "上一節", chapter2_section2_part7_index_path, class: "button" %></li>
            <li><%= link_to "下一節", chapter2_section3_part1_index_path, class: "button special" %></li>
      </ul>
    </footer>
      </section>
    <!-- Disqus -->
    <section class="wrapper style4 container">
          <div id="disqus_thread"></div>
            <script>
            /**
            * RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
            * LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables
            */
            /*
            var disqus_config = function () {
            this.page.url = PAGE_URL; // Replace PAGE_URL with your page's canonical URL variable
            this.page.identifier = PAGE_IDENTIFIER; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
            };
            */
            (function() { // DON'T EDIT BELOW THIS LINE
            var d = document, s = d.createElement('script');

            s.src = '//magnificbiz.disqus.com/embed.js';

            s.setAttribute('data-timestamp', +new Date());
            (d.head || d.body).appendChild(s);
            })();
            </script>
            <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
        </section>
        </article>
      </div>
      <!-- Scripts -->
        <script id="dsq-count-scr" src="//magnificbiz.disqus.com/count.js" async></script>
        <script src="https://use.typekit.net/mgd6kfe.js"></script>
        <script>try{Typekit.load({ async: true });}catch(e){}</script>
  </body>
</html>