<!DOCTYPE HTML>
<html>
  <head>
	<title>嘉鼎資本｜投資事業管理術資訊解讀投入資本</title>
	<meta charset="utf-8" />
    <meta name="description" content="嘉鼎資本投資事業管理術資訊解讀投入資本篇，幫助投資人了解公司經營層在未來營運配置的作法，計算投入資本、總資產、流動負債。">
  <meta name="keywords" content="嘉鼎資本, 投資事業管理術, 投資, 資訊, 投入資本, 總資產, 流動負債">
	<meta name="viewport" content="width=device-width, initial-scale=1" />
  </head>
  <body class="no-sidebar">
	<div id="page-wrapper">
	  <!-- Main -->
		<article id="main">
		  <header class="special container">
			<span class="icon fa-book"></span>
			  <h1>2-1-3 資訊解讀——投入資本篇</h1>
			  目標：學會解讀公司經營層在未來營運配置的作法</p>
		  </header>
	  <!-- One -->
		<section class="wrapper style4 container">
	  <!-- Content -->
		<div class="content">
		  <section>
			<p>簡易的計算方法如下：投入資本＝總資產－流動負債</p>
            <p>投入資本的意義在於，衡量公司的資本存量，也就是經營層把資金轉化成生產設備、存貨、研發技術、營運資金等用作營運用途的資金投入總量。</p>
			<p>雖然說投入資本的定義與計算有許多討論空間，然而對初階投資人只要掌握上述公式即可，接著讓我們來看一家知名品牌服飾的投入資本變化，投入資本與年均股價的變動趨勢一致。</br>
			<img class="img-responsive" src="https://s3-us-west-2.amazonaws.com/magnficcourse/pic2-1-3-1.png" alt="投入資本"></p>
            <p>當一家公司營收穫利良好時，投入資本通常也會隨之成長，這是因為公司經營層對未來看好因此投入增加，然而當情況相反時則會就會下滑。以本例來說，2012～2014年經歷了一段營運爆發的榮景，然而近年則出現停滯甚至些微衰退的狀況，這同時也反映在股價上。</p>
            再來看一家房屋建設公司的案例：</br>
            <img class="img-responsive" src="https://s3-us-west-2.amazonaws.com/magnficcourse/pic2-1-3-2.png" alt="投入資本"></p>
			<p>從2012年開始資本存量持續上升，長期股價也同步反映，然而在2016年出現了分歧，其實這是因為2016年公司投入不少資本，然而投資市場並不具備信心，因此出現了這樣的現象，這對投資人來說就是個好機會，因為一旦2016年過去公司的營運良好，這些投入資本就能夠帶來實質成長，屆時股價也會隨之跟上。</p>
            <span style="color:black;font-weight:default">■投入資本讓你了解公司對未來營運的看法</span><br>
            <p><mark>投入資本給投資人一個嚮導的作用</mark>，了解公司經營層在營運上的配置，通常對於未來營運有信心就會持續增加，而狀況不佳時則會產生減損或是減少投入的現象。同樣地，<mark>如果投入資本連續三年出現下滑，也是一個停止投入的警訊。</mark></p>
            <p>前面三個資訊協助投資人了解公司的營運狀況，偏向於公司經營層分析公司整體成果，後面兩個資訊則是偏向股東，從股東的觀點來解讀公司的經營成效。</p>
		  </section>
		</div>
		</section>
	  <!-- Two -->
		<section class="wrapper style1 container special">
		  <footer class="major">
			<ul class="buttons">
			  <li><%= link_to "上一節", chapter2_section1_part2_index_path, class: "button" %></li>
              <li><%= link_to "下一節", chapter2_section1_part4_index_path, class: "button special" %></li>
			</ul>
		  </footer>
		</section>
	  <!-- Disqus -->
        <section class="wrapper style4 container">
		  <div id="disqus_thread"></div>
            <script>
            /**
            * RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
            * LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables
            */
            /*
            var disqus_config = function () {
            this.page.url = PAGE_URL; // Replace PAGE_URL with your page's canonical URL variable
            this.page.identifier = PAGE_IDENTIFIER; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
            };
            */
            (function() { // DON'T EDIT BELOW THIS LINE
            var d = document, s = d.createElement('script');

            s.src = '//magnificbiz.disqus.com/embed.js';

            s.setAttribute('data-timestamp', +new Date());
            (d.head || d.body).appendChild(s);
            })();
            </script>
            <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
        </section>
        </article>
      </div>
      <!-- Scripts -->
        <script id="dsq-count-scr" src="//magnificbiz.disqus.com/count.js" async></script>
        <script src="https://use.typekit.net/mgd6kfe.js"></script>
        <script>try{Typekit.load({ async: true });}catch(e){}</script>
  </body>
</html>