<!DOCTYPE HTML>
<html>
  <head>
	<title>嘉鼎資本｜投資事業管理術課程目標</title>
	<meta charset="utf-8" />
	<meta name="description" content="投資事業管理術不會教你技術分析及報明牌，但是嘉鼎資本會教你如何看財務報表及判斷公司營運型態，學習基本面務必學習投資事業管理術。">
	<meta name="keywords" content="嘉鼎資本, 投資事業管理術, 投資, 課程目標, 技術分析, , 基本面, 財務報表, 公司營運">
	<meta name="viewport" content="width=device-width, initial-scale=1" />
  </head>
  <body class="no-sidebar">
	<div id="page-wrapper">
	  <!-- Main -->
		<article id="main">
		  <header class="special container">
			<span class="icon fa-book"></span>
			<h1>投資事業管理術課程目標</h1>
			<p>Be an intelligent investor, and grow your capital.</p>
		  </header>
	  <!-- One -->
		<section class="wrapper style4 container">
	  <!-- Content -->
		<div class="content">
		  <section>
			<span style="color:black;font-weight:default">■課程目標</span></br>
			<p>透過Step by step的教學，幫助投資人建立自己的投資事業，並讓資本蓬勃成長！！！</p>
			<span style="color:black;font-weight:default">■投資人會從課程中學到什麼？</span></br>
			<p>這是一個免費線上課程，包括4個章節，總長約5-6小時。在投資事業管理術課程中：</p>
			<p><mark>★你不會學到的是</mark></br>
			<del>1. 技術分析與操作</del></br>
			<del>2. α、β、θ、γ等數學公式</del></br>
			<del>3. 期權公式價格、最適資產配置、現代投資組合、效率市場假說等艱澀投資理論</del></br>
			<del>4. 老師報明牌</del></br>
			<del>5. 信心喊話</del></p>
			<mark>★但你將會學到</mark></br>
			1. 投資人應具備的基礎知識</br>
			2. 事業化報表的相關知識與應用</br>
			3. 建立自己的投資事業工具包</br>
			4. 建立投資事業</br>
			5. 系統化記錄你的投資歷程</br>
			6. 情境模擬與課程回顧</p>
		  </section>
		</div>
		</section>
	  <!-- Two -->
		<section class="wrapper style1 container special">
		  <footer class="major">
			<ul class="buttons">
			  <li><%= link_to "上一節", outline_index_path, class: "button" %></li>
			  <li><%= link_to "下一節", introduction_section1_index_path, class: "button special" %></li>
			</ul>
		  </footer>
		</section>
	  <!-- Disqus -->
        <section class="wrapper style4 container">
		  <div id="disqus_thread"></div>
            <script>
            /**
            * RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
            * LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables
            */
            /*
            var disqus_config = function () {
            this.page.url = PAGE_URL; // Replace PAGE_URL with your page's canonical URL variable
            this.page.identifier = PAGE_IDENTIFIER; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
            };
            */
            (function() { // DON'T EDIT BELOW THIS LINE
            var d = document, s = d.createElement('script');

            s.src = '//magnificbiz.disqus.com/embed.js';

            s.setAttribute('data-timestamp', +new Date());
            (d.head || d.body).appendChild(s);
            })();
            </script>
            <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
        </section>
        </article>
      </div>
      <!-- Scripts -->
        <script id="dsq-count-scr" src="//magnificbiz.disqus.com/count.js" async></script>
        <script src="https://use.typekit.net/mgd6kfe.js"></script>
        <script>try{Typekit.load({ async: true });}catch(e){}</script>
  </body>
</html>