<!DOCTYPE HTML>
<html>
  <head>
	<title>嘉鼎資本｜投資事業管理術投資事業重點總結Q&A</title>
	<meta charset="utf-8" />
  <meta name="description" content="嘉鼎資本投資事業管理術投資事業重點總結Q&A篇，幫助投資人在市場恐慌時能夠冷靜思考事業投資。">
  <meta name="keywords" content="嘉鼎資本, 投資事業管理術, 投資, 投資事業, Q&A">
	<meta name="viewport" content="width=device-width, initial-scale=1" />
  </head>
  <body class="no-sidebar">
	<div id="page-wrapper">
	  <!-- Main -->
		<article id="main">
		  <header class="special container">
			<span class="icon fa-book"></span>
			  <h1>4-2-2 投資事業重點總結——Q&A篇</h1>
		  </header>
	  <!-- One -->
		<section class="wrapper style4 container">
	  <!-- Content -->
		<div class="content">
		  <section>
			<p>這裡提供幾則最常被問到的事業投資Q&A，幫助投資人在迷失時導航，也可以說是當投資人在市場大海中浮沉時的救生圈：</p>
			<span style="color:black;font-weight:default">1. 投資後才發現，標的事業有許多資訊與當初分析的時候有出入，該怎麼辦？</span></br>
			<p>先確認這些新資訊是否能夠解讀。</br>
      Yes：以如果還沒投資該標的事業，而有這些資訊後，我是否還會決定投入，作為判斷依據。</br>No：盡快出售該項投資，因為將來會有更多你無法理解的資訊。</p>
      <span style="color:black;font-weight:default">2. 標的事業的營運型態在投入後改變了，該怎麼辦？</span></br>
      <p>先嘗試了解變成甚麼型態，並分析這個改變，對於你的事業設計有甚麼影響。如果本來是穩定成長變成衰退，就要開始找替代標的；如果本來是成長變成穩定的，那就要看是否還能夠達成目標，不然也是要找替代標的。提供一個準則給投資人參考：</br>
      (1) 轉衰退就找替代。</br>
      (2) 成長／穩定互轉就繼續觀察。</br>
      (3) 循環週期變動要先釐清目前所在週期，然後再決定加減碼。</br>
      (4) 無法理解的型態也準備出售該項事業。</p>
      <span style="color:black;font-weight:default">3. 投資後市值一直下滑，該怎麼辦？</span></br>
      請先理性冷靜，價格受到很多消息面影響，投資人還是先回歸營運狀況，或是公司近期發布的重大資訊。</p>
      <span style="color:black;font-weight:default">4. 建立好投資事業後，但不知道後續還能做甚麼？</span></br>
      <p>持續紀錄所有標的公司的新資訊，然後分析投資事業的營運狀況是否符合期望，這是最基本的管理準則。事實上管理投資事業還有更多更複雜與先進的策略，但已經超過初階投資人的學習範圍，有興趣想更進階的投資人可以與<%= link_to"嘉鼎資本聯繫", contact_index_path %>，未來將會開設相關的實體進階課程。</p>
      <span style="color:black;font-weight:default">5. 傳統投資都看技術線型，又快又簡單，事業投資似乎很難？</span></br>
      <p>其實這是一個迷思，線型因為僅僅用價格作為資訊來源，所以快又好學，然而只有一個資訊所做的分析與判斷可靠嗎？事業投資起頭的確比較複雜，但是當投資人能夠駕輕就熟掌握這些基本資訊，便可以做出合理、有效且更正確的決策。</p>
      <span style="color:black;font-weight:default">6. 景氣不好時可以開始投資嗎？</span></br>
      <p>景氣枯榮是很抽象的概念，其實應該這樣看待景氣——當循環型態的公司巧合地一起來到營運高點，加上成長型態公司百花齊放，就是景氣繁榮；反之循環低點且成長類型的公司營運趨於保守，就是景氣低迷。但不論那種情況，投資人只需專注在蒐集資訊、分析型態、找到合適的投資標的，避開衰退公司，自然就能不受景氣影響。</p>
		  </section>
		</div>
		</section>
	  <!-- Two -->
		<section class="wrapper style1 container special">
		  <footer class="major">
			<ul class="buttons">
			  <li><%= link_to "上一節", chapter4_section2_part1_index_path, class: "button" %></li>
        <li><%= link_to "下一節", chapter4_section2_part3_index_path, class: "button special" %></li>
			</ul>
		  </footer>
		</section>
	  <!-- Disqus -->
		<section class="wrapper style4 container">
          <div id="disqus_thread"></div>
            <script>
            /**
            * RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
            * LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables
            */
            /*
            var disqus_config = function () {
            this.page.url = PAGE_URL; // Replace PAGE_URL with your page's canonical URL variable
            this.page.identifier = PAGE_IDENTIFIER; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
            };
            */
            (function() { // DON'T EDIT BELOW THIS LINE
            var d = document, s = d.createElement('script');

            s.src = '//magnificbiz.disqus.com/embed.js';

            s.setAttribute('data-timestamp', +new Date());
            (d.head || d.body).appendChild(s);
            })();
            </script>
            <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
        </section>
        </article>
      </div>
      <!-- Scripts -->
        <script id="dsq-count-scr" src="//magnificbiz.disqus.com/count.js" async></script>
        <script src="https://use.typekit.net/mgd6kfe.js"></script>
        <script>try{Typekit.load({ async: true });}catch(e){}</script>
  </body>
</html>