<!DOCTYPE HTML>
<html>
  <head>
	<title>嘉鼎資本｜投資事業管理術投資者資訊重大資訊</title>
	<meta charset="utf-8" />
	<meta name="description" content="嘉鼎資本投資事業重大資訊篇，所謂重大資訊，像是發佈財務報告、新產品、整併資訊、經營者人事變動、股利訊息等。有些公司會針對媒體不實訊息做出澄清，澄清的內容也會放入重大資訊中。範例為統一超商及鴻海。">
  <meta name="keywords" content="嘉鼎資本, 投資事業管理術, 投資, 重大資訊, 財務報告, 整併, 統一超商, 鴻海">
	<meta name="viewport" content="width=device-width, initial-scale=1" />
  </head>
  <body class="no-sidebar">
	<div id="page-wrapper">
	  <!-- Main -->
		<article id="main">
		  <header class="special container">
			<span class="icon fa-book"></span>
			  <h1>1-2-4 投資者資訊——重大資訊篇</h1>
			  <p>目標：學會尋找媒體沒興趣但對股東影響甚大的資訊</p>
		  </header>
	  <!-- One -->
		<section class="wrapper style4 container">
	  <!-- Content -->
		<div class="content">
		  <section>
			<p>所謂重大資訊，像是發佈財務報告、新產品、整併資訊、經營者人事變動、股利訊息等。一般定義就是營運重大內容或改變的資訊揭露，這對於投資人或是股東都有極大影響，甚至部分重大資訊是法定要求有正式報告格式，並需上繳到相關管理單位（如：台灣的金管會或是美國的證管會)。</p>
			<p>在台灣還有個有趣的現象就是，有些公司會針對媒體不實訊息做出澄清，澄清的內容也會放入重大資訊中。</p>
			<p>重大資訊可分為兩類：</br>
			1. 公司認定重大</br>
			2. 法規明定公開</br>
			以下分別舉統一及鴻海作來做說明。</p>
			<span style="color:black;font-weight:default">■Step 1. 點選「<a href="http://www.7-11.com.tw/" target="_blank">統一超商</a>」網站</span></br>
			<img class="img-responsive" src="https://s3-us-west-2.amazonaws.com/magnficcourse/pic1-2-4-1.png" alt="統一超商"></p>
			<span style="color:black;font-weight:default">■Step 2. 點選「企業」下的「投資人關係」中的「<a href="http://www.7-11.com.tw/company/ir/material.html" target="_blank">重大訊息公告</a>」</span></br>
			<p>公司認定重大，所以發佈的訊息，通常會公開在公司的網站或各大媒體之中。</br>
			<img class="img-responsive" src="https://s3-us-west-2.amazonaws.com/magnficcourse/pic1-2-4-2.png" alt="統一超商首頁"></p>
			<img class="img-responsive" src="https://s3-us-west-2.amazonaws.com/magnficcourse/pic1-2-4-3.png" alt="統一超商投資人關係"></p>
			<img class="img-responsive" src="https://s3-us-west-2.amazonaws.com/magnficcourse/pic1-2-4-4.png" alt="統一超商重大消息公告"></p>
			<span style="color:black;font-weight:default">■Step 3. 點選「<a href="http://mops.twse.com.tw/mops/web/index" target="_blank">公開資訊觀測站</a>」網站</span></br>
			<p>例如：財務訊息、經營者人事變動、重大營運變動等相關資訊，依照法規這些訊息都必須上傳至公開資訊觀測站。</p>
			<span style="color:black;font-weight:default">■Step 4. 搜尋公司名稱「<a href="http://mops.twse.com.tw/mops/web/t146sb05" target="_blank">鴻海</a>」或輸入交易代號「<a href="http://mops.twse.com.tw/mops/web/t146sb05" target="_blank">2317</a>」</span></br>
			<img class="img-responsive" src="https://s3-us-west-2.amazonaws.com/magnficcourse/pic1-2-4-5.png" alt="公開資訊觀測站"></p>
			<span style="color:black;font-weight:default">■Step 5. 瀏覽「公司基本資訊」</span></br>
			<img class="img-responsive" src="https://s3-us-west-2.amazonaws.com/magnficcourse/pic1-2-4-6.png" alt="鴻海公司基本資訊"></p>
            <span style="color:black;font-weight:default">■Step 6. 瀏覽「重大資訊」</span></br>
            <img class="img-responsive" src="https://s3-us-west-2.amazonaws.com/magnficcourse/pic1-2-4-7.png" alt="鴻海重大資訊"></p>
            <p>這就是本小節的主軸，所有法規規範的重大資訊，以及媒體不實報導的澄清，都一定會上傳至這個區塊，因此是投資人必定要常來瀏覽，特別是你所投資的公司。</p>
            <span style="color:black;font-weight:default">■Step 7. 瀏覽「財報資訊」</span></br>
            <img class="img-responsive" src="https://s3-us-west-2.amazonaws.com/magnficcourse/pic1-2-4-8.png" alt="鴻海"></p>
            <p>三項財報資訊分別是公司的損益表、資產負債表、現金流量表，有些公司還會額外製作股東權益變動表，將會在下一小節中說明。</p>
		  </section>
		</div>
		</section>
	  <!-- Two -->
		<section class="wrapper style1 container special">
		  <footer class="major">
			<ul class="buttons">
			  <li><%= link_to "上一節", chapter1_section2_part3_index_path, class: "button" %></li>
			  <li><%= link_to "下一節", chapter1_section2_part5_index_path, class: "button special" %></li>
			</ul>
		  </footer>
		</section>
	  <!-- Disqus -->
        <section class="wrapper style4 container">
		  <div id="disqus_thread"></div>
            <script>
            /**
            * RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
            * LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables
            */
            /*
            var disqus_config = function () {
            this.page.url = PAGE_URL; // Replace PAGE_URL with your page's canonical URL variable
            this.page.identifier = PAGE_IDENTIFIER; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
            };
            */
            (function() { // DON'T EDIT BELOW THIS LINE
            var d = document, s = d.createElement('script');

            s.src = '//magnificbiz.disqus.com/embed.js';

            s.setAttribute('data-timestamp', +new Date());
            (d.head || d.body).appendChild(s);
            })();
            </script>
            <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
        </section>
        </article>
      </div>
      <!-- Scripts -->
        <script id="dsq-count-scr" src="//magnificbiz.disqus.com/count.js" async></script>
        <script src="https://use.typekit.net/mgd6kfe.js"></script>
        <script>try{Typekit.load({ async: true });}catch(e){}</script>
  </body>
</html>