<!DOCTYPE HTML>
<html>
  <head>
	<title>嘉鼎資本｜投資事業管理術投資者資訊測驗篇</title>
	<meta charset="utf-8" />
  <meta name="description" content="嘉鼎資本投資事業管理術測驗篇，主要用來測測試是否學會投資人關係、公司治理、股東專欄及重大資訊等投資者資訊。">
  <meta name="keywords" content="嘉鼎資本, 投資事業管理術, 投資, 投資人關係, 公司治理, 股東專欄, 重大資訊">
	<meta name="viewport" content="width=device-width, initial-scale=1" />
  </head>
  <body class="no-sidebar">
	<div id="page-wrapper">
	  <!-- Main -->
		<article id="main">
		  <header class="special container">
			<span class="icon fa-book"></span>
			<h1>1-2-5 投資者資訊——測驗篇</h1>
			<p>目標：測試是否學會投資人關係、公司治理、股東專欄及重大資訊等投資者資訊</p>
		  </header>
	  <!-- One -->
		<section class="wrapper style4 container">
	  <!-- Content -->
		<div class="content">
		  <section>
			<span style="color:black;font-weight:default">1. 專門揭露公司股東必須與權益相關資訊的網站區塊，通常會被稱為？</span></br>
			<div class="checkbox">
        <label>
          <input type="checkbox" value="">A. 投資人關係。</br>
          <input type="checkbox" value="">B. 投資人服務。</br>
          <input type="checkbox" value="">C. 投資人資訊。</br>
          <input type="checkbox" value="">D. 以上皆是。</br>
        </label>
      </div></p>
			<span style="color:black;font-weight:default">2. 下列何者並非<a href="http://cht.pegatroncorp.com/" target="_blank">和碩聯合科技股份有限公司</a>所載於公司章程的主要營運事業項目？</span></br>
			<div class="checkbox">
        <label>
          <input type="checkbox" value="">A. F401021電信管制射頻器材輸入業。</br>
          <input type="checkbox" value="">B. CC01010 發電、輸電、配電機械製造業。</br>
          <input type="checkbox" value="">C. CC01101電信管制射頻器材製造業。</br>
          <input type="checkbox" value="">D. 以上皆是。</br>
        </label>
      </div></p>
      <span style="color:black;font-weight:default">3. <a href="http://www.foxconn.com.tw/" target="_blank">鴻海精密工業股份有限公司</a>於104年股東會決議發放現金股利為？</span></br>
			<div class="checkbox">
        <label>
          <input type="checkbox" value="">A. 0.5 元。</br>
          <input type="checkbox" value="">B. 2.5元。</br>
          <input type="checkbox" value="">C. 3.8元。</br>
          <input type="checkbox" value="">D. 7.7元。</br>
        </label>
      </div></p>
      <span style="color:black;font-weight:default">4. 以下三則報導，何者為真實公司發佈訊息？</span></br>
			<div class="checkbox">
        <label>
          <input type="checkbox" value="">A. <a href="http://news.ltn.com.tw/news/business/paper/973760" target="_blank">統一超商</a>總經理陳瑞堂表示，今年將砸30億元改裝580家舊門市及開大店，加上高價值及獨特產品挹注下，首季單店營收成長6%，獲利可望有兩位數成長。</br>
          <input type="checkbox" value="">B. <a href="http://money.udn.com/money/story/5710/1617346-%E8%8F%AF%E7%A2%A9%E5%A2%9E37%EF%BC%85-%E9%9B%BB%E7%AB%B6NB%E5%87%BA%E8%B2%A8%E6%97%BA" target="_blank">華碩</a>今年首季高階電競筆電出貨順暢，帶動本業獲利年增逾14%，在業外風險管控得宜，每股稅後純益有近6元實力。</br>
          <input type="checkbox" value="">C. 國際油價下探低點，按最新油價，航空燃油第4季每桶均價已低於60美元...其中<a href="http://www.appledaily.com.tw/appledaily/article/finance/20151228/36978255/" target="_blank">華航</a>11月貨運表現優於預期，再加上歐美客運需求成長，法人看好，單季獲利可望維持15億元以上高水位。</br>
          <input type="checkbox" value="">D. 以上皆非。</br>
        </label>
      </div></p>
      <span style="color:black;font-weight:default">5. 下列何種提案，通常不屬於股東會中報告、討論或承認？</span></br>
			<div class="checkbox">
        <label>
          <input type="checkbox" value="">A. 上游合作廠商更換。</br>
          <input type="checkbox" value="">B. 公司章程變更。</br>
          <input type="checkbox" value="">C. 股利發放。</br>
          <input type="checkbox" value="">D. 員工紅利。</br>
        </label>
      </div></p>
      <footer>
			  <ul class="buttons">
				<li><%= link_to "看解答", chapter1_section2_part6_index_path, class: "button small" %></li>
			  </ul>
			</footer>
		  </section>
		</div>
		</section>
	  <!-- Two -->
		<section class="wrapper style1 container special">
		  <footer class="major">
			<ul class="buttons">
			  <li><%= link_to "上一節", chapter1_section2_part4_index_path, class: "button" %></li>
			  <li><%= link_to "下一節", chapter1_section2_part6_index_path, class: "button special" %></li>
			</ul>
		  </footer>
	    </section>
	  <!-- Disqus -->
        <section class="wrapper style4 container">
      <div id="disqus_thread"></div>
            <script>
            /**
            * RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
            * LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables
            */
            /*
            var disqus_config = function () {
            this.page.url = PAGE_URL; // Replace PAGE_URL with your page's canonical URL variable
            this.page.identifier = PAGE_IDENTIFIER; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
            };
            */
            (function() { // DON'T EDIT BELOW THIS LINE
            var d = document, s = d.createElement('script');

            s.src = '//magnificbiz.disqus.com/embed.js';

            s.setAttribute('data-timestamp', +new Date());
            (d.head || d.body).appendChild(s);
            })();
            </script>
            <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
        </section>
        </article>
      </div>
      <!-- Scripts -->
        <script id="dsq-count-scr" src="//magnificbiz.disqus.com/count.js" async></script>
        <script src="https://use.typekit.net/mgd6kfe.js"></script>
        <script>try{Typekit.load({ async: true });}catch(e){}</script>
  </body>
</html>