<!DOCTYPE HTML>
<html>
  <head>
	<title>嘉鼎資本｜投資事業管理術資訊解讀解答篇</title>
	<meta charset="utf-8" />
	<meta name="description" content="嘉鼎資本投資事業管理術資訊解讀解讀篇，投資人確認了解解讀營收、營業淨利（營業利益）、淨利、投入資本、淨值等資訊。">
  <meta name="keywords" content="嘉鼎資本, 投資事業管理術, 投資, 資訊, 營收, 營業淨利, 營業利益, 投入資本, 淨值">
	<meta name="viewport" content="width=device-width, initial-scale=1" />
  </head>
  <body class="no-sidebar">
	<div id="page-wrapper">
	  <!-- Main -->
		<article id="main">
		  <header class="special container">
			<span class="icon fa-book"></span>
	     	  <h1>2-1-7 資訊解讀——解答篇</h1>
		  </header>
	  <!-- One -->
		<section class="wrapper style4 container">
	  <!-- Content -->
		<div class="content">
		  <section>
			<span style="color:black;font-weight:default">1. 營收通常可以反映出公司的？（複選）</span></br>
			A. 資本存量。</br>
            B. 獲利狀況。</br>
            <mark>C. 銷售狀況。</mark></br>
            <mark>D. 競爭優劣。</mark></p>
			<span style="color:black;font-weight:default">2. 下列何者對於營業淨利（營業利益）的描述錯誤？</span></br>
			<mark>A. 營業淨利（營業利益）是稅後息前的公司利潤，也是公司在營運最終所產生的利潤。</mark></br>
            B. 營業淨利（營業利益）不涵蓋匯兌損失、投資損失、資產減損等非營運項目。</br>
            C. 營業淨利（營業利益）長期比淨利更能反映公司的營運狀況。</br>
            D. 對投資人來說，營業淨利（營業利益）比毛利更具有說明意義。</p>
            <span style="color:black;font-weight:default">3. 只看淨利會出現下列那種盲點？</span></br>
            A. 獲利來自於非營業項目，無持續性。</br>
            B. 淨損並非現金項目，公司不會因為淨損而周轉失靈。</br>
            C. 淨利對於公司的銷售與競爭狀況較無說明能力。</br>
            <mark>D. 以上皆是。</mark></p>
            <span style="color:black;font-weight:default">4. 下列對於淨值的說明，何者為非？</span></br>
            A. 存量的概念。</br>
            B. 股東權益。</br>
            C. 有獲利的公司淨值就一定會提高。</br>
            <mark>D. 已發放股利並非淨值的一部分。</mark></p>
            <span style="color:black;font-weight:default">5. 下列對於投入資本的應用，何者為非？</span></br>
            A. 投入資本的增加，顯示經營層對於未來營運狀況具備信心。</br>
            <mark>B. 投入資本可以做為先行指標，資本增加指示股價將上升。</mark></br>
            C. 投入資本反映公司的資本存量。</br>
            D. 投入資本＝總資產－流動負債。</p>	
			<blockquote>
			斷＝斷絕不必要</br>
			捨＝捨棄多餘</br>
			離＝脫離執著</br>
            ——山下英子</br>
			</blockquote>
		  </section>
		</div>
		</section>
	  <!-- Two -->
		<header class="special container">
		  <span class="icon fa-bell"></span>
		  <h2>我在資訊解讀學到最重要的三件事</h2>
		</header>
		<section class="wrapper style1 container special">
		  <div class="row">
			<div class="4u 12u(narrower)">
			  <section>
				<header>
				  <h3>第一件事</h3>
				</header>
				公司的基本資訊十分龐雜，光是財務資訊就足夠投資人花費數年研究，特別在資訊爆炸的網路時代。</p>
			  </section>
			</div>
			<div class="4u 12u(narrower)">
			  <section>
				<header>
				  <h3>第二件事</h3>
				</header>
				因此解讀與篩選變得更重要，這個章節提供投資人五個精簡，卻能夠說明公司營運的財務資訊。</p>
			  </section>
			</div>
			<div class="4u 12u(narrower)">
			  <section>
				<header>
				  <h3>第三件事</h3>
				</header>
				投資人不妨開始嘗試，從第一章選出的公司中解讀看看吧。</p>
			  </section>
			</div>
		  </div>
		<footer class="major">
		  <ul class="buttons">
			<li><%= link_to "上一節", chapter2_section1_part6_index_path, class: "button" %></li>
            <li><%= link_to "下一節", chapter2_section2_part1_index_path, class: "button special" %></li>
		  </ul>
		</footer>
		</section>
	  <!-- Disqus -->
		<section class="wrapper style4 container">
          <div id="disqus_thread"></div>
            <script>
            /**
            * RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
            * LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables
            */
            /*
            var disqus_config = function () {
            this.page.url = PAGE_URL; // Replace PAGE_URL with your page's canonical URL variable
            this.page.identifier = PAGE_IDENTIFIER; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
            };
            */
            (function() { // DON'T EDIT BELOW THIS LINE
            var d = document, s = d.createElement('script');

            s.src = '//magnificbiz.disqus.com/embed.js';

            s.setAttribute('data-timestamp', +new Date());
            (d.head || d.body).appendChild(s);
            })();
            </script>
            <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
        </section>
        </article>
      </div>
      <!-- Scripts -->
        <script id="dsq-count-scr" src="//magnificbiz.disqus.com/count.js" async></script>
        <script src="https://use.typekit.net/mgd6kfe.js"></script>
        <script>try{Typekit.load({ async: true });}catch(e){}</script>
  </body>
</html>