<!DOCTYPE HTML>
<html>
  <head>
	<title>嘉鼎資本｜投資事業管理術資訊解讀淨值</title>
	<meta charset="utf-8" />
	<meta name="description" content="嘉鼎資本投資事業管理術資訊解讀淨值篇，投資人學會解讀每股淨值並解讀完整股東權益變化。">
  <meta name="keywords" content="嘉鼎資本, 投資事業管理術, 投資, 資訊, 淨值, 每股淨值, 股東權益">
	<meta name="viewport" content="width=device-width, initial-scale=1" />
  </head>
  <body class="no-sidebar">
	<div id="page-wrapper">
	  <!-- Main -->
		<article id="main">
		  <header class="special container">
			<span class="icon fa-book"></span>
			  <h1>2-1-5 資訊解讀——淨值篇</h1>
			  <p>目標：學會解讀每股淨值並解讀完整股東權益變化</p>
		  </header>
	  <!-- One -->
		<section class="wrapper style4 container">
	  <!-- Content -->
		<div class="content">
		  <section>
			<p>簡易的計算方式：淨值＝總資產－總負債，也就是股東權益。</p>
			<p>特別注意這裡採用每股淨值而非總淨值，原因是總體淨值可以透過發行新股或是庫藏股賣出等方式上升，因此，即使每股淨值可能會因股數增加而稀釋，但採用每股淨值會更加貼近股東觀點。</p>
			<p><mark>每股淨值＝財報上的股東權益／在外流通股數</mark></p>
			<p>另外股利也是容易被忽略的部分，我們主張將每股股利加回每股淨值中，因為股利是公司盈餘的分享，加回股利可以更確實地反映出公司在提高股東權益上的成果。</p>
			<p>舉例來說，公司今年的每股淨值是50元，盈餘10元，股利2元，所以淨值就會變成50＋10－2＝58元。由於衡量每股淨值的目的，就是要解讀完整股東權益的變化，所以要把那2元發放股利加回，如此淨值就變成60元。由於淨值變化加回股利，因此股價也同樣加回同期股利，這樣股價與淨值的比較基準才會公平。</p>
			用實際案例來看，大家可能會比較清楚，下圖是一家果醬公司的淨值變化：</br>
			<img class="img-responsive" src="https://s3-us-west-2.amazonaws.com/magnficcourse/pic2-1-5-1.png" alt="淨值"></p>
			<p>通常一個穩定成長的公司，淨值也會跟著穩定增加，不過也有像下圖大型連鎖日用品量販店的公司：</br>
			<img class="img-responsive" src="https://s3-us-west-2.amazonaws.com/magnficcourse/pic2-1-5-2.png" alt="淨值"></p>
			<p>由於公司的資本需求不高，所以在2013年與2015年以特別股利的方式發放大額股利，但同時也影響了股價的成長；淨值呈現鋸齒狀的成長，而股價也呈現階梯式的成長。</p>
			<p>每當公司發放大額股利後，當年股東因為知道成長有限，所以股價成長就趨緩了，直到下一年度公司保留大部分盈餘回到淨值，股價又隨著公司的成長而跟著成長。<mark>說明了淨值是一個存量的概念，當公司保留越多資本，未來成長的空間就可能越大，而營收與營業淨利（營業利益）則是成果展現，兩者需一起搭配才能夠有持久的成長。</mark></p>
			<p>但如果遇到類似下圖的智慧型手機公司，就要特別注意：</br>
			<img class="img-responsive" src="https://s3-us-west-2.amazonaws.com/magnficcourse/pic2-1-5-3.png" alt="淨值"></p>
			<p>2013年由於銷售狀況不佳出現虧損進而導致淨值下滑，然而這還屬於營業內損失，幅度不大；到2014年由於持續面對營運上的困境，經營層減損一半資產，導致於淨值大幅下滑，結果股價也一起跳水。</p>
			<p><mark>一般來說，與營收雷同，如果淨值出現連續三年的下滑，也是一個停止投入警訊。</mark></p>
		  </section>
		</div>
		</section>
	  <!-- Two -->
		<section class="wrapper style1 container special">
		  <footer class="major">
			<ul class="buttons">
			  <li><%= link_to "上一節", chapter2_section1_part4_index_path, class: "button" %></li>
              <li><%= link_to "下一節", chapter2_section1_part6_index_path, class: "button special" %></li>
			</ul>
		  </footer>
		</section>
	  <!-- Disqus -->
		<section class="wrapper style4 container">
		  <div id="disqus_thread"></div>
            <script>
            /**
            * RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
            * LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables
            */
            /*
            var disqus_config = function () {
            this.page.url = PAGE_URL; // Replace PAGE_URL with your page's canonical URL variable
            this.page.identifier = PAGE_IDENTIFIER; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
            };
            */
            (function() { // DON'T EDIT BELOW THIS LINE
            var d = document, s = d.createElement('script');

            s.src = '//magnificbiz.disqus.com/embed.js';

            s.setAttribute('data-timestamp', +new Date());
            (d.head || d.body).appendChild(s);
            })();
            </script>
            <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
        </section>
        </article>
      </div>
      <!-- Scripts -->
        <script id="dsq-count-scr" src="//magnificbiz.disqus.com/count.js" async></script>
        <script src="https://use.typekit.net/mgd6kfe.js"></script>
        <script>try{Typekit.load({ async: true });}catch(e){}</script>
  </body>
</html>