<!DOCTYPE HTML>
<html>
  <head>
    <title>嘉鼎資本｜投資事業管理術建置投資事業解答篇</title>
    <meta charset="utf-8" />
    <meta name="description" content="嘉鼎資本投資事業管理術建置投資事業測驗篇，確認投資人是否學會利用瀑布法、互補法及排序法建置自己的投資事業組合。">
  <meta name="keywords" content="嘉鼎資本, 投資事業管理術, 投資, 投資事業, 排序法, 互補法, 瀑布法, ">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
  </head>
  <body class="no-sidebar">
    <div id="page-wrapper">
      <!-- Main -->
        <article id="main">
          <header class="special container">
            <span class="icon fa-book"></span>
              <h1>3-2-7 建置投資事業——解答篇</h1>
          </header>
      <!-- One -->
        <section class="wrapper style4 container">
      <!-- Content -->
        <div class="content">
          <section>
            <span style="color:black;font-weight:default">1. 下列何者為建議給初階投資人適合的投資事業組合方法？</span></br>
            A. 互補法。</br>
            B. 排序法。</br>
            <mark>C. 瀑布法。</mark></br>
            D. 邏輯法。</br>
            E. 歸納法。</p>
            <span style="color:black;font-weight:default">2. 瀑布法除了平均權重外，還可以依照營運型態區分比重，下列何者對於追求穩定優先的投資目標較合適？</span></br>
            A. 成長型80%＋穩定型20%。</br>
            <mark>B. 成長型40%＋穩定型60%。</mark></br>
            C. 成長型40%＋穩定型40%＋循環型20%。</br>
            D. 穩定型50%＋循環型50%。</p>
            <span style="color:black;font-weight:default">3. 互補法一般使用原則中，下列何者正確？</span></br>
            A. 建議給有一定程度投資經驗甚至是老練投資人，初階投資人採用瀑布法比較適合。</br>
            B. 建議要有3家以上的組合，可以2家互補1家穩定，提供風險抑制的效果。</br>
            C. 避開同營運內容的公司，以免發生齊漲齊跌的共振效應，抵銷了互補的優勢。</br>
            D. 經常觀察與紀錄事業型態的變化，如併購或是經濟環境改變，可能導致互補失失效。</br>
            E. 仍然遵守資本力門檻法則，降低價格風險，然而資本回報率（ROC）的計算可採過去12個月或前一年數值，而非長期平均值。</br>
            <mark>F. 以上皆是。</mark></p>
            <span style="color:black;font-weight:default">4. 排序法的優點在於？</span></br>
            A. 可以快速地篩選出符合標準的公司。</br>
            B. 透過較多的標的抑制風險。</br>
            C. 機械式篩選，減少人為干預。</br>
            D. 綜合營運風險與價格風險，非獨立評估。</br>
            <mark>E. 以上皆是。</mark></p>
            <span style="color:black;font-weight:default">5. 對於不同營運型態的公司，篩選的標準可以不同，請將下列標準與型態配對：</span></br>
            <div class="table-responsive">
              <table class="table">
                <tr>
                  <td>成長型</td>
                  <td>(1) 過去10年最低ROC>0%與資本力>15%</td>
                </tr>
                <tr>
                  <td>穩定型</td>
                  <td>(2) ROC>12%與資本力>12%</td>
                </tr>
                <tr>
                  <td>循環型</td>
                  <td>(3) 不列入考量</td>
                </tr>
                <tr>
                  <td>衰退型</td>
                  <td>(4) ROC>8%與資本力>8%</td>
                </tr>
              </table>
            </div>
            A. 成長-1、穩定-2、循環-3、衰退-4 。</br>
            B. 穩定-1、衰退-2、循環-3、成長-4。</br>
            <mark>C. 循環-1、成長-2、衰退-3、穩定-4。</mark></br>
            D. 穩定-1、成長-2、循環-3、衰退-4。</p>
          </div>  
            <blockquote>
            千里之行，始於足下。</br>
            ——《道德經》</br>
            </blockquote>
          </section>
        </div>
        </section>
      <!-- Two -->
        <header class="special container">
          <span class="icon fa-bell"></span>
            <h2>我在建置投資事業學到最重要的三件事</h2>
        </header>
        <section class="wrapper style1 container special">
          <div class="row">
            <div class="4u 12u(narrower)">
              <section>
                <header>
                  <h3>第一件事</h3>
                </header>
                建置事業組合是每個投資人都應該學習的功課，如果希望你的投資能夠持續、累積、系統化，投資事業是一個相當符合的工具。</p>
              </section>
            </div>
            <div class="4u 12u(narrower)">
              <section>
                <header>
                  <h3>第二件事</h3>
                </header>
                建置投資事業組合的兩大優勢在於：透過型態比例來決定事業的發展方向並透過足夠的標的數量來降低營運風險，然而投資事業組合並非萬能，每隔一段時間都需要檢視與調整，必要的時候還需要改變整個結構，如同導航一樣，建置組合就像是設立目標與確定路線，但是旅途開始後可能會遇到當初沒有預想的情況。</p>
              </section>
            </div>
            <div class="4u 12u(narrower)">
              <section>
                <header>
                  <h3>第三件事</h3>
                </header>
                監控與管理就是建立投資事業後接踵而來的任務，雖然本課程不提供投資事業的管理教學，然而在下一章節還是會提供投資人一項工具——事業報表，讓投資人可以衡量自己的事業是否在正確的軌道上。</p>
              </section>
            </div>
          </div>
          <footer class="major">
            <ul class="buttons">
              <li><%= link_to "上一節", chapter3_section2_part6_index_path, class: "button" %></li>
              <li><%= link_to "下一節", chapter4_section1_part1_index_path, class: "button special" %></li>
            </ul>
          </footer>
          </section>
      <!-- Disqus -->
        <section class="wrapper style4 container">
          <div id="disqus_thread"></div>
            <script>
            /**
            * RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
            * LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables
            */
            /*
            var disqus_config = function () {
            this.page.url = PAGE_URL; // Replace PAGE_URL with your page's canonical URL variable
            this.page.identifier = PAGE_IDENTIFIER; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
            };
            */
            (function() { // DON'T EDIT BELOW THIS LINE
            var d = document, s = d.createElement('script');

            s.src = '//magnificbiz.disqus.com/embed.js';

            s.setAttribute('data-timestamp', +new Date());
            (d.head || d.body).appendChild(s);
            })();
            </script>
            <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
        </section>
        </article>
      </div>
      <!-- Scripts -->
        <script id="dsq-count-scr" src="//magnificbiz.disqus.com/count.js" async></script>
        <script src="https://use.typekit.net/mgd6kfe.js"></script>
        <script>try{Typekit.load({ async: true });}catch(e){}</script>
  </body>
</html>