<!DOCTYPE HTML>
<html>
  <head>
	<title>嘉鼎資本｜投資事業管理術基本資訊測驗篇</title>
	<meta charset="utf-8" />
  <meta name="description" content="嘉鼎資本投資事業管理術測驗篇，主要用來測試投資人是否理解如何尋找投資公司的產品服務、公司介紹、新聞及企業社會責任。">
  <meta name="keywords" content="嘉鼎資本, 投資事業管理術, 投資, 產品服務, 公司介紹, 企業社會責任">
	<meta name="viewport" content="width=device-width, initial-scale=1" />
  </head>
  <body class="no-sidebar">
	<div id="page-wrapper">
	  <!-- Main -->
		<article id="main">
		  <header class="special container">
			<span class="icon fa-book"></span>
			<h1>1-1-4 基本資訊——測驗篇</h1>
			<p>目標：測試是否學會瀏覽產品／服務、關於公司、新聞及企業社會責任等基本資訊</p>
		  </header>
	  <!-- One -->
		<section class="wrapper style4 container">
	  <!-- Content -->
		<div class="content">
		  <section>
			<span style="color:black;font-weight:default">1. 下列何者非上市公司「<a href="http://www.largan.com.tw/html/product/product_cellphone.asp" target="_blank">大立光</a>」的產品？</span></br>
			<div class="checkbox">
        <label>
          <input type="checkbox" value="">A. 手機相機鏡頭。</br>
          <input type="checkbox" value="">B. 車用相機鏡頭。</br>
          <input type="checkbox" value="">C. 掃描器鏡頭。</br>
          <input type="checkbox" value="">D. 望遠鏡鏡頭。</br>
        </label>
      </div></p>
			<span style="color:black;font-weight:default">2. 以下對於「<a href="http://www.ttet.com.tw/index.php?option=module&lang=cht&task=pageinfo&id=1&index=1" target="_blank">大統益</a>」的描述介紹是否正確？</span></br>
			<p>「大統益公司位於台灣嘉南平原的中心，為台灣營業規模最大的大豆提油廠。目前大豆年加工產能達 150 萬噸，大豆油及大豆粉產量為全台灣第一。多年來大統益一直致力於從自己有競爭優勢的核心產品出發去創造利潤，也謹慎的從事轉投資及多角化經營，因此經營規模能不斷擴大，產品銷售亦不僅限於台灣，更將通路擴展到日本及東南亞等地區。大統益公司股票在台灣證券交易所公開上市（代號： 1232 ）」。</br>
			<div class="checkbox">
        <label>
          <input type="checkbox" value="">A. 是。</br>
          <input type="checkbox" value="">B. 否。</br>
        </label>
            </div></p>
      <span style="color:black;font-weight:default">3. 下列何者為「<a href="http://www.deltaww.com/news/press.aspx?secID=3&pID=1&typeID=0&page=1&tid=0&hl=zh-TW" target="_blank">台達電子</a>」2016/05/03發佈的新聞？</span></br>
			<div class="checkbox">
        <label>
          <input type="checkbox" value="">A. 台達電子公佈一百零五年第一季財務報表。</br>
          <input type="checkbox" value="">B. 台達電子連續四年榮獲《遠見雜誌》企業社會責任獎雙料首獎。</br>
          <input type="checkbox" value="">C. 首度參與雲林縣地面型太陽光電廠動土。</br>
        </label>
      </div></p>
      <span style="color:black;font-weight:default">4. 美國資本事業家巴菲特曾經對股東說過，了解你的競爭圈是投資的第一件事，而且強調競爭圈的界線比大小來的重要，請問為什麼？</span></br>
			<div class="checkbox">
        <label>
          <input type="checkbox" value="">A. 因為知道界線就知道該選擇甚麼跟不該選擇甚麼，對於投資人來說可以投資的公司太多，找出適合且有能力投資的公司才是重點。</br>
          <input type="checkbox" value="">B. 避免在競爭圈外花費太多資源，畢竟很多公司營運的內容需要某些領域的專業知識或甚至刻意不讓大眾理解。</br>
          <input type="checkbox" value="">C. 了解自己的界限，也才知道該從哪裡開始拓展界線。</br>
          <input type="checkbox" value="">D. 以上皆是。</br>
        </label>
      </div></p>
      <span style="color:black;font-weight:default">5. 對於投資人來說，快速決定是否要選擇投資一家公司的一種方式是？</span></br>
			<div class="checkbox">
        <label>
          <input type="checkbox" value="">A. 試用或試吃該公司的產品。</br>
          <input type="checkbox" value="">B. 問親朋好友或是看報章雜誌介紹。</br>
          <input type="checkbox" value="">C. 瀏覽公司網站，並檢查是否能在合理時間內理解公司的營運內容。</br>
          <input type="checkbox" value="">D. 看前三天的股價漲跌，漲就投資跌就不投資。</br>
        </label>
      </div></p>
      <footer>
			  <ul class="buttons">
          <li><%= link_to "看解答", chapter1_section1_part5_index_path, class: "button small" %></li>
			  </ul>
			</footer>
		    </section>
			</div>
		  </section>
	  <!-- Two -->
		<section class="wrapper style1 container special">
		  <footer class="major">
			<ul class="buttons">
			  <li><%= link_to "上一節", chapter1_section1_part3_index_path, class: "button" %></li>
			  <li><%= link_to "下一節", chapter1_section1_part5_index_path, class: "button special" %></li>
			</ul>
		  </footer>
		</section>
	  <!-- Disqus -->
      <section class="wrapper style4 container">
        <div id="disqus_thread"></div>
          <script>
            /**
            * RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
            * LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables
            */
            /*
            var disqus_config = function () {
            this.page.url = PAGE_URL; // Replace PAGE_URL with your page's canonical URL variable
            this.page.identifier = PAGE_IDENTIFIER; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
            };
            */
            (function() { // DON'T EDIT BELOW THIS LINE
            var d = document, s = d.createElement('script');

            s.src = '//magnificbiz.disqus.com/embed.js';

            s.setAttribute('data-timestamp', +new Date());
            (d.head || d.body).appendChild(s);
            })();
            </script>
            <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
      </section>
      </article>
      </div>
      <!-- Scripts -->
        <script id="dsq-count-scr" src="//magnificbiz.disqus.com/count.js" async></script>
        <script src="https://use.typekit.net/mgd6kfe.js"></script>
        <script>try{Typekit.load({ async: true });}catch(e){}</script>
  </body>
</html>