<!DOCTYPE HTML>
<html>
  <head>
	<title>嘉鼎資本｜投資事業管理術財報資訊損益表</title>
	<meta charset="utf-8" />
  <meta name="description" content="嘉鼎資本投資事業管理術財報資訊損益表篇，利用開手搖杯店來說明損益表，一步步拆解營業毛利、營業收入、營業成本、營業淨利、營業利益、稅前淨利、本期淨利等資訊，範例為全國電子。">
  <meta name="keywords" content="嘉鼎資本, 投資事業管理術, 投資, 財報, 全國電子, 營業毛利, 營業收入, 營業淨利, 營業利益, 稅前淨利, 全國電子">
	<meta name="viewport" content="width=device-width, initial-scale=1" />
  </head>
  <body class="no-sidebar">
	<div id="page-wrapper">
	  <!-- Main -->
		<article id="main">
		  <header class="special container">
			<span class="icon fa-book"></span>
			  <h1>1-3-2 財報資訊——損益表篇</h1>
			  <p>目標：學會看一家公司特定期間是否有賺錢</p>
		  </header>
	  <!-- One -->
		<section class="wrapper style4 container">
	  <!-- Content -->
		<div class="content">
		  <section>
			<p>損益表顧名思義就是紀錄損失／收益的財務報表，事實上稱呼為<mark>收支表</mark>更能反映它的功能。它指的是在特定會計期間，一家公司的整體收入與相對應的支出，以及兩者相減所產生的盈餘／虧。</p>
			<p>為了避免大家剛才下載完全國電子的財報後，覺得太崩潰而放棄學習財報，我們先用大家比較不陌生的手搖杯店開始說起......</p>
			<span style="color:black;font-weight:default">■聽說開手搖杯店毛利高，我也來開一家好了</span></br>
			<p>好奇的阿斌聽朋友這麼一說，覺得好像很有道理，立馬在今年三月開了一家手搖杯店，月營收20萬，不過他掐指一算，似乎哩哩叩叩扣一扣，手頭現金好像竟然也不多，不是說毛利高嗎？到底發生什麼事？</p>
			<span style="color:black;font-weight:default">■Step 1. 營業毛利=營業收入－營業成本</span></br>
			<div class="table-responsive">
        <table class="table">
				  <tr>
            <td>項目</td>
            <td>金額</td>
            <td>說明</td>
          </tr>
				  <tr>
            <td>營業收入</td>
            <td>$ 300,000</td>
            <td>5000杯飲料的總收入</td>
          </tr>
          <tr>
            <td>營業成本</td>
            <td>$ 120,000</td>
            <td>製作飲料耗費的水、原料（糖、牛奶、珍珠、水）、杯子等</td>
          </tr>
          <tr>
            <td>營業毛利</td>
            <td>$ 180,000</td>
            <td>營業收入－營業成本</td>
          </tr>
        </table>
      </div>
      <p>營業毛利180,000元，毛利率有6成，好像還不錯！可是開店沒這麽簡單，還有其他開銷要支出。</p>
      <span style="color:black;font-weight:default">■Step 2. 營業淨利（營業利益）=營業毛利－營業費用</span></br>
      <p>為了刺激買氣，阿斌需要支出DM印刷設計，或者網路廣告費等行銷費用，另外還要負擔開店的水電費、租金等管理費用，更別說需要付薪水給外送人員或是工讀生。這種無法對應到營業成本，但確實是屬於營業期間需要支付的費用，即稱為營業費用。</p>
      <div class="table-responsive">
        <table class="table"> 
				  <tr>
            <td>項目</td>
            <td>金額</td>
            <td>說明</td>
          </tr>
				  <tr>
            <td>營業毛利</td>
            <td>$ 180,000</td>
            <td>營業收入－營業成本</td>
          </tr>
          <tr>
            <td>營業費用（行銷費用）</td>
            <td>$ 24,266</td>
            <td>DM印刷設計、網路廣告費、外送人員</td>
          </tr>
          <tr>
            <td>營業費用（管理費用）</td>
            <td>$ 80,445</td>
            <td>電費、租金、工讀生</td>
          </tr>
          <tr>
            <td>營業淨利（營業利益）</td>
            <td>$ 75,289</td>
            <td>營業毛利－營業費用</td>
          </tr>
        </table>
      </div>
      <p>因此，阿斌的手搖杯店，雖然毛利不錯，但扣除營業費用後，營業淨利僅剩75,289元，這是阿斌透過開手搖杯店最終營運利潤，但事情還沒完......</p>
      <span style="color:black;font-weight:default">■Step 3. 稅前淨利=營業淨利－非營業費用</span></br>
      <p>由於阿斌當初是透過青年創業貸款100萬元做為創業資金，所以每個月要支付$3,000元的利息。形成這種非營業支出或收入的費用，可能原因是：</br>
      1. 利息支出：公司使用融資。</br>
      2. 利息收入：餘裕資金短期放置在銀行。</br>
      <div class="table-responsive">
        <table class="table"> 
				  <tr>
            <td>項目</td>
            <td>金額</td>
            <td>說明</td>
          </tr>
				  <tr>
            <td>營業淨利（營業利益）</td>
            <td>$ 75,289</td>
            <td>營業毛利－營業費用</td>
          </tr>
          <tr>
            <td>非營業費用</td>
            <td>$ 3,000</td>
            <td>利息支出</td>
          </tr>
          <tr>
            <td>稅前淨利</td>
            <td>$ 72,289</td>
            <td>營業淨利（營業利益）－非營業費用</td>
          </tr>
        </table>
      </div>
      <p>這裡推得阿斌付出每月利息後，還沒繳稅前的淨利僅剩72,289元。</p>
      <span style="color:black;font-weight:default">■Step 4. 本期淨利=稅前淨利－所得稅</span></br>
      <p>最後，賺了錢當然就有繳稅的義務，以台灣的營利事業所得稅率17%來計算，阿斌需繳交$12,289元的所得稅。</p>
      <div class="table-responsive">
        <table class="table"> 
				  <tr>
            <td>項目</td>
            <td>金額</td>
            <td>說明</td>
          </tr>
				  <tr>
            <td>稅前淨利</td>
            <td>$ 72,289</td>
            <td>營業淨利（營業利益）－非營業費用</td>
          </tr>
          <tr>
            <td>所得稅</td>
            <td>$ 12,289</td>
            <td>營業事業所得稅17%</td>
          </tr>
          <tr>
            <td>本期淨利</td>
            <td>$ 60,000</td>
            <td>稅前淨利－所得稅</td>
          </tr>
        </table>
      </div>
      <p>阿斌在扣除所有支出後，本期淨利僅剩60,000元。他也終於了解別人會說開飲料店毛利高，但自己手頭現金卻沒想像中多的原因。</p>
      <span style="color:black;font-weight:default">■Step 5. 認真的阿斌打造手搖杯傳奇並上市</span></br>
      <p>這$60,000元是阿斌手搖杯店最終利潤，屬於老闆／股東所有。如果未來這家手搖杯店上市發行股票1萬股，那每股盈餘就是$60,000／10,000＝$6.00元，假設股東阿佐持有1000股，那盈餘中的$6,000元就是屬於阿佐的，未來可以透過股利發放的方式分享給阿佐。</p>
      <span style="color:black;font-weight:default">■Step 6. 點選全國電子「<a href="http://www.elifemall.com.tw/stock/105-1.pdf" target="_blank">105第一季財務報表</a>」</span></br>
      當然實際的損益表未必會如同上述這麼容易閱讀，但基本的概念相同，我們看到「綜合損益表」：</br>
      <img class="img-responsive" src="https://s3-us-west-2.amazonaws.com/magnficcourse/pic1-3-2-1.png" alt="全國電子105第一季財務報表"></p>
      <p>一般來說損益表粗略分成這5個區塊，每個區塊都可以對應到先前的步驟，因此學會閱讀損益表就能夠讓你理解這家公司在會計報告期間的獲利情形。損益表通常的報告區間為年度或是季度，紀錄的概念是流量，也就是一段期間的總共收入、支出與利潤。</p>
      <p><mark>Step 1. 營業毛利=營業收入－營業成本</mark></br>
      表示產品／服務扣除對應的成本後的利潤，通常會計算營業毛利／營業收入＝ 毛利率，毛利率越高表示產品的附加價值較高，但穩定度比高比率還重要。</p>
      <div class="table-responsive">
        <table class="table"> 
				  <tr>
            <td>項目</td>
            <td>金額</td>
          </tr>
				  <tr>
            <td>營業收入</td>
            <td>$ 4,778,539</td>
          </tr>
          <tr>
            <td>營業成本</td>
            <td>$ 3,781,110</td>
          </tr>
          <tr>
            <td>營業毛利</td>
            <td>$ 997,429</td>
          </tr>
        </table>
      </div>
      <p>（單位：新台幣千元）</p>
      <p><mark>Step 2. 營業淨利（營業利益）=營業毛利－營業費用</mark></br>
      表示營業所帶來的真實利潤，用這個項目來說明公司的營運獲利狀況比淨利更具意義。</p>
      <div class="table-responsive">
        <table class="table"> 
				  <tr>
            <td>項目</td>
            <td>金額</td>
          </tr>
				  <tr>
            <td>營業毛利</td>
            <td>$ 997,429</td>
          </tr>
          <tr>
            <td>營業費用（推銷＋管理費用）</td>
            <td>$ 753,553</td>
          </tr>
          <tr>
            <td>營業淨利（營業利益）</td>
            <td>$ 243,876</td>
          </tr>
        </table>
      </div>
      <p>（單位：新台幣千元）</p>
      <p><mark>Step 3. 稅前淨利=營業淨利（營業利益）－營業費用</mark></br>
      扣除了財務成本與加入了非營業收支，等於是公司的完整獲利。</p>
      <div class="table-responsive">
        <table class="table"> 
				  <tr>
            <td>項目</td>
            <td>金額</td>
          </tr>
				  <tr>
            <td>營業淨利（營業利益）</td>
            <td>$ 243,876</td>
          </tr>
          <tr>
            <td>營業外收入及支出（其他收入、其他利益及損失、財務成本）</td>
            <td>$ 4,889</td>
          </tr>
          <tr>
            <td>稅前淨利</td>
            <td>$ 248,765</td>
          </tr>
        </table>
      </div>
      <p>（單位：新台幣千元）</p>
      <p><mark>Step 4. 本期淨利=稅前淨利－所得稅</mark></br>
      一般來說與稅前淨利雷同，如果所得稅率變化不大，比稅前淨利更常被用來代表完整獲利。</p>
      <div class="table-responsive">
        <table class="table"> 
				  <tr>
            <td>項目</td>
            <td>金額</td>
          </tr>
				  <tr>
            <td>稅前淨利</td>
            <td>$ 248,765</td>
          </tr>
          <tr>
            <td>扣除所得稅</td>
            <td>$ 42,290</td>
          </tr>
          <tr>
            <td>本期淨利</td>
            <td>$ 206,475</td>
          </tr>
        </table>
      </div>
      <p>（單位：新台幣千元）</p>
      <p><mark>Step 5. 每股盈餘＝本期淨利／股數</mark></br>
      最終分屬到股東的利潤，股東可以依照股數來計算自己的盈餘。</p>
      <div class="table-responsive">
        <table class="table"> 
				  <tr>
            <td>項目</td>
            <td>金額</td>
          </tr>
				  <tr>
            <td>稅前淨利</td>
            <td>$ 206,475,000</td>
          </tr>
          <tr>
            <td>股數</td>
            <td>99,172,945</td>
          </tr>
          <tr>
            <td>每股盈餘</td>
            <td>$ 2.08</td>
          </tr>
        </table>
      </div>
      <p>初期可能會覺得在損益表的閱讀上有些困難，但這小節最重要的是能夠掌握收支的計算流程，並且了解盈餘是如何產生。</p>
      <p>【註】以上故事為求理解容易而製作，並非真實案例數據。</p>
		  </section>
		</div>
		</section>
	  <!-- Two -->
        <header class="special container">
          <span class="icon fa-binoculars"></span>
            <h2>延伸閱讀</h2>
        </header>
		<section class="wrapper style1 container special">
		  <div class="row">
			<div class="4u 12u(narrower)">
			  <section>
				<header>
				  <h3>從收入(支)表中看出公司有沒有賺錢</h3>
				</header>
				如果想要製作自己的投資收支表，可參考嘉鼎資本【2015事業化管理回顧篇】文章，來掌握過去投資是否有賺錢喔！</p>
				<footer>
				  <ul class="buttons">
					<li><a href="http://magnific.biz/?p=4364" target="_blank" class="button small">點我看更多</a></li>
				  </ul>
				</footer>
			  </section>
			</div>
			<div class="4u 12u(narrower)">
			  <section>
				<header>
				  <h3>商業會計項目表</h3>
				</header>
				新修正「商業會計法」、「商業會計處理準則」以及「企業會計準則公報」，將自105年1月1日起適用，經濟部商業司提供「商業會計項目表」供各界參考，企業得視實際需要增減其會計項目或變更代碼。</p>
				<footer>
				  <ul class="buttons">
					<li><a href="http://gcis.nat.gov.tw/mainNew/publicContentAction.do?method=showPublic&pkGcisPublicContent=4295" target="_blank" class="button small">點我看更多</a></li>
				  </ul>
				</footer>
			  </section>
			</div>
			<div class="4u 12u(narrower)">
			  <section>
				<header>
				  <h3>智慧型股票投資人</h3>
				</header>
				《智慧型股票投資人》一直被投資界譽為有史以來為股票投資人所撰寫的經典之作。在這本經典中，作者Benjamin Graham提出了穩健而安全的投資原則，長久以來受到股市投資人所認同，並且為保守型及進取型投資法則勾勒出明確的方針。</p>
				<footer>
				  <ul class="buttons">
					<li><a href="http://www.books.com.tw/products/0010056060" target="_blank" class="button small">點我看更多</a></li>
				  </ul>
				</footer>
			  </section>
			</div>
     </div> 
			<footer class="major">
		      <ul class="buttons">
				<li><%= link_to "上一節", chapter1_section3_part1_index_path, class: "button" %></li>
                <li><%= link_to "下一節", chapter1_section3_part31_index_path, class: "button special" %></li>
			  </ul>
			</footer>
		</section>
	  <!-- Disqus -->
        <section class="wrapper style4 container">
      <div id="disqus_thread"></div>
            <script>
            /**
            * RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
            * LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables
            */
            /*
            var disqus_config = function () {
            this.page.url = PAGE_URL; // Replace PAGE_URL with your page's canonical URL variable
            this.page.identifier = PAGE_IDENTIFIER; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
            };
            */
            (function() { // DON'T EDIT BELOW THIS LINE
            var d = document, s = d.createElement('script');

            s.src = '//magnificbiz.disqus.com/embed.js';

            s.setAttribute('data-timestamp', +new Date());
            (d.head || d.body).appendChild(s);
            })();
            </script>
            <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
        </section>
        </article>
      </div>
      <!-- Scripts -->
        <script id="dsq-count-scr" src="//magnificbiz.disqus.com/count.js" async></script>
        <script src="https://use.typekit.net/mgd6kfe.js"></script>
        <script>try{Typekit.load({ async: true });}catch(e){}</script>
  </body>
</html>