<!DOCTYPE HTML>
<html>
  <head>
	<title>嘉鼎資本｜投資事業管理術財報資訊測驗篇</title>
	<meta charset="utf-8" />
  <meta name="description" content="嘉鼎資本投資事業管理術財報資訊測驗篇，測試投資人是否學會瀏覽損益表、資產負債表、現金流量表等財報資訊。">
  <meta name="keywords" content="嘉鼎資本, 投資事業管理術, 投資, 財報, 損益表, 資產負債表, 現金流量表">
	<meta name="viewport" content="width=device-width, initial-scale=1" />
  </head>
  <body class="no-sidebar">
	<div id="page-wrapper">
	  <!-- Main -->
		<article id="main">
		  <header class="special container">
			<span class="icon fa-book"></span>
			  <h1>1-3-5 財報資訊——測驗篇</h1>
			  <p>目標：測試是否學會瀏覽損益表、資產負債表、現金流量表等財報資訊</p>
		  </header>
	  <!-- One -->
		<section class="wrapper style4 container">
	  <!-- Content -->
		<div class="content">
		  <section>
			<span style="color:black;font-weight:default">1. 下列何者非上市公司必須公開揭露的財務資訊？</span></br>
			<div class="checkbox">
        <label>
          <input type="checkbox" value="">A. 損益表。</br>
          <input type="checkbox" value="">B. 資產負債表。</br>
          <input type="checkbox" value="">C. 報稅試算表。</br>
          <input type="checkbox" value="">D. 現金流量表。</br>
        </label>
      </div></p>
			<span style="color:black;font-weight:default">2. 下列財務報表中的描述何者正確？</span></br>
			<div class="checkbox">
        <label>
          <input type="checkbox" value="">A. 損益表報告公司在特定區間，其營運收入與支出的資訊，因此又可稱為收支表。</br>
          <input type="checkbox" value="">B. 資產負債表報告公司在報告日期，其資產分配的狀況與資金來源，其中資產扣除負債後的淨值屬於股東所有，因此又可稱為淨值表。</br>
          <input type="checkbox" value="">C. 現金流量表報告公司在特定區間，其現金來源與變化之分類。</br>
          <input type="checkbox" value="">D. 以上皆是。</br>
        </label>
      </div></p>
      <span style="color:black;font-weight:default">3. 損益表通常是以下列何項目作為開端與結尾？</span></br>
			<div class="checkbox">
        <label>
          <input type="checkbox" value="">A. 營業收入／每股盈餘。</br>
          <input type="checkbox" value="">B. 綜合損益／每股盈餘。</br>
          <input type="checkbox" value="">C. 營業收入／每股股利。</br>
          <input type="checkbox" value="">D. 營業收入／營業淨利。</br>
          <input type="checkbox" value="">E. 以上皆非。</br>
        </label>
       </div></p>
      <span style="color:black;font-weight:default">4. 資產負債表中，左邊與右邊通常代表的資訊為何？</span></br>
			<div class="checkbox">
        <label>
          <input type="checkbox" value="">A. 左：資產／右：負債與市值。</br>
          <input type="checkbox" value="">B. 左：負債與淨值／右：資產。</br>
          <input type="checkbox" value="">C. 左：資產／右：負債與股東權益。</br>
          <input type="checkbox" value="">D. 左：資產／右：負債。</br>
          <input type="checkbox" value="">E. 左：資產與負債／右：股東權益。</br>
        </label>
      </div></p>
      <span style="color:black;font-weight:default">5. 現金流量表中的現金分類，下列何者不包含在其中？</span></br>
			<div class="checkbox">
        <label>
          <input type="checkbox" value="">A. 投資現金流。</br>
          <input type="checkbox" value="">B. 自由現金流。</br>
          <input type="checkbox" value="">C. 營業現金流。</br>
          <input type="checkbox" value="">D. 籌資現金流。</br>
        </label>
      </div></p>
      <footer>
			  <ul class="buttons">
				<li><%= link_to "看解答", chapter1_section3_part6_index_path, class: "button small" %></li>
			  </ul>
			</footer>
		  </section>
		</div>
		</section>
	  <!-- Two -->
		<section class="wrapper style1 container special">
		  <footer class="major">
			<ul class="buttons">
			  <li><%= link_to "上一節", chapter1_section3_part4_index_path, class: "button" %></li>
        <li><%= link_to "下一節", chapter1_section3_part6_index_path, class: "button special" %></li>
			</ul>
		  </footer>
		</section>
	  <!-- Disqus -->
        <section class="wrapper style4 container">
      <div id="disqus_thread"></div>
            <script>
            /**
            * RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
            * LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables
            */
            /*
            var disqus_config = function () {
            this.page.url = PAGE_URL; // Replace PAGE_URL with your page's canonical URL variable
            this.page.identifier = PAGE_IDENTIFIER; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
            };
            */
            (function() { // DON'T EDIT BELOW THIS LINE
            var d = document, s = d.createElement('script');

            s.src = '//magnificbiz.disqus.com/embed.js';

            s.setAttribute('data-timestamp', +new Date());
            (d.head || d.body).appendChild(s);
            })();
            </script>
            <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
        </section>
        </article>
      </div>
      <!-- Scripts -->
        <script id="dsq-count-scr" src="//magnificbiz.disqus.com/count.js" async></script>
        <script src="https://use.typekit.net/mgd6kfe.js"></script>
        <script>try{Typekit.load({ async: true });}catch(e){}</script>
  </body>
</html>