<!DOCTYPE HTML>
<html>
  <head>
	<title>嘉鼎資本｜投資事業管理術財報資訊資產負債表（下）</title>
	<meta charset="utf-8" />
  <meta name="description" content="嘉鼎資本投資事業管理術財報資訊資產負債表篇，利用範例全國電子說明資產負債表，包括資產、負債、權益等資訊。">
  <meta name="keywords" content="嘉鼎資本, 投資事業管理術, 投資, 資產負債表, 全國電子, 資產, 負債, 權益">
	<meta name="viewport" content="width=device-width, initial-scale=1" />
  </head>
  <body class="no-sidebar">
	<div id="page-wrapper">
	  <!-- Main -->
		<article id="main">
		  <header class="special container">
			<span class="icon fa-book"></span>
			  <h1>1-3-3 財報資訊——資產負債表篇（下）</h1>
			  <p>目標：學會看一家公司特定期間點的事業價值</p>
		  </header>
	  <!-- One -->
		<section class="wrapper style4 container">
	  <!-- Content -->
		<div class="content">
		  <section>
			<span style="color:black;font-weight:default">■Step 1. 點選全國電子「<a href="http://www.elifemall.com.tw/stock/105-1.pdf" target="_blank">105第一季財務報表</a>」</span></br>
      <p>在<%= link_to "〈財報資訊——資產負債表篇（上）〉", chapter1_section3_part31_index_path %>中，我們使用比較單純的例子來解說資產負債表，以全國電子的資產負債表為例：</p>
			<p>1. 左表為資產</br>
      <img class="img-responsive" src="https://s3-us-west-2.amazonaws.com/magnficcourse/pic1-3-3-2-1.png" alt="全國電子資產"></p>
      2. 右表為負債及權益</br>
      <img class="img-responsive" src="https://s3-us-west-2.amazonaws.com/magnficcourse/pic1-3-3-2-2.png" alt="全國電子負債及權益"></p>
      <span style="color:black;font-weight:default">■Step 2. 資產：流動與非流動資產</span></br>
      <p>資產通常分為流動與非流動兩大類，常見的項目有：</br>
      1. 流動資產</br>
        <div class="table-responsive">
          <table class="table"> 
            <tr>
              <td>項目</td>
              <td>說明</td>
            </tr>
            <tr>
              <td>現金及約當現金</td>
              <td>現金或是幾乎等同現金的有價證券</td>
            </tr>
            <tr>
              <td>應收票據及帳款淨額</td>
              <td>有時貨品售出是透過收取票據的方式而非現金，票據淨額記錄在這個項目</td>
            </tr>
            <tr>
              <td>存貨</td>
              <td>公司尚未出售的完成品或半成品（如案例中的原物料）</td>
            </tr>
          </table>
        </div>
        2. 非流動資產</br>
          <div class="table-responsive">
            <table class="table"> 
              <tr>
                <td>項目</td>
                <td>說明</td>
              </tr>
              <tr>
                <td>不動產、廠房、設備</td>
                <td>生產設施（如案例中的飲料設備與裝潢）</td>
              </tr>
              <tr>
                <td>無形資產</td>
                <td>商譽【註1】</td>
              </tr>
            </table>
          </div>
          <p><pre>【註1】商譽通常來自於併購時付出的溢價，以前述案例來看，如果用200萬買下淨值151萬的斌佐愛喝手搖杯飲料事業，屆時資產負債表的左邊則會把多付出的49萬放在商譽這個項目，右邊股本將會從70萬增加成119萬（反映多投入的49萬），左右同步增加49萬維持平衡。</pre></p>
          <p>資產的項目林林總總，投資人先掌握基本的分類方法，並理解資產項目的意義即可。</p>
          <p>一般來說不同類型的公司資產配置落差極大，舉例來說：</br>
          1. 貿易類型或是服務類型的公司：非流動資產比重相對低。</br>
          2. 重工製造類型的公司：非流動資產比重相對高。</p>
          <p>所以並沒有何者為佳或是資產配置黃金比例，建議大家可以試著去閱讀從前面章節，篩選出來公司的資產負債表，了解這家公司各種資產佔比狀況。</p>
          <span style="color:black;font-weight:default">■Step 3. 負債：流動與非流動負債</span></br>
          <p>負債通常分為流動與非流動兩大類，常見的項目有：</br>
          1. 流動負債</br>
            <div class="table-responsive">
              <table class="table"> 
                <tr>
                  <td>項目</td>
                  <td>說明</td>
                </tr>
                <tr>
                  <td>應付票據及帳款</td>
                  <td>在上一期間因營業積欠的費用／成本，通常會在下一期間償還（如案例中的飲料杯貨款）</td>
                </tr>
                <tr>
                  <td>預收款項</td>
                  <td>顧客已經預付但是尚未完成的貨品／服務（如飲料店推出寄杯服務，已經先收但是顧客尚未實際取得的飲料款項）</td>
                </tr>
              </table>
            </div>
            2. 非流動負債</br>
              <div class="table-responsive">
                <table class="table"> 
                  <tr>
                    <td>項目</td>
                    <td>說明</td>
                  </tr>
                  <tr>
                    <td>長期貸款</td>
                    <td>通常是公司資金重要來源，來源對象為銀行或是發行長期債券（常見於一般公司，此案例無可參照前述案例）</td>
                  </tr>
                  <tr>
                    <td>福利負債</td>
                    <td>公司幫員工組成的福利計劃或是退休金計畫，對公司來說也是另一種常見的長期負債</td>
                  </tr>
                </table>
              </div>
            <span style="color:black;font-weight:default">■Step 4. 權益常見的項目</span></br>
            <div class="table-responsive">
              <table class="table"> 
                <tr>
                  <td>項目</td>
                  <td>說明</td>
                </tr>
                <tr>
                  <td>股本</td>
                  <td>原始股東所出資的部分</td>
                </tr>
                <tr>
                  <td>資本公積</td>
                  <td>法定保留公積金，如發行溢價【註2】</td>
                </tr>
                <tr>
                  <td>保留盈餘</td>
                  <td>過去累積未分派的盈餘與法規規定的法定盈餘公積【註3】</td>
                </tr>
              </table>
            </div>
            <p><pre>【註2】股票具有面額，當發行股票募資時假定面額為10元，投資者以每股30元入股，其中10元將列入股本而溢價的20元將會列入資本公積，此公積可以用來弭補虧損，但不可作為股利發放。</pre></p>
            <p><pre>【註3】公司於完納一切稅捐後，分派盈餘時，應先提出百分之十為法定盈餘公積。但法定盈餘公積，已達資本總額時，不在此限。</pre></p>
            <p><mark>在資產負債表中，對投資人來說最重要的部分，既不是資產也不是負債，而是股東權益。</mark></p>
            <span style="color:black;font-weight:default">■【參考】事業營運分析的方法</span></br>
            <p>把發放的股利加回保留盈餘中，並把新募資的資本扣除，然後檢視每一期的股東權益變化。</br>
            1. 持續增加：表示該公司的營運在正向的軌道上。</br>
            2. 持續縮減：表示該公司的營運不樂觀。</br>
            當然只看股東權益變化可能過度簡化，然而這也說明如果一家公司長期不能提高股東權益，似乎也沒有投資該公司的理由了。</p>
            <span style="color:black;font-weight:default">■資產負債表的意義</span></br>
            <p>與損益表流量的概念不同，資產負債表所記錄的資訊是定量，也就是到結算日當下點清，現金有多少、原物料有多少、負債有多少、股東權益有多少等。</p>
            <p>相較於損益表，資產負債表的理解較不直觀，所以運用一個生活化的例子來解釋這張表的功能，或可這樣理解——資產負債表就像是個體檢表，讓你在報告日得到公司的最新狀態，而透過期初與期末兩張表的比對，可以深入探討其中的變化。</p>
		  </section>
		</div>
		</section>
	  <!-- Two -->
		<section class="wrapper style1 container special">
		  <footer class="major">
			<ul class="buttons">
			  <li><%= link_to "上一節", chapter1_section3_part31_index_path, class: "button" %></li>
              <li><%= link_to "下一節", chapter1_section3_part4_index_path, class: "button special" %></li>
			</ul>
		  </footer>
		</section>
	  <!-- Disqus -->
        <section class="wrapper style4 container">
      <div id="disqus_thread"></div>
            <script>
            /**
            * RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
            * LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables
            */
            /*
            var disqus_config = function () {
            this.page.url = PAGE_URL; // Replace PAGE_URL with your page's canonical URL variable
            this.page.identifier = PAGE_IDENTIFIER; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
            };
            */
            (function() { // DON'T EDIT BELOW THIS LINE
            var d = document, s = d.createElement('script');

            s.src = '//magnificbiz.disqus.com/embed.js';

            s.setAttribute('data-timestamp', +new Date());
            (d.head || d.body).appendChild(s);
            })();
            </script>
            <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
        </section>
        </article>
      </div>
      <!-- Scripts -->
        <script id="dsq-count-scr" src="//magnificbiz.disqus.com/count.js" async></script>
        <script src="https://use.typekit.net/mgd6kfe.js"></script>
        <script>try{Typekit.load({ async: true });}catch(e){}</script>
  </body>
</html>