<!DOCTYPE HTML>
<html>
  <head>
	<title>嘉鼎資本｜投資事業管理術建置投資事業測驗篇</title>
	<meta charset="utf-8" />
  <meta name="description" content="嘉鼎資本投資事業管理術建置投資事業測驗篇，測試投資人是否學會利用瀑布法、互補法及排序法建置自己的投資事業組合。">
  <meta name="keywords" content="嘉鼎資本, 投資事業管理術, 投資, 投資事業, 排序法, 互補法, 瀑布法">
	<meta name="viewport" content="width=device-width, initial-scale=1" />
  </head>
  <body class="no-sidebar">
	<div id="page-wrapper">
	  <!-- Main -->
		<article id="main">
		  <header class="special container">
			<span class="icon fa-book"></span>
			  <h1>3-2-6 建置投資事業——測驗篇</h1>
			  <p>目標：測試是否學會利用瀑布法、互補法及排序法建置自己的投資事業組合</p>
		  </header>
	  <!-- One -->
		<section class="wrapper style4 container">
	  <!-- Content -->
		<div class="content">
		  <section>
			<span style="color:black;font-weight:default">1. 下列何者為建議給初階投資人適合的投資事業組合方法？</span></br>
			<div class="checkbox">
        <label>
          <input type="checkbox" value="">A. 互補法。</br>
          <input type="checkbox" value="">B. 排序法。</br>
          <input type="checkbox" value="">C. 瀑布法。</br>
          <input type="checkbox" value="">D. 邏輯法。</br>
          <input type="checkbox" value="">E. 歸納法。</br>
        </label>
      </div></p>
			<span style="color:black;font-weight:default">2. 瀑布法除了平均權重外，還可以依照營運型態區分比重，下列何者對於追求穩定優先的投資目標較合適？</span></br>
			<div class="checkbox">
        <label>
          <input type="checkbox" value="">A. 成長型80%＋穩定型20%。</br>
          <input type="checkbox" value="">B. 成長型40%＋穩定型60%。</br>
          <input type="checkbox" value="">C. 成長型40%＋穩定型40%＋循環型20%。</br>
          <input type="checkbox" value="">D. 穩定型50%＋循環型50%。</br>
        </label>
      </div></p>
      <span style="color:black;font-weight:default">3. 互補法一般使用原則中，下列何者正確？</span></br>
			<div class="checkbox">
        <label>
          <input type="checkbox" value="">A. 建議給有一定程度投資經驗甚至是老練投資人，初階投資人採用瀑布法比較適合。</br>
          <input type="checkbox" value="">B. 建議要有3家以上的組合，可以2家互補1家穩定，提供風險抑制的效果。</br>
          <input type="checkbox" value="">C. 避開同營運內容的公司，以免發生齊漲齊跌的共振效應，抵銷了互補的優勢。</br>
          <input type="checkbox" value="">D. 經常觀察與紀錄事業型態的變化，如併購或是經濟環境改變，可能導致互補失失效。</br>
          <input type="checkbox" value="">E. 仍然遵守資本力門檻法則，降低價格風險，然而資本回報率（ROC）的計算可採過去12個月或前一年數值，而非長期平均值。</br>
          <input type="checkbox" value="">F. 以上皆是。</br>
        </label>
      </div></p>
      <span style="color:black;font-weight:default">4. 排序法的優點在於？</span></br>
			<div class="checkbox">
        <label>
          <input type="checkbox" value="">A. 可以快速地篩選出符合標準的公司。</br>
          <input type="checkbox" value="">B. 透過較多的標的抑制風險。</br>
          <input type="checkbox" value="">C. 機械式篩選，減少人為干預。</br>
          <input type="checkbox" value="">D. 綜合營運風險與價格風險，非獨立評估。</br>
          <input type="checkbox" value="">E. 以上皆是。</br>
        </label>
      </div></p>
      <span style="color:black;font-weight:default">5. 對於不同營運型態的公司，篩選的標準可以不同，請將下列標準與型態配對：</span></br>
        <div class="table-responsive">
          <table class="table">
            <tr>
              <td>成長型</td>
              <td>(1) 過去10年最低資本回報率（ROC）>0%與資本力>15%</td>
            </tr>
            <tr>
              <td>穩定型</td>
              <td>(2) 資本回報率（ROC）>12%與資本力>12%</td>
            </tr>
            <tr>
              <td>循環型</td>
              <td>(3) 不列入考量</td>
            </tr>
            <tr>
              <td>衰退型</td>
              <td>(4) 資本回報率（ROC）>8%與資本力>8%</td>
            </tr>
          </table>
        </div>
        <div class="checkbox">
          <label>
            <input type="checkbox" value="">A. 成長-1、穩定-2、循環-3、衰退-4 。</br>
            <input type="checkbox" value="">B. 穩定-1、衰退-2、循環-3、成長-4。</br>
            <input type="checkbox" value="">C. 循環-1、成長-2、衰退-3、穩定-4。</br>
            <input type="checkbox" value="">D. 穩定-1、成長-2、循環-3、衰退-4。</br>
          </label>
        </div></p>
      </div>
      <footer>
			<ul class="buttons">
			  <li><li><%= link_to "看解答", chapter3_section2_part7_index_path, class: "button small" %></li>
			</ul>
		  </footer>
		  </section>
		</div>
		</section>
	  <!-- Two -->
		<section class="wrapper style1 container special">
		  <footer class="major">
			<ul class="buttons">
			  <li><%= link_to "上一節", chapter3_section2_part5_index_path, class: "button" %></li>
        <li><%= link_to "下一節", chapter3_section2_part7_index_path, class: "button special" %></li>
			</ul>
		  </footer>
		</section>
	  <!-- Disqus -->
		<section class="wrapper style4 container">
          <div id="disqus_thread"></div>
            <script>
            /**
            * RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
            * LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables
            */
            /*
            var disqus_config = function () {
            this.page.url = PAGE_URL; // Replace PAGE_URL with your page's canonical URL variable
            this.page.identifier = PAGE_IDENTIFIER; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
            };
            */
            (function() { // DON'T EDIT BELOW THIS LINE
            var d = document, s = d.createElement('script');

            s.src = '//magnificbiz.disqus.com/embed.js';

            s.setAttribute('data-timestamp', +new Date());
            (d.head || d.body).appendChild(s);
            })();
            </script>
            <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
        </section>
        </article>
      </div>
      <!-- Scripts -->
        <script id="dsq-count-scr" src="//magnificbiz.disqus.com/count.js" async></script>
        <script src="https://use.typekit.net/mgd6kfe.js"></script>
        <script>try{Typekit.load({ async: true });}catch(e){}</script>
  </body>
</html>