<!DOCTYPE HTML>
<html>
  <head>
	<title>嘉鼎資本｜投資事業管理術投資者資訊投資人關係</title>
	<meta charset="utf-8" />
  <meta name="description" content="嘉鼎資本投資事業管理術投資人關係篇，幫助投資人找尋股東權益，範例為儒鴻公司。">
  <meta name="keywords" content="嘉鼎資本, 投資事業管理術, 投資, 投資人關係, 股東權益, 儒鴻">
	<meta name="viewport" content="width=device-width, initial-scale=1" />
  </head>
  <body class="no-sidebar">
	<div id="page-wrapper">
		<!-- Main -->
	    <article id="main">
		  <header class="special container">
		    <span class="icon fa-book"></span>
			  <h1>1-2-1 投資者資訊——投資人關係篇</h1>
			  <p>目標：學會找尋股東權益在哪看</p>
		  </header>
		<!-- One -->
		  <section class="wrapper style4 container">
		<!-- Content -->
	      <div class="content">
			<section>
			  <p>前一小節我們提到的是公司營運相關的基本資訊，當這家公司通過你的基本資訊篩選，就可以進入到更進階的投資者資訊。以儒鴻企業股份有限公司為例：</p>
			  <span style="color:black;font-weight:default">■Step 1. 點選「<a href="http://www.eclat.com.tw/chi/index.html" target="_blank">儒鴻</a>」網站</span></br>
			  <img class="img-responsive" src="https://s3-us-west-2.amazonaws.com/magnficcourse/pic1-2-1-1.png" alt="儒鴻"></p>
			  <img class="img-responsive" src="https://s3-us-west-2.amazonaws.com/magnficcourse/pic1-2-1-2.png" alt="儒鴻"></p>
			  <p>上市公司必須在公眾媒體上，揭露關於股東權益的資訊，因此絕大部分的公司都會選擇在公司網站上，設立一個專區「投資人關係」。一般來說這個專區會包含：</br>
              1. 公司治理</br>
              2. 財務資訊</br>
              3. 股東訊息</br>
              4. 法人訊息</br>
              5. 投資人服務窗口</p>
              在接下來的小節，會跟大家說明這些資訊的意義與使用價值。</p>
			</section>
		  </div>
		  </section>
		<!-- Two -->
		  <section class="wrapper style1 container special">
			<footer class="major">
		      <ul class="buttons">
				<li><%= link_to "上一節", chapter1_section1_part5_index_path, class: "button" %></li>
				<li><%= link_to "下一節", chapter1_section2_part2_index_path, class: "button special" %></li>
								</ul>
			</footer>
		  </section>
	  <!-- Disqus -->
        <section class="wrapper style4 container">
		  <div id="disqus_thread"></div>
            <script>
            /**
            * RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
            * LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables
            */
            /*
            var disqus_config = function () {
            this.page.url = PAGE_URL; // Replace PAGE_URL with your page's canonical URL variable
            this.page.identifier = PAGE_IDENTIFIER; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
            };
            */
            (function() { // DON'T EDIT BELOW THIS LINE
            var d = document, s = d.createElement('script');

            s.src = '//magnificbiz.disqus.com/embed.js';

            s.setAttribute('data-timestamp', +new Date());
            (d.head || d.body).appendChild(s);
            })();
            </script>
            <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
        </section>
        </article>
      </div>
      <!-- Scripts -->
        <script id="dsq-count-scr" src="//magnificbiz.disqus.com/count.js" async></script>
        <script src="https://use.typekit.net/mgd6kfe.js"></script>
        <script>try{Typekit.load({ async: true });}catch(e){}</script>
  </body>
</html>