<!DOCTYPE HTML>
<html>
  <head>
	<title>嘉鼎資本｜投資事業管理術型態分析與歸納衰退型</title>
	<meta charset="utf-8" />
	<meta name="description" content="嘉鼎資本投資事業管理型態分析與歸納型篇，投資人學會解讀學會辨別什麼公司營運是衰退型事業。">
  <meta name="keywords" content="嘉鼎資本, 投資事業管理術, 投資, 型態分析, 衰退型, 公司營運">
	<meta name="viewport" content="width=device-width, initial-scale=1" />
  </head>
  <body class="no-sidebar">
	<div id="page-wrapper">
	  <!-- Main -->
		<article id="main">
		  <header class="special container">
			<span class="icon fa-book"></span>
			  <h1>2-2-3 型態分析與歸納——衰退型篇</h1>
			  <p>目標：學會辨別什麼公司是衰退型事業</p>
		  </header>
	  <!-- One -->
		<section class="wrapper style4 container">
	  <!-- Content -->
		<div class="content">
		  <section>
			<p>強烈建議初階投資人都應該避開這個型態，通常是公司的營運內容正在面臨淘汰，而且公司又找不到新的策略與方向，如下圖案例：</p>
			<img class="img-responsive" src="https://s3-us-west-2.amazonaws.com/magnficcourse/pic2-2-3-1.png" alt="衰退型"></br>
			<p>由於衰退型態通常不會持續很久，要不就是起死回生，不然就是公司面臨下市或是破產的命運，因此這個小節的型態介紹都是以五年歷史紀錄呈現。這個案例營收從2011年的1000億下滑到2015年的800億，雖然不是劇烈下滑，但逐步衰退的狀況卻仍無改善，對於投資人來說，除非能夠很有自信的確認這樣的形態會反轉，不然不建議投資人持續投入。</p>
			<p>另一個案例則是更糟的狀況，不僅是營收持續下滑連獲利都變成了虧損，面對這樣的型態建議投資人最遲應該在2013年就應該斷然結束對該公司的投資，事實上這家公司在2015年也因為營運太差導致股價暴跌而下市了。</p>
			<img class="img-responsive" src="https://s3-us-west-2.amazonaws.com/magnficcourse/pic2-2-3-2.png" alt="衰退型"></p>
			<span style="color:black;font-weight:default">■不建議初階投資人荒土找鑽石</span></br>
			<p>衰退型態是初階投資人千萬遠離的公司，通常連老練的投資人都不一定能夠全身而退。有些技巧性的投資人偏好這樣的型態，他們確信自己能夠在荒土中找到鑽石，然而成果都不甚理想，因此建議投資人別花費太多資源在他們身上。</p>
		  </section>
		</div>
		</section>
	  <!-- Two -->
		<section class="wrapper style1 container special">
		  <footer class="major">
			<ul class="buttons">
			  <li><%= link_to "上一節", chapter2_section2_part2_index_path, class: "button" %></li>
              <li><%= link_to "下一節", chapter2_section2_part4_index_path, class: "button special" %></li>
			</ul>
		  </footer>
		</section>
	  <!-- Disqus -->
		<section class="wrapper style4 container">
          <div id="disqus_thread"></div>
            <script>
            /**
            * RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
            * LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables
            */
            /*
            var disqus_config = function () {
            this.page.url = PAGE_URL; // Replace PAGE_URL with your page's canonical URL variable
            this.page.identifier = PAGE_IDENTIFIER; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
            };
            */
            (function() { // DON'T EDIT BELOW THIS LINE
            var d = document, s = d.createElement('script');

            s.src = '//magnificbiz.disqus.com/embed.js';

            s.setAttribute('data-timestamp', +new Date());
            (d.head || d.body).appendChild(s);
            })();
            </script>
            <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
        </section>
        </article>
      </div>
      <!-- Scripts -->
        <script id="dsq-count-scr" src="//magnificbiz.disqus.com/count.js" async></script>
        <script src="https://use.typekit.net/mgd6kfe.js"></script>
        <script>try{Typekit.load({ async: true });}catch(e){}</script>
  </body>
</html>