<!DOCTYPE HTML>
<html>
  <head>
	<title>嘉鼎資本｜投資事業管理術資本估值與資本力測驗篇</title>
	<meta charset="utf-8" />
  <meta name="description" content="嘉鼎資本投資事業管理術資本估值與資本力測驗篇，測試投資人學會是否學會計算資本估值、資本力及了解使用限制。">
  <meta name="keywords" content="嘉鼎資本, 投資事業管理術, 投資, 資本估值, 資本力">
	<meta name="viewport" content="width=device-width, initial-scale=1" />
  </head>
  <body class="no-sidebar">
	<div id="page-wrapper">
	  <!-- Main -->
		<article id="main">
		  <header class="special container">
			<span class="icon fa-book"></span>
			  <h1>2-3-4 資本估值與資本力——測驗篇</h1>
			  <p>目標：測試是否學會計算資本估值、資本力及了解使用限制</p>
		  </header>
	  <!-- One -->
		<section class="wrapper style4 container">
	  <!-- Content -->
		<div class="content">
		  <section>
			<span style="color:black;font-weight:default">1. 資本力是用來做為下列何者用途的工具？</span></br>
			<div class="checkbox">
        <label>
          <input type="checkbox" value="">A. 預估淨利率。</br>
          <input type="checkbox" value="">B. 預估資本回報率（ROC）。</br>
          <input type="checkbox" value="">C. 預估股價年化成長率。</br>
          <input type="checkbox" value="">D. 預估營收成長率。</br>
        </label>
      </div></p>
			<span style="color:black;font-weight:default">2. 資本力的計算，簡易公式為 ______/股價？</span></br>
			<div class="checkbox">
        <label>
          <input type="checkbox" value="">A. 預估每股盈餘（EPS）。</br>
          <input type="checkbox" value="">B. 預估每股淨值。</br>
          <input type="checkbox" value="">C. 預估每股營業淨利（營業利益）。</br>
          <input type="checkbox" value="">D. 預估每股股價。</br>
          <input type="checkbox" value="">E. 過去五年營業淨利（營業利益）平均值。</br>
        </label>
      </div></p>
      <span style="color:black;font-weight:default">3. 下列何者對資本力的描述不正確？</span></br>
			<div class="checkbox">
        <label>
          <input type="checkbox" value="">A. 資本力是一個相對值的概念，較高者顯示投資人面對較低的價格風險。</br>
          <input type="checkbox" value="">B. 資本力有其使用範圍限制，對於營運變動劇烈的公司較不適用。</br>
          <input type="checkbox" value="">C. 資本力的長期平均值與股價年化成長的長期平均值一定有連結。</br>
          <input type="checkbox" value="">D. 資本力的計算使用了預估值，表示其計算結果存在著誤差。</br>
        </label>
      </div></p>
      <span style="color:black;font-weight:default">4. 下列何者資本力的應用不合適？</span></br>
			<div class="checkbox">
        <label>
          <input type="checkbox" value="">A. 對初階投資人來說，可以用來做為衡量買點的工具。</br>
          <input type="checkbox" value="">B. 以資本力做為投入的門檻。</br>
          <input type="checkbox" value="">C. 觀察過去資本力與年化股價成長的變動表，判斷是否有能力理解這家公司。</br>
          <input type="checkbox" value="">D. 做為未來獲利指標的預估。</br>
          <input type="checkbox" value="">E. 以上皆非。</br>
         </label>
      </div></p>
      <span style="color:black;font-weight:default">5. 請試算表格中的空白處。</span></br>
        <div class="table-responsive">
          <table class="table">
            <tr>
              <td>財務年度</td>
              <td>預估資本回報率（ROC）</td>
              <td>期初投入資本</td>
              <td>預估營業淨利</td>
              <td>股價</td>
              <td>資本力</td>
            </tr>
            <tr>
              <td>2010</td>
              <td>19.74%</td>
              <td>19.90</td>
              <td>3.93</td>
              <td>62.02</td>
              <td>6.33%</td>
            </tr>
            <tr>
              <td>2011</td>
              <td>22.52%</td>
              <td>22.99</td>
              <td></td>
              <td>72.09</td>
              <td>7.18%</td>
            </tr>
            <tr>
              <td>2012</td>
              <td>22.77%</td>
              <td>25.36</td>
              <td>5.77</td>
              <td>84.11</td>
              <td></td>
            </tr>
            <tr>
              <td>2013</td>
              <td>24.11%</td>
              <td>30.98</td>
              <td>7.47</td>
              <td>104.09</td>
              <td>7.18%</td>
            </tr>
            <tr>
              <td>2014</td>
              <td>25.32%</td>
              <td>41.39</td>
              <td></td>
              <td>122.46</td>
              <td></td>
            </tr>
            <tr>
              <td>2015</td>
              <td>27.21%</td>
              <td>48.98</td>
              <td>13.33</td>
              <td>139.84</td>
              <td>9.53%</td>
            </tr>
          </table>
        </div>
      <footer>
			  <ul class="buttons">
				<li><li><%= link_to "看解答", chapter2_section3_part5_index_path, class: "button small" %></li>
			  </ul>
			</footer>
		  </section>
		</div>
		</section>
	  <!-- Two -->
		<section class="wrapper style1 container special">
		  <footer class="major">
			<ul class="buttons">
			  <li><%= link_to "上一節", chapter2_section3_part3_index_path, class: "button" %></li>
        <li><%= link_to "下一節", chapter2_section3_part5_index_path, class: "button special" %></li>
			</ul>
		  </footer>
		</section>
	  <!-- Disqus -->
		  <section class="wrapper style4 container">
          <div id="disqus_thread"></div>
            <script>
            /**
            * RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
            * LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables
            */
            /*
            var disqus_config = function () {
            this.page.url = PAGE_URL; // Replace PAGE_URL with your page's canonical URL variable
            this.page.identifier = PAGE_IDENTIFIER; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
            };
            */
            (function() { // DON'T EDIT BELOW THIS LINE
            var d = document, s = d.createElement('script');

            s.src = '//magnificbiz.disqus.com/embed.js';

            s.setAttribute('data-timestamp', +new Date());
            (d.head || d.body).appendChild(s);
            })();
            </script>
            <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
        </section>
        </article>
      </div>
      <!-- Scripts -->
        <script id="dsq-count-scr" src="//magnificbiz.disqus.com/count.js" async></script>
        <script src="https://use.typekit.net/mgd6kfe.js"></script>
        <script>try{Typekit.load({ async: true });}catch(e){}</script>
  </body>
</html>