<!DOCTYPE HTML>
<html>
  <head>
    <title>嘉鼎資本｜投資事業管理術投資事業工具包解答篇</title>
    <meta charset="utf-8" />
    <meta name="description" content="嘉鼎資本投資事業管理術投資事業工具包解答篇，確認投資人學會組成自己的投資事業工具包。">
  <meta name="keywords" content="嘉鼎資本, 投資事業管理術, 投資, 投資事業, 工具包">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
  </head>
  <body class="no-sidebar">
    <div id="page-wrapper">
      <!-- Main -->
        <article id="main">
          <header class="special container">
            <span class="icon fa-book"></span>
              <h1>3-1-4 投資事業工具包——解答篇</h1>
          </header>
      <!-- One -->
        <section class="wrapper style4 container">
      <!-- Content -->
        <div class="content">
          <section>
            <span style="color:black;font-weight:default">1. 投資事業工具包主要由下列哪些資訊構成？</span></br>
            A. 營業淨利（營業利益）估值與資本回報率（ROC）。</br>
            B. 基本資訊。</br>
            C. 財報資訊。</br>
            D. 型態資訊。</br>
            <mark>E. 以上皆是。</mark></p>
            <span style="color:black;font-weight:default">2. 製作投資事業工具包的主要意義為？</span></br>
            A. 整理各種資訊。</br>
            B. 方便查找資訊。</br>
            C. 分析與判斷的工具。</br>
            D. 圖像化的呈現。</br>
            <mark>E. 以上皆是。</mark></p>
            <span style="color:black;font-weight:default">3. 請問下列何者工具不建議拿來製作投資事業工具包？</span></br>
            A. Google文件中的試算表。</br>
            B. Microsoft Office中的Excel。</br>
            C. Mac OS中的Numbers。</br>
            <mark>D. 文件編輯器。</mark></br>
            E. 以上皆是。</p>
            <span style="color:black;font-weight:default">4. 如果投資事業工具包中的資訊出現矛盾，該以下列何者為優先判斷依據？</span></br>
            (1) 基本資訊 (2)財報資訊 (3)資本力 (4)資本回報率（ROC） (5)型態分析 (6)投入資本與淨值。</br>
            <mark>A. 2 > 5 > 6 > 4 > 3 。1做為參考而非優先判斷依據。</mark></br>
            B. 1 > 2 > 3 > 4 > 5 > 6。</br>
            C. 3 > 4 > 5 > 2 > 6 > 1。</br>
            D. 2 > 3 > 5 > 4 >1 > 6。</br>
            E. 6 > 5 > 2 > 4 > 1 > 3。</p>
            <span style="color:black;font-weight:default">5. 請問下列何者投資事業工具包的使用方式錯誤？</span></br>
            (1) 投資事業工具包具有預測工具，可以用來預測股價。</br>
            (2) 投資事業工具包具有分析能力，可以用來型態分析。</br>
            (3) 投資事業工具包具有資本力計算，可以用來做價格風險評估。</br>
            (4) 投資事業工具包具有圖像化處理，裡面的資訊一旦輸入就不能更改。</br>
            (5) 投資事業工具包整合了六種資訊四個圖表，讓投資人能夠快速取得整理過的資訊。</br>
            A. 1、2、3、4。</br>
            B. 2、3、4。</br>
            C. 1、3、5。</br>
            <mark>D. 1、4。</mark></br>
            E. 2、4。</p>
          </div>  
            <blockquote>
            工欲善其事，必先利其器。</br>
            ——《論語》</br>
            </blockquote>
          </section>
        </div>
        </section>
      <!-- Two -->
        <header class="special container">
          <span class="icon fa-bell"></span>
            <h2>我在投資事業工具包學到最重要的三件事</h2>
        </header>
        <section class="wrapper style1 container special">
          <div class="row">
            <div class="4u 12u(narrower)">
              <section>
                <header>
                  <h3>第一件事</h3>
                </header>
                <p>面對更複雜的公司型態，當然也會用不同的工具包來分析，就好比醫生也會利用各種儀器來診斷疾病。但身為初階投資人，能整理出第一個屬於自己的投資事業工具包，已經幫助你更了解投資事業。</p>
              </section>
            </div>
            <div class="4u 12u(narrower)">
              <section>
                <header>
                  <h3>第二件事</h3>
                </header>
                <p>當經驗豐富與投資知識更加完備後，相信投資人也能夠自行開發出更符合自己使用的投資事業工具包。</p>
              </section>
            </div>
            <div class="4u 12u(narrower)">
              <section>
                <header>
                  <h3>第三件事</h3>
                </header>
                <p>謹記任何資訊系統的一個準則，就是garbage in gabage out，務求各筆資訊的輸入都盡量正確，不然辛苦分析所得出的結論都會是白忙一場。</p>
              </section>
            </div>
          </div>
          <footer class="major">
            <ul class="buttons">
              <li><%= link_to "上一節", chapter3_section1_part3_index_path, class: "button" %></li>
              <li><%= link_to "下一節", chapter3_section2_part1_index_path, class: "button special" %></li>
            </ul>
          </footer>
          </section>
      <!-- Disqus -->
        <section class="wrapper style4 container">
          <div id="disqus_thread"></div>
            <script>
            /**
            * RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
            * LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables
            */
            /*
            var disqus_config = function () {
            this.page.url = PAGE_URL; // Replace PAGE_URL with your page's canonical URL variable
            this.page.identifier = PAGE_IDENTIFIER; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
            };
            */
            (function() { // DON'T EDIT BELOW THIS LINE
            var d = document, s = d.createElement('script');

            s.src = '//magnificbiz.disqus.com/embed.js';

            s.setAttribute('data-timestamp', +new Date());
            (d.head || d.body).appendChild(s);
            })();
            </script>
            <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
        </section>
        </article>
      </div>
      <!-- Scripts -->
        <script id="dsq-count-scr" src="//magnificbiz.disqus.com/count.js" async></script>
        <script src="https://use.typekit.net/mgd6kfe.js"></script>
        <script>try{Typekit.load({ async: true });}catch(e){}</script>
  </body>
</html>