<!DOCTYPE HTML>
<html>
  <head>
	<title>嘉鼎資本｜投資事業管理術投資事業報表淺談管理</title>
	<meta charset="utf-8" />
	<meta name="description" content="嘉鼎資本投資事業管理術投資事業報表淺談管理篇，幫助投資人了解投資事業後續管理。">
    <meta name="keywords" content="嘉鼎資本, 投資事業管理術, 投資, 投資事業, 事業報表, 管理">
	<meta name="viewport" content="width=device-width, initial-scale=1" />
  </head>
  <body class="no-sidebar">
	<div id="page-wrapper">
	  <!-- Main -->
		<article id="main">
		  <header class="special container">
			<span class="icon fa-book"></span>
			  <h1>4-1-6 投資事業報表——淺談管理篇</h1>
			  目標：了解投資事業後續管理</p>
		  </header>
	  <!-- One -->
		<section class="wrapper style4 container">
	  <!-- Content -->
		<div class="content">
		  <section>
		  	<span style="color:black;font-weight:default">■市值與透視盈餘長期連動</span></br>
		  	<p>有了事業報表後，事業主在後續的調整與管理都能夠有依據，<a href="https://goo.gl/SrA17G" target="_blank">附件</a>範例提供投資事業2011～2015年的各年度事業報表，我們可透過兩張圖表來說明這段期間的事業成長與變化：</br>
		  	<img class="img-responsive" src="https://s3-us-west-2.amazonaws.com/magnficcourse/pic4-1-6-1.png" alt="投資事業成長變化"></p>
			<p>由於沒有額外新增資本，所以投入資本一直都是維持原始1百萬，市值則是逐年成長。敏銳一點的投資人會發現，市值的成長與透視盈餘的成長呈現同步，如同之前說過的，股價的變化像狗，盈餘則是主人，狗可能會忽快忽慢，但是終究會跟著主人走動。</p>
			<span style="color:black;font-weight:default">■務必定期監控總投資事業資本力</span></br>
			<img class="img-responsive" src="https://s3-us-west-2.amazonaws.com/magnficcourse/pic4-1-6-2.png" alt="投資事業市值及事業資本力成長變化"></p>
			<p>第二張圖說明了市值年化成長與各年度的總投資事業資本力，可以發現除了剛成立的年度外，事業資本力都是緩步逐年增加，表示案例的投資事業在成長的軌道上，因為設定的是穩定優先，所以成長幅度不會太快，但是也不會有劇烈變化。</p>
			<p>對於事業主來說，監控總投資事業資本力的變動是最重要的工作，一般來說3～5年期間，個別事業資本力的變化要能夠符合原始設定，不然就要調整事業內容了。</p>
			<p>以範例來說，若在2011年底，把資本力表現較差的電子集團替換成食品公司，則會有不同的結果，下圖為替換後與原本事業資本力比較圖：</br>
			<img class="img-responsive" src="https://s3-us-west-2.amazonaws.com/magnficcourse/pic4-1-6-3.png" alt="替換前後事業資本力變化"></p>
			<p>在2011年末，替換後總投資事業資本力都仍然還是一樣，但因為替換的食品公司個別事業資本力較高，到2015年已經來到17.09%比上14.84%。</p>
			<p>同樣地，到2015年替換後的投資事業總市值成長到177萬比上164萬，而透視盈餘則是17.08萬比上14.84萬。詳細的歷史紀錄都在<a href="https://goo.gl/SrA17G" target="_blank">附件</a>中。</p>
			<p>由此結果，可以這樣說明，謹慎的建置投資事業固然重要，但是未來的變化不可能在建置時就可以預測，因此因應變化而進行管理的投資事業，其表現一定會比沒有調整與管理還要更好，只是投資事業的管理需要更多的知識與經驗，同時也超過本課程的範疇，只能在這裡稍做講解。</p>
			<p>但事業主依然可以透過精簡版的事業報表，了解自己投資事業的近況與變化，並針對已經不合時宜的投資標的做替換，確保投資事業在正確的軌道上前進。</p>
		  </section>
		</div>
		</section>
	  <!-- Two -->
	    <header class="special container">
          <span class="icon fa-binoculars"></span>
            <h2>延伸閱讀</h2>
        </header>
		<section class="wrapper style1 container special">
		  <div class="row">
			<div class="4u 12u(narrower)">
			  <section>
				<header>
				  <h3>巴菲特如何看待透視盈餘</h3>
				</header>
				<p>波克夏原本就是投資事業，但在收購許多自有事業（即實業）後，只用淨值資本的成長數字，就無法反映其內在事業價值.....</p>
				<footer>
				  <ul class="buttons">
					<li><a href="http://magnific.biz/?p=3220" target="_blank" class="button small">點我看更多</a></li>
				  </ul>
				</footer>
			  </section>
			</div>
			<div class="4u 12u(narrower)">
			  <section>
				<header>
				  <h3>事業原則</h3>
				</header>
				<p>1996年六月，巴菲特為波克夏A股及B股的股東，發行了一本標題為「持有者手冊（An Owner’s Manual）」的說明書，目的是闡述波克夏在營運方面相關的經濟原則.....</p>
				<footer>
				  <ul class="buttons">
					<li><a href="http://magnific.biz/?p=4173" target="_blank" class="button small">點我看更多</a></li>
				  </ul>
				</footer>
			  </section>
			</div>
			<div class="4u 12u(narrower)">
			  <section>
				<header>
				  <h3>事業獲利能力這樣看！</h3>
				</header>
				<p>散戶主要都是看「投入」，也就是說，如果以現在的市價投入，是比之前大打折扣沒錯。但這種看法，並未將「產出」的事業盈餘增長部份考慮進去.....</p>
				<footer>
				  <ul class="buttons">
					<li><a href="http://magnific.biz/?p=3990" target="_blank" class="button small">點我看更多</a></li>
				  </ul>
				</footer>
			  </section>
			</div>
		  </div>
		  <footer class="major">
			<ul class="buttons">
			  <li><%= link_to "上一節", chapter4_section1_part5_index_path, class: "button" %></li>
              <li><%= link_to "下一節", chapter4_section1_part7_index_path, class: "button special" %></li>
			</ul>
		  </footer>
		</section>
	  <!-- Disqus -->
		<section class="wrapper style4 container">
          <div id="disqus_thread"></div>
            <script>
            /**
            * RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
            * LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables
            */
            /*
            var disqus_config = function () {
            this.page.url = PAGE_URL; // Replace PAGE_URL with your page's canonical URL variable
            this.page.identifier = PAGE_IDENTIFIER; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
            };
            */
            (function() { // DON'T EDIT BELOW THIS LINE
            var d = document, s = d.createElement('script');

            s.src = '//magnificbiz.disqus.com/embed.js';

            s.setAttribute('data-timestamp', +new Date());
            (d.head || d.body).appendChild(s);
            })();
            </script>
            <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
        </section>
        </article>
      </div>
      <!-- Scripts -->
        <script id="dsq-count-scr" src="//magnificbiz.disqus.com/count.js" async></script>
        <script src="https://use.typekit.net/mgd6kfe.js"></script>
        <script>try{Typekit.load({ async: true });}catch(e){}</script>
  </body>
</html>