<!DOCTYPE HTML>
<html>
  <head>
	<title>嘉鼎資本｜投資事業管理術基本資訊解答篇</title>
	<meta charset="utf-8" />
	<meta name="description" content="嘉鼎資本投資事業管理術解答篇，幫助投資人瀏覽大立光、大統益及台達電子等公司資訊。">
  <meta name="keywords" content="嘉鼎資本, 投資事業管理術, 投資, 大立光, 大統益, 台達電子">
	<meta name="viewport" content="width=device-width, initial-scale=1" />
  </head>
  <body class="no-sidebar">
	<div id="page-wrapper">
	  <!-- Main -->
		<article id="main">
		  <header class="special container">
			<span class="icon fa-book"></span>
			  <h1>1-1-5 基本資訊——解答篇</h1>
		  </header>
	  <!-- One -->
		<section class="wrapper style4 container">
	  <!-- Content -->
		<div class="content">
		  <section>
			<span style="color:black;font-weight:default">1. 下列何者非上市公司「<a href="http://www.largan.com.tw/html/product/product_cellphone.asp" target="_blank">大立光</a>」的產品？</span></br>
			A. 手機相機鏡頭。</br>
            B. 車用相機鏡頭。</br>
            C. 掃描器鏡頭。</br>
            <mark>D. 望遠鏡鏡頭。</mark></p>
            <img class="img-responsive" src="https://s3-us-west-2.amazonaws.com/magnficcourse/pic1-1-5-1.png" alt="大立光產品服務"></p>
			<span style="color:black;font-weight:default">2. 以下對於「<a href="http://www.ttet.com.tw/index.php?option=module&lang=cht&task=pageinfo&id=1&index=1" target="_blank">大統益</a>」的描述介紹是否正確？</span></br>
			<p>「大統益公司位於台灣嘉南平原的中心，為台灣營業規模最大的大豆提油廠。目前大豆年加工產能達 150 萬噸，大豆油及大豆粉產量為全台灣第一。多年來大統益一直致力於從自己有競爭優勢的核心產品出發去創造利潤，也謹慎的從事轉投資及多角化經營，因此經營規模能不斷擴大，產品銷售亦不僅限於台灣，更將通路擴展到日本及東南亞等地區。大統益公司股票在台灣證券交易所公開上市（代號： 1232 ）」。</br>
			<mark>A. 是。</mark></br>
            B. 否。</p>
            <img class="img-responsive" src="https://s3-us-west-2.amazonaws.com/magnficcourse/pic1-1-5-2.png" alt="大統益公司簡介"></p>
            <span style="color:black;font-weight:default">3. 下列何者為「<a href="http://www.deltaww.com/news/press.aspx?secID=3&pID=1&typeID=0&page=1&tid=0&hl=zh-TW" target="_blank">台達電子</a>」2016/05/03發佈的新聞？</span></br>
            A. 台達電子公佈一百零五年第一季財務報表。</br>
            <mark>B. 台達電子連續四年榮獲《遠見雜誌》企業社會責任獎雙料首獎。</mark></br>
            C. 首度參與雲林縣地面型太陽光電廠動土。</p>
            <img class="img-responsive" src="https://s3-us-west-2.amazonaws.com/magnficcourse/pic1-1-5-3.png" alt="台達電子新聞中心"></p>
			另外台達電子是04/29公佈財報，非05/03新聞。</p>
			<a href="http://www.tatung.com.tw/b5/news.asp?langCN=" target="_blank">大同公司</a>首度參與雲林縣地面型太陽光電廠動土。</br>
			<img class="img-responsive" src="https://s3-us-west-2.amazonaws.com/magnficcourse/pic1-1-5-4.png" alt="大同公司新聞"></p>
            <span style="color:black;font-weight:default">4. 美國資本事業家巴菲特曾經對股東說過，了解你的競爭圈是投資的第一件事，而且強調競爭圈的界線比大小來的重要，請問為什麼？</span></br>
            A. 因為知道界線就知道該選擇甚麼跟不該選擇甚麼，對於投資人來說可以投資的公司太多，找出適合且有能力投資的公司才是重點。</br>
            B. 避免在競爭圈外花費太多資源，畢竟很多公司營運的內容需要某些領域的專業知識或甚至刻意不讓大眾理解。</br>
            C. 了解自己的界限，也才知道該從哪裡開始拓展界線。</br>
            <mark>D. 以上皆是。</mark></p>
			<blockquote>
			<p>Intelligent investing is not complex, though that is far from saying that it is easy.  What an investor needs is the ability to correctly evaluate selected businesses. Note that word "selected":  You don't have to be an expert on every company, or even many.  You only have to be able to evaluate companies within your circle of competence.  The size of that circle is not very important; knowing its boundaries, however, is vital.</p>
			<p>智能投資並不複雜，然而也不能說是簡單，投資人需要能夠正確選擇事業，註記這個詞「選擇」：你不需要是每種公司的專家，甚至不用是大部分公司的專家，你只需能夠辨識那些公司是位在你的競爭圈之中，競爭圈的大小並非關鍵，然而了解那個界線在哪卻是至關重要。</br>
			——波克夏致股東信 1996
			</blockquote>
            <span style="color:black;font-weight:default">5. 對於投資人來說，快速決定是否要選擇投資一家公司的一種方式是？</span></br>
            A. 試用或試吃該公司的產品。</br>
            B. 問親朋好友或是看報章雜誌介紹。</br>
            <mark>C. 瀏覽公司網站，並檢查是否能在合理時間內理解公司的營運內容。</mark></br>
            D. 看前三天的股價漲跌，漲就投資跌就不投資。</p>
		  </section>
		</div>
		</section>
	  <!-- Two -->
		<header class="special container">
		  <span class="icon fa-bell"></span>
			<h2>我在基本資訊學到最重要的三件事</h2>
		</header>
		<section class="wrapper style1 container special">
		  <div class="row">
			<div class="4u 12u(narrower)">
			  <section>
				<header>
				  <h3>第一件事</h3>
				</header>
				身為現代投資人，我們比過去幸福很多，許多資訊都數位化在網路上供大眾快速取得，但是同樣的我們也比過去更需要懂得取捨，對於無法理解的公司、或是對於有懷疑的內容，投資人都可以先行跳過。</p>
			  </section>
			</div>
			<div class="4u 12u(narrower)">
			  <section>
				<header>
				  <h3>第二件事</h3>
				</header>
				有人會問1500家上市櫃公司要挑選到何時？市值框架篩選大約可以幫你過濾一半的公司，剩下的部分大概只會有10%～20%，是一般投資人能夠較容易理解的，也就是100家左右。</p>
			  </section>
			</div>
			<div class="4u 12u(narrower)">
			  <section>
				<header>
				  <h3>第三件事</h3>
				</header>
				每天花1個小時的時間瀏覽2家公司，不用兩個月你就能夠把大多數的不符合投資標的去除。這段時間你將會更加了解自己的投資屬性與投資能力範圍，這對所有投資人來說，是極其重要的一件事。</p>
			  </section>
			</div>
		  </div>
			<footer class="major">
			  <ul class="buttons">
				<li><%= link_to "上一節", chapter1_section1_part4_index_path, class: "button" %></li>
				<li><%= link_to "下一節", chapter1_section2_part1_index_path, class: "button special" %></li>
			  </ul>
			</footer>
		</section>
	  <!-- Disqus -->
        <section class="wrapper style4 container">
		  <div id="disqus_thread"></div>
            <script>
            /**
            * RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
            * LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables
            */
            /*
            var disqus_config = function () {
            this.page.url = PAGE_URL; // Replace PAGE_URL with your page's canonical URL variable
            this.page.identifier = PAGE_IDENTIFIER; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
            };
            */
            (function() { // DON'T EDIT BELOW THIS LINE
            var d = document, s = d.createElement('script');

            s.src = '//magnificbiz.disqus.com/embed.js';

            s.setAttribute('data-timestamp', +new Date());
            (d.head || d.body).appendChild(s);
            })();
            </script>
            <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
        </section>
        </article>
      </div>
      <!-- Scripts -->
        <script id="dsq-count-scr" src="//magnificbiz.disqus.com/count.js" async></script>
        <script src="https://use.typekit.net/mgd6kfe.js"></script>
        <script>try{Typekit.load({ async: true });}catch(e){}</script>
  </body>
</html>