<!DOCTYPE HTML>
<html>
  <head>
	<title>嘉鼎資本｜投資事業管理術投資事業報表基本資訊</title>
	<meta charset="utf-8" />
	<meta name="description" content="嘉鼎資本投資事業管理術投資事業報表基本資訊篇，幫助投資人了解投資事業的事業報表基本資訊內容。">
    <meta name="keywords" content="嘉鼎資本, 投資事業管理術, 投資, 投資事業, 事業報表, 基本資訊">
	<meta name="viewport" content="width=device-width, initial-scale=1" />
  </head>
  <body class="no-sidebar">
	<div id="page-wrapper">
	  <!-- Main -->
		<article id="main">
		  <header class="special container">
			<span class="icon fa-book"></span>
			  <h1>4-1-2 投資事業報表——基本資訊篇</h1>
			  <p>目標：了解投資事業的事業報表基本資訊內容</p>
		  </header>
	  <!-- One -->
		<section class="wrapper style4 container">
	  <!-- Content -->
		<div class="content">
		  <section>
		  	<img class="img-responsive" src="https://s3-us-west-2.amazonaws.com/magnficcourse/pic4-1-2-1.png" alt="事業報表基本資訊"></p>
			<p>到這個階段，投資人已經能建立起自己的投資事業了，然而投資事業不是建立完成後，就等著它自生自滅，後續的管理更是不能疏忽怠惰。</p>
			<p>如同建置投資事業一樣管理也需要工具的協助，讓事業主能夠精確掌握目前的狀況，以及調整的方向。投資事業管理工具琳瑯滿目，本課程僅對投資人提供其中最精簡實用的方法，而這個工具就是——<strong>投資事業報表</strong>。</p>
			<span style="color:black;font-weight:default">■Step1. 公司名稱</span></br>
			<p>可將營運內容作為附註，甚至加入連結，點開就可以連到投資事業工具包的對應表單。</p>
			<span style="color:black;font-weight:default">■Step2. 持有股數</span></p>
			<span style="color:black;font-weight:default">■Step3. 投入資本</span></br>
			<p>也就是投入總資本額，以該範例來說明，投資事業成立的資金總額為100萬，各以20萬投入到5家不同公司，所以每家的投入資本【註1】都是20萬元。</p>
			<p><pre>【註1】由於管理過程可能會有賣出或買進等調整，因此投入資本＝投入—賣出（依成本計算）。例如：買入電信公司20萬元，共2000股，個股投入成本100元；如果賣出1000股，賣出＝1000X100＝10萬投入資本=20萬—10萬＝10萬。</pre></p>
			<span style="color:black;font-weight:default">■Step4. 市值</span></br>
			<p>市值＝最新股價Ｘ持有股數。</p>
			<span style="color:black;font-weight:default">■Step5. 透視盈餘</span></br>
			<p>透視盈餘＝每股營業淨利（營業利益）Ｘ持有股數。</p>
			<p>透視盈餘的功能，是為提供事業主營運相關的參考指標，德國投資大師安德列．科斯托蘭尼曾說：「基本面和股價的關係就像主人與狗一樣。」</p>
			<p><mark>透視盈餘代表的就是投資事業的基本面，因此相對於市值來說，對成長預測的參考意義更為強大。此外透視盈餘也是計算事業資本力的重要元素，是資本力的分子，也就是產出的代言人。</mark></p>
			<span style="color:black;font-weight:default">■Step6. 市值年化成長</span></br>
			<p>即是該事業的市值的成長衡量公式＝（期末市值／期初市值）^（1／投資期間）—1。</p>
			<p>一般來說，投資事業成立的前幾年，成長幅度都不會太快，如同範例只有成立一年的時間，所以年化成長只有1.11%，不過這樣的狀況會隨著時間拉長，市值成長就會慢慢與另一項數值靠攏——總投資事業資本力。</p>
			<span style="color:black;font-weight:default">■Step7. 總投資事業資本力</span></br>
			<p>總投資事業資本力＝總透視盈餘／總投入資本，以範例的投資事業來說明，就是90,355.25／1,000,000＝9.04%，對於一個追求穩健的投資事業來說，9%是個合格的資本力（詳細可參考<%= link_to "3-2-2", chapter3_section2_part2_index_path %>【補充】型態比例說明）。</p>
			<p><pre>小提醒：先前在<%= link_to "2-3-2", chapter2_section3_part2_index_path %>預期資本成長率與事業資本力邏輯相同，差別在於事業資本力是以當期實際的營業淨利（營業利益），而非預估值。</pre></p>
		  </section>
		</div>
		</section>
	  <!-- Two -->
		<section class="wrapper style1 container special">
		  <footer class="major">
			<ul class="buttons">
			  <li><%= link_to "上一節", chapter4_section1_part1_index_path, class: "button" %></li>
              <li><%= link_to "下一節", chapter4_section1_part3_index_path, class: "button special" %></li>
			</ul>
		  </footer>
		</section>
	  <!-- Disqus -->
		<section class="wrapper style4 container">
          <div id="disqus_thread"></div>
            <script>
            /**
            * RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
            * LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables
            */
            /*
            var disqus_config = function () {
            this.page.url = PAGE_URL; // Replace PAGE_URL with your page's canonical URL variable
            this.page.identifier = PAGE_IDENTIFIER; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
            };
            */
            (function() { // DON'T EDIT BELOW THIS LINE
            var d = document, s = d.createElement('script');

            s.src = '//magnificbiz.disqus.com/embed.js';

            s.setAttribute('data-timestamp', +new Date());
            (d.head || d.body).appendChild(s);
            })();
            </script>
            <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
        </section>
        </article>
      </div>
      <!-- Scripts -->
        <script id="dsq-count-scr" src="//magnificbiz.disqus.com/count.js" async></script>
        <script src="https://use.typekit.net/mgd6kfe.js"></script>
        <script>try{Typekit.load({ async: true });}catch(e){}</script>
  </body>
</html>