<!DOCTYPE HTML>
<html>
  <head>
	<title>嘉鼎資本｜投資事業管理術資訊解讀營業淨利（營業利益）篇</title>
	<meta charset="utf-8" />
	<meta name="description" content="嘉鼎資本投資事業管理術資訊解讀營業淨利篇，幫助投資人了解營業淨利、營業利益、營收之間的關係。">
  <meta name="keywords" content="嘉鼎資本, 投資事業管理術, 投資, 資訊, 營業淨利, 營業利益, 營收">
	<meta name="viewport" content="width=device-width, initial-scale=1" />
  </head>
  <body class="no-sidebar">
    <div id="page-wrapper">
	  <!-- Main -->
	    <article id="main">
		  <header class="special container">
			<span class="icon fa-book"></span>
			  <h1>2-1-2 資訊解讀——營業淨利（營業利益）篇</h1>
			  <p>目標：學會解讀公司透過營運所產生營業淨利（營業利益）</p>
		  </header>
	  <!-- One -->
		<section class="wrapper style4 container">
	  <!-- Content -->
		<div class="content">
		  <section>
			<p>有投資人會問，毛利呢？為什麼跳過了毛利直接來到營業淨利（營業利益）？如果是成本分析師或是公司內部人員分析產品的競爭狀況，那麼毛利分析就十分重要，因為牽涉到了從採購到製作的各種費用與成本。</p>
			<span style="color:black;font-weight:default">■比起毛利，投資人應該更重視營業淨利（營業利益）</span></br>
			<p>然而作為一個投資人，就顯得有點失去意義，<mark>對投資人而言，公司透過營運後所生產出來的利潤才是重點，而營業淨利（營業利益）又與稅前淨利不同，營業淨利（營業利益）能夠呈現只有營運產生的結果，任何其他非營運外的損益都被排除。</mark></p>
			那麼營業淨利（營業利益）又要如何解讀呢？重點在於是否與營收呈現連動與一致性。</p>
			<p>下圖是一家科技公司，營收不斷創新高，然而2013年與2016年的營業淨利（營業利益）卻呈現下滑，因此月均股價【註】反而是下滑的。</p>
			<img class="img-responsive" src="https://s3-us-west-2.amazonaws.com/magnficcourse/pic2-1-2-1.png" alt="營業利益"></p>
            <pre>【註】月均股價為該年度6/1當日20日移動平均值，作為短期股價的取樣代表。</pre></p>
			<p>建議初階投資人，找尋營業淨利與營收一致性較高的公司。以上案例來說，雖然有幾個年度出現分歧，但分歧比例不大且長期趨勢一致，因此是可以納入選擇的。</p>
			接著再來看一個案例：</br>
			<img class="img-responsive" src="https://s3-us-west-2.amazonaws.com/magnficcourse/pic2-1-2-2.png" alt="營業利益"></p>
			<p>這家公司在2011年營收大爆發，營業淨利（營業利益）也有相對成長，然而2012年營收持平，可是營業淨利（營業利益）已經是負數，這是一個很嚴重的警訊，而看到月均股價已經率先反應營業淨利（營業利益）的狀況，然而年均股價卻緩緩的跟著營收下滑。</p>
            <span style="color:black;font-weight:default">■營收作為長期判斷，營業淨利（營業利益）輔以判斷</span></br>
            <p>這個案例也同時告訴我們，營收固然重要，但是比較適合做為長遠趨勢的判斷，而營業淨利（營業利益）敏感度更高，當該年度營業利益出現問題，甚至是負數的狀況，也是一種停止投入警訊。</p>
            <p>投資人可以這樣理解，營收表示公司的銷售能力，營業淨利（營業利益）則是公司的獲利能力，有些時候公司會犧牲獲利來維持營收，然而這樣的做法，通常是到了營運非常艱難的情況才會用上，所以建議投資人盡量避開這樣的公司。</p>
		  </section>
		</div>
		</section>
	  <!-- Two -->
		<section class="wrapper style1 container special">
		  <footer class="major">
			<ul class="buttons">
			  <li><%= link_to "上一節", chapter2_section1_part1_index_path, class: "button" %></li>
              <li><%= link_to "下一節", chapter2_section1_part3_index_path, class: "button special" %></li>
			</ul>
		  </footer>
		</section>
	  <!-- Disqus -->
        <section class="wrapper style4 container">
		  <div id="disqus_thread"></div>
            <script>
            /**
            * RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
            * LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables
            */
            /*
            var disqus_config = function () {
            this.page.url = PAGE_URL; // Replace PAGE_URL with your page's canonical URL variable
            this.page.identifier = PAGE_IDENTIFIER; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
            };
            */
            (function() { // DON'T EDIT BELOW THIS LINE
            var d = document, s = d.createElement('script');

            s.src = '//magnificbiz.disqus.com/embed.js';

            s.setAttribute('data-timestamp', +new Date());
            (d.head || d.body).appendChild(s);
            })();
            </script>
            <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
        </section>
        </article>
      </div>
      <!-- Scripts -->
        <script id="dsq-count-scr" src="//magnificbiz.disqus.com/count.js" async></script>
        <script src="https://use.typekit.net/mgd6kfe.js"></script>
        <script>try{Typekit.load({ async: true });}catch(e){}</script>
  </body>
</html>