<!DOCTYPE HTML>
<html>
  <head>
	<title>嘉鼎資本｜投資事業管理術建置投資事業何謂投資事業</title>
	<meta charset="utf-8" />
	<meta name="description" content="嘉鼎資本投資事業管理術建置投資事業之何謂投資事業篇，幫助投資人了解何謂投資事業心態及成為真正事業主。">
  <meta name="keywords" content="嘉鼎資本, 投資事業管理術, 投資, 投資事業, 事業主">
	<meta name="viewport" content="width=device-width, initial-scale=1" />
  </head>
  <body class="no-sidebar">
	<div id="page-wrapper">
	  <!-- Main -->
		<article id="main">
		  <header class="special container">
			<span class="icon fa-book"></span>
			  <h1>3-2-1 建置投資事業——何謂投資事業篇</h1>
			  <p>目標：了解何謂投資事業心態及成為真正事業主</p>
		  </header>
	  <!-- One -->
		<section class="wrapper style4 container">
	  <!-- Content -->
		<div class="content">
		  <section>
			<p>從嘉鼎資本的觀點來看：</br>
			1. 投資不屬於理財——因為投資的目的是希望在未來能夠有更多成長。</br>
			2. 投資也不屬於資產配置——因為投資的標的並非得到所有權，而是未來收入的分配權。</br>
			因此投資更傾向於事業——business。</p>
			<span style="color:black;font-weight:default">■投資人應成為事業主</span></br>
			<p>投資用事業來描述，或許會讓人覺得有些沉重，然而事業才是對投資最理想的詮釋。投資標的公司的本意就是成為公司股東，也就是股權的持有者。</p>
			<p>也就是<mark>從取得股票的那一刻起，投資人就具備了另一個身分——事業的主人（business owner）。</mark></p>
			<p>因此，對於投資人來說，與其不斷在各個投資機會中跳轉以期賺取利差，不如改變心態，學習當一個睿智的事業主。</p>
			<p>投資事業就是基於以上概念而生，前面的課程所介紹的各種工具與知識，最終也是希望協助投資人能夠建置自己的投資事業。接著將介紹如何建置投資事業，我們提供了三種不同的方法供投資人參考，建議各位投資人先熟練第一種瀑布法，在累積經驗後，在實作互補法及排序法。</p>
		  </section>
		</div>
		</section>
	  <!-- Two -->
		<section class="wrapper style1 container special">
		  <footer class="major">
			<ul class="buttons">
			  <li><%= link_to "上一節", chapter3_section1_part4_index_path, class: "button" %></li>
              <li><%= link_to "下一節", chapter3_section2_part2_index_path, class: "button special" %></li>
			</ul>
		  </footer>
		</section>
	  <!-- Disqus -->
		<section class="wrapper style4 container">
          <div id="disqus_thread"></div>
            <script>
            /**
            * RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
            * LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables
            */
            /*
            var disqus_config = function () {
            this.page.url = PAGE_URL; // Replace PAGE_URL with your page's canonical URL variable
            this.page.identifier = PAGE_IDENTIFIER; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
            };
            */
            (function() { // DON'T EDIT BELOW THIS LINE
            var d = document, s = d.createElement('script');

            s.src = '//magnificbiz.disqus.com/embed.js';

            s.setAttribute('data-timestamp', +new Date());
            (d.head || d.body).appendChild(s);
            })();
            </script>
            <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
        </section>
        </article>
      </div>
      <!-- Scripts -->
        <script id="dsq-count-scr" src="//magnificbiz.disqus.com/count.js" async></script>
        <script src="https://use.typekit.net/mgd6kfe.js"></script>
        <script>try{Typekit.load({ async: true });}catch(e){}</script>
  </body>
</html>