<!DOCTYPE HTML>
<html>
  <head>
	<title>嘉鼎資本｜投資事業管理術投資事業報表圖表</title>
	<meta charset="utf-8" />
  <meta name="description" content="嘉鼎資本投資事業管理術投資事業報表圖表篇，幫助投資人了解投資事業的事業報表如何用圖表顯現基本資訊、盈虧及比例配置等資訊。">
  <meta name="keywords" content="嘉鼎資本, 投資事業管理術, 投資, 投資事業, 事業報表, 圖表">
	<meta name="viewport" content="width=device-width, initial-scale=1" />
  </head>
  <body class="no-sidebar">
	<div id="page-wrapper">
	  <!-- Main -->
		<article id="main">
		  <header class="special container">
			<span class="icon fa-book"></span>
			  <h1>4-1-5 投資事業報表——圖表篇</h1>
			  <p>目標：了解投資事業的事業報表如何用圖表顯現基本資訊、盈虧及比例配置等資訊</p>
		  </header>
	  <!-- One -->
		<section class="wrapper style4 container">
	  <!-- Content -->
		<div class="content">
		  <section>
		  	<img class="img-responsive" src="https://s3-us-west-2.amazonaws.com/magnficcourse/pic4-1-5-1.png" alt="事業報表圖表"></p>
			<p>這個區塊把前面3個數字區塊轉換成圖像呈現，讓事業主更直觀的了解投資事業的現況。</p>
		  </section>
		</div>
		</section>
	  <!-- Two -->
		<section class="wrapper style1 container special">
		  <footer class="major">
			<ul class="buttons">
			  <li><%= link_to "上一節", chapter4_section1_part4_index_path, class: "button" %></li>
        <li><%= link_to "下一節", chapter4_section1_part6_index_path, class: "button special" %></li>
			</ul>
		  </footer>
		</section>
	  <!-- Disqus -->
		<section class="wrapper style4 container">
          <div id="disqus_thread"></div>
            <script>
            /**
            * RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
            * LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables
            */
            /*
            var disqus_config = function () {
            this.page.url = PAGE_URL; // Replace PAGE_URL with your page's canonical URL variable
            this.page.identifier = PAGE_IDENTIFIER; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
            };
            */
            (function() { // DON'T EDIT BELOW THIS LINE
            var d = document, s = d.createElement('script');

            s.src = '//magnificbiz.disqus.com/embed.js';

            s.setAttribute('data-timestamp', +new Date());
            (d.head || d.body).appendChild(s);
            })();
            </script>
            <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
        </section>
        </article>
      </div>
      <!-- Scripts -->
        <script id="dsq-count-scr" src="//magnificbiz.disqus.com/count.js" async></script>
        <script src="https://use.typekit.net/mgd6kfe.js"></script>
        <script>try{Typekit.load({ async: true });}catch(e){}</script>
  </body>
</html>