<!DOCTYPE HTML>
<html>
  <head>
	<title>嘉鼎資本｜投資事業管理術錯誤行為</title>
	<meta charset="utf-8" />
	<meta name="description" content="投資只能靠理專或聽明牌嗎？嘉鼎資本的投資事業管理術不教你技術分析，但教你科學化你的投資方法，建立自己的投資日誌，避免錯誤投資行為。">
	<meta name="keywords" content="嘉鼎資本, 投資事業管理術, 投資, 錯誤投資行為, 理專, , 投資日誌, 技術分析">
	<meta name="viewport" content="width=device-width, initial-scale=1" />
  </head>
  <body class="no-sidebar">
	<div id="page-wrapper">
	  <!-- Main -->
		<article id="main">
		  <header class="special container">
			<span class="icon fa-book"></span>
			  <h1>錯誤的行為造成錯誤的結果</h1>
		  </header>
	  <!-- One -->
		<section class="wrapper style4 container">
      <!-- Content -->
		<div class="content">
		  <section>
			<span style="color:black;font-weight:default">■錯誤的投資行為</span></br>
            <p>◆以為自己極具天分，學了技術分析／市場分析就想賺快錢<a href="https://zh.wikipedia.org/wiki/%E5%82%91%E8%A5%BF%C2%B7%E6%9D%8E%E4%BD%9B%E6%91%A9" target="_blank">→〈延伸閱讀〉被天分害死的李佛摩</a></br>
            ◆聽信名嘴、營業員的小道消息</br>
            ◆只買金融商品，並都由理專幫你做決策<a href="http://magnific.biz/?p=5865" target="_blank">→〈延伸閱讀〉 聽說加碼高收益債正是時候？自主掌握投資機會才是真！</a></br>
            ◆花錢上很多投資的課程，彼此不能協調甚至矛盾</br>
            ◆買一堆投資相關的書籍，也不確定是否真的理解<a href="http://magnific.biz/?p=5790" target="_blank">→〈延伸閱讀〉給年輕朋友：投資沒有捷徑 但絕對有學習方法！</a></p>
            <blockquote>
            正確的知識、有效的工具、事業化的管理，並建立能夠伴隨你一輩子成長的投資事業，是我們想帶給你的。
            </blockquote>
			<p>你一定聽過「投資是一門藝術」，因為結果難以預料。</br>
			投資不像牛頓運動定律一樣，只要知道某個物體的向量與速度，就能夠預測移動軌跡。</p>
			<p>那投資人就只能聽天由命、隨機漫步了嗎？其實不然，過去人類在大航海時代面對未知境時，也是懵懵懂懂，九死一生；但隨著航海知識的開發、航海術的改良，匯集成船隊管理學，最終我們克服了這個困難，大海不再是人類的惡夢，而是成就夢想的開端。</p>
			<p>投資也如此，這系列課程就是以科學方法來面對資本市場，你將會學到嘉鼎資本所積累的投資經驗與知識，學會如何繪製你自己的投資日誌，並建立自己的投資船隊（事業），進而開啟你的投資旅程。</p>
		  </section>
		</div>
		</section>
	  <!-- Two -->
		<header class="special container">
          <span class="icon fa-binoculars"></span>
            <h2>延伸閱讀</h2>
        </header>
		<section class="wrapper style1 container special">
		  <div class="row">
			<div class="4u 12u(narrower)">
			  <section>
				<header>
				  <h3>被天分害死的李佛摩</h3>
				</header>
				<p>1901年，美國股市大漲，李佛摩在紐約買入「北太平洋公司」（Northern Pacific）的股票大賺，財產爆增至五萬美元。但不久，李佛摩再次輸光。1907年10月24日大賺300萬美元，並引發華爾街股市大崩盤.....</p>
				<footer>
				  <ul class="buttons">
					<li><a href="https://zh.wikipedia.org/wiki/%E5%82%91%E8%A5%BF%C2%B7%E6%9D%8E%E4%BD%9B%E6%91%A9" target="_blank" class="button small">點我看更多</a></li>
				  </ul>
				</footer>
			  </section>
			</div>
			<div class="4u 12u(narrower)">
			  <section>
				<header>
				  <h3>聽說加碼高收益債正是時候？自主掌握投資機會才是真！</h3>
				</header>
				<p>高收益債市受美國升息壓力影響，2015年下半年的表現，創下除2002年、2008年之外的最差紀錄。國人選擇高收益債基金，不外乎是追求較低利率下較好的固定收益，這樣的前提是在於，若債市多頭，投資高收益債，除固定利率外，還可以追求資本利得空間.....</p>
				<footer>
				  <ul class="buttons">
					<li><a href="http://magnific.biz/?p=5865" target="_blank" class="button small">點我看更多</a></li>
				  </ul>
				</footer>
			  </section>
			</div>
			<div class="4u 12u(narrower)">
			  <section>
				<header>
				  <h3>給年輕朋友：投資沒有捷徑 但絕對有學習方法！</h3>
				</header>
				<p>一直以來，我們常常收到年輕朋友們的來信，詢問年輕人應該投資理財，這其中還不乏許多大學生。這讓我們深感驚喜，同樣也讓我們驚恐，驚喜的是，有許多年輕朋友已經為未來在做打算，驚恐的是，該怎麽給這些年輕朋友建議，畢竟投資是一場持久賽，它並無法三言兩語說完.....</p>
				<footer>
				  <ul class="buttons">
					<li><a href="http://magnific.biz/?p=5790" target="_blank" class="button small">點我看更多</a></li>
				  </ul>
				</footer>
			  </section>
			</div>
		  </div>
			<footer class="major">
			  <ul class="buttons">
				<li><%= link_to "上一節", introduction_section1_index_path, class: "button" %></li>
				<li><%= link_to "下一節", introduction_section3_index_path, class: "button special" %></li>
			  </ul>
			</footer>
		</section>
	  <!-- Disqus -->
        <section class="wrapper style4 container">
		  <div id="disqus_thread"></div>
            <script>
            /**
            * RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
            * LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables
            */
            /*
            var disqus_config = function () {
            this.page.url = PAGE_URL; // Replace PAGE_URL with your page's canonical URL variable
            this.page.identifier = PAGE_IDENTIFIER; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
            };
            */
            (function() { // DON'T EDIT BELOW THIS LINE
            var d = document, s = d.createElement('script');

            s.src = '//magnificbiz.disqus.com/embed.js';

            s.setAttribute('data-timestamp', +new Date());
            (d.head || d.body).appendChild(s);
            })();
            </script>
            <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
        </section>
        </article>
      </div>
      <!-- Scripts -->
        <script id="dsq-count-scr" src="//magnificbiz.disqus.com/count.js" async></script>
        <script src="https://use.typekit.net/mgd6kfe.js"></script>
        <script>try{Typekit.load({ async: true });}catch(e){}</script>
  </body>
</html>