<!DOCTYPE HTML>
<html>
  <head>
	<title>嘉鼎資本｜投資事業管理術基本資訊產品服務</title>
	<meta charset="utf-8" />
	<meta name="description" content="嘉鼎資本投資事業管理術產品服務篇，提供投資人如何找尋投資公司的產品服務，範例為台積電及佳格食品。">
  <meta name="keywords" content="嘉鼎資本, 投資事業管理術, 投資, 產品服務, 台積電, 佳格食品">
	<meta name="viewport" content="width=device-width, initial-scale=1" />
  </head>
  <body class="no-sidebar">
	<div id="page-wrapper">
	  <!-- Main -->
		<article id="main">
		  <header class="special container">
			<span class="icon fa-book"></span>
			  <h1>1-1-1 基本資訊——產品服務篇</h1>
			  <p>目標：學會找尋公司葫蘆裡賣什麼藥</p>
		  </header>
	  <!-- One -->
		<section class="wrapper style4 container">
	  <!-- Content -->
		<div class="content">
		  <section>
			<span style="color:black;font-weight:default">■Step 1. 點選「<a href="http://www.tsmc.com/chinese/default.htm" target="_blank">台積電</a>」網站</span></br>
			<img class="img-responsive" src="https://s3-us-west-2.amazonaws.com/magnficcourse/pic1-1-1-1.png" alt="台積電首頁"></p>
			<p>一般來說，投資人第一件事情就是先找到這家公司的「產品」、「服務」相關頁面，如果你在3-5分鐘內還無法找到這類的頁面或是對這家公司的營運內容有點眉目，建議投資人就果斷跳過該公司吧！</p>
			<p>因為要嘛是有太多相關的知識你現在還不足，不然就是公司的投資人關係部門不希望大眾能輕易理解，不論何者，花太多時間在這類的公司都是不智的。</p>
			<span style="color:black;font-weight:default">■Step 2. 點選「<a href="http://www.tsmc.com.tw/chinese/dedicatedFoundry/index.htm" target="_blank">專業機體電路製造服務</a>」</span></br>
			<img class="img-responsive" src="https://s3-us-west-2.amazonaws.com/magnficcourse/pic1-1-1-2.png" alt="專業機體電路製造服務"></p>
			<p>可以看到「專業技術」、「晶圓製造服務」、「卓越製造」三個項目：</p>
            <p><mark>1. 專業技術：代表的是台積電的研發能力。</mark></br>從中可以看到台積電晶圓製造目前領先的技術，以及未來研發方向。</br>
            <img class="img-responsive" src="https://s3-us-west-2.amazonaws.com/magnficcourse/pic1-1-1-3.png" alt="專業技術"></p>
            <p><mark>2. 晶圓製造服務：代表的是服務流程。</mark></br>
            台積電製造服務流程介紹，包含平台、流程、服務導覽、e化製造等。</br>
            <img class="img-responsive" src="https://s3-us-west-2.amazonaws.com/magnficcourse/pic1-1-1-4.png" alt="晶圓製造服務"></p>
            <p><mark>3. 卓越製造：代表的是生產能力。</mark></br>
            台積電晶圓製造產能介紹，如不同晶圓尺寸的生產設施與工廠，以及設備與生產技術的說明。</br>
            <img class="img-responsive" src="https://s3-us-west-2.amazonaws.com/magnficcourse/pic1-1-1-5.png" alt="卓越製造"></p>
			<p>一定有人會問這是怎麼看出來的，同樣的也有人會說這都是很基本的資訊啊！如此一來，第一個步驟就已經幫你區隔出，台積電是不是合適的投資標的了。接著，來練習第二個案例——佳格食品。</p> 
			<span style="color:black;font-weight:default">■Step 3. 點選「<a href="https://www.sfworldwide.com/index.aspx" target="_blank">佳格食品</a>」網站</span></br>
			<img class="img-responsive" src="https://s3-us-west-2.amazonaws.com/magnficcourse/pic1-1-1-6.png" alt="佳格食品"></p>
			<p>提到佳格，你可能會有點陌生，但提到桂格大燕麥片、養氣人蔘、得意的一天等產品，有沒有喚起你些微的記憶力？</p>
			<span style="color:black;font-weight:default">■Step 4. 點選「<a href="https://www.sfworldwide.com/page.aspx?ty=products" target="_blank">我們的產品</a>」</span></br>
			<img class="img-responsive" src="https://s3-us-west-2.amazonaws.com/magnficcourse/pic1-1-1-7.png" alt="佳格產品"></p>
			<p>點開後出現產品列表分頁，每個品項都能夠再點入看到更詳細的介紹。佳格食品提供的產品有：</br>
			1. 桂格寶寶館：嬰幼兒食品</br>
			2. 桂格完膳營養品：慢性病患者營養品</br>
			3. 得意的一天：油品</br>
			4. 桂格穀物館：穀粉</br>
			5. 曼陀珠：糖果</br>
			6. 加倍佳：成人奶粉</br>
			7. 桂格保健館：保健食品、健康食品</br>
			8. 天地合補：中式保養品</p>
			<p>當然也會有人說，明明就是台積電的所描述的內容我更熟悉，這佳格食品的產品我幾乎都沒看過，無論如何，投資的第一個步驟就是先去看看這家公司的網站與產品／服務頁面。</p>
		  </section>
		</div>
		</section>
	  <!-- Two -->
		<section class="wrapper style1 container special">
		  <footer class="major">
			<ul class="buttons">
			  <li><%= link_to "上一節", chapter1_section_index_path, class: "button" %></li>
			  <li><%= link_to "下一節", chapter1_section1_part2_index_path, class: "button special" %></li>
			</ul>
		  </footer>
		</section>
	  <!-- Disqus -->
        <section class="wrapper style4 container">
		  <div id="disqus_thread"></div>
            <script>
            /**
            * RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
            * LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables
            */
            /*
            var disqus_config = function () {
            this.page.url = PAGE_URL; // Replace PAGE_URL with your page's canonical URL variable
            this.page.identifier = PAGE_IDENTIFIER; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
            };
            */
            (function() { // DON'T EDIT BELOW THIS LINE
            var d = document, s = d.createElement('script');

            s.src = '//magnificbiz.disqus.com/embed.js';

            s.setAttribute('data-timestamp', +new Date());
            (d.head || d.body).appendChild(s);
            })();
            </script>
            <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
        </section>
        </article>
      </div>
      <!-- Scripts -->
        <script id="dsq-count-scr" src="//magnificbiz.disqus.com/count.js" async></script>
        <script src="https://use.typekit.net/mgd6kfe.js"></script>
        <script>try{Typekit.load({ async: true });}catch(e){}</script>
  </body>
</html>