<!DOCTYPE HTML>
<html>
  <head>
	<title>嘉鼎資本｜投資事業管理術基本資訊關於公司</title>
	<meta charset="utf-8" />
	<meta name="description" content="嘉鼎資本投資事業管理術關於公司篇，協助投資人找尋公司介紹，範例為大同公司及國泰金控。">
  <meta name="keywords" content="嘉鼎資本, 投資事業管理術, 投資, 公司介紹, 大同公司, 國泰金控">
	<meta name="viewport" content="width=device-width, initial-scale=1" />
  </head>
  <body class="no-sidebar">
	<div id="page-wrapper">
	  <!-- Main -->
		<article id="main">
		  <header class="special container">
			<span class="icon fa-book"></span>
			  <h1>1-1-2 基本資訊——關於公司篇</h1>
			  <p>目標：學會瀏覽公司自我介紹，不是安安你好</p>
		  </header>
	  <!-- One -->
		<section class="wrapper style4 container">
	  <!-- Content -->
		<div class="content">
		  <section>
			<span style="color:black;font-weight:default">■Step 1. 點選「<a href="http://www.tatung.com.tw/b5/index.asp" target="_blank">大同公司</a>」網站</span></br>
			<img class="img-responsive" src="https://s3-us-west-2.amazonaws.com/magnficcourse/pic1-1-2-1.png" alt="大同首頁"></p>
			<span style="color:black;font-weight:default">■Step 2. 點選「<a href="http://www.tatung.com.tw/Content/about-about.asp" target="_blank">關於大同</a>」</span></br>
			<img class="img-responsive" src="https://s3-us-west-2.amazonaws.com/magnficcourse/pic1-1-2-2.png" alt="關於大同"></p>
			<img class="img-responsive" src="https://s3-us-west-2.amazonaws.com/magnficcourse/pic1-1-2-3.png" alt="關於大同"></p>
			<p>可以了解到大同公司有三個事業群、六大事業體，並且也有轉投資上市公司的資訊，這些都不用甚麼名嘴、分析師、專家才能夠告訴你，只要到他們公司的網站瀏覽個半小時左右就能得到的資訊。接著，再舉國泰金控為例。</p>
			<span style="color:black;font-weight:default">■Step 3. 點選「<a href="https://www.cathayholdings.com/holdings/" target="_blank">國泰金控</a>」網站</span></br>
			<img class="img-responsive" src="https://s3-us-west-2.amazonaws.com/magnficcourse/pic1-1-2-4.png" alt="國泰金控首頁"></p>
			<span style="color:black;font-weight:default">■Step 4. 點選「國泰金控介紹」下的「<a href="https://www.cathayholdings.com/holdings/web/about.aspx" target="_blank">公司簡介</a>」</span></br>
			<img class="img-responsive" src="https://s3-us-west-2.amazonaws.com/magnficcourse/pic1-1-2-5.png" alt="國泰金控"></p>
			<img class="img-responsive" src="https://s3-us-west-2.amazonaws.com/magnficcourse/pic1-1-2-6.png" alt="國泰金控"></p>
			<p>由上方資訊就可初步了解國泰金控，是由五個子事業所整合的金融控股公司，分別是：國泰世華銀行、國泰人壽、國泰產險、國泰綜合證券、國泰投信。</p>
			<p>如同面試時，會看一個人的自我介紹，投資一家公司前，你也應該看看他怎麽介紹自己。而這些事情你不需聽別人說，而是自己看看。</p>
		  </section>
		</div>
		</section>
	  <!-- Two -->
		<section class="wrapper style1 container special">
		  <footer class="major">
			<ul class="buttons">
			  <li><%= link_to "上一節", chapter1_section1_part1_index_path, class: "button" %></li>
			  <li><%= link_to "下一節", chapter1_section1_part3_index_path, class: "button special" %></li>
			</ul>
		  </footer>
		</section>
	  <!-- Disqus -->
        <section class="wrapper style4 container">
		  <div id="disqus_thread"></div>
            <script>
            /**
            * RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
            * LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables
            */
            /*
            var disqus_config = function () {
            this.page.url = PAGE_URL; // Replace PAGE_URL with your page's canonical URL variable
            this.page.identifier = PAGE_IDENTIFIER; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
            };
            */
            (function() { // DON'T EDIT BELOW THIS LINE
            var d = document, s = d.createElement('script');

            s.src = '//magnificbiz.disqus.com/embed.js';

            s.setAttribute('data-timestamp', +new Date());
            (d.head || d.body).appendChild(s);
            })();
            </script>
            <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
        </section>
        </article>
      </div>
      <!-- Scripts -->
        <script id="dsq-count-scr" src="//magnificbiz.disqus.com/count.js" async></script>
        <script src="https://use.typekit.net/mgd6kfe.js"></script>
        <script>try{Typekit.load({ async: true });}catch(e){}</script>
  </body>
</html>