<!DOCTYPE HTML>
<html>
  <head>
	<title>嘉鼎資本｜投資事業管理術資訊解讀淨利</title>
	<meta charset="utf-8" />
  <meta name="description" content="嘉鼎資本投資事業管理術資訊解讀淨利篇，投資人學會解讀稅前淨利前，應更看重營業收入及營業淨利（營業利益）。">
  <meta name="keywords" content="嘉鼎資本, 投資事業管理術, 投資, 資訊, 稅前淨利, 營業收入, 營業淨利, 營業利益">
	<meta name="viewport" content="width=device-width, initial-scale=1" />
  </head>
  <body class="no-sidebar">
	<div id="page-wrapper">
	  <!-- Main -->
		<article id="main">
		  <header class="special container">
			<span class="icon fa-book"></span>
			  <h1>2-1-4 資訊解讀——淨利篇</h1>
			  <p>目標：學會解讀稅前淨利前，應更看重營業收入及營業淨利（營業利益）</p>
		  </header>
	  <!-- One -->
		<section class="wrapper style4 container">
	  <!-- Content -->
		<div class="content">
		  <section>
			<p>通常淨利與營業淨利（營業利益）差異不大，然而投資人還是需謹慎看待，如下圖這個中型房建公司的案例：</p>
			<img class="img-responsive" src="https://s3-us-west-2.amazonaws.com/magnficcourse/pic2-1-4-1.png" alt="淨利"></p>
      <p>在2007年時受到次貸波及，當時營業淨利（營業利益）雖然縮減，但仍呈現獲利，不過淨利就直接變成負數。</p>
			<p>這是因為非營運產生的損失，所以透過營業淨利（營業利益）後業外資產減損【註】的方式提列損失。一般來說小幅度的業外損益很常見，所以當淨利與營業淨利（營業利益）分歧不大，就不用太過緊張；但是如果像是案例中這樣的狀況，淨利下滑程度超過整體營業淨利（營業利益），甚至還多出許多，那麼就是一個停止投入警訊。</p>
			<p><pre>【註】資產減損：通常當經營層認定生產庫存或是生產設備，無創造銷售之可能，就不會透過營業行為去處理，而是直接認定損失，就會記入非營業損失——資產減損。</pre></p>
      <p>或許很多投資人與投資課程都認為淨利是最重要的資訊，但再次強調<mark>一家公司必須先有營收與營業淨利（營業利益），淨利才具有解讀意義</mark>；總體來說，兩個資訊應該互相輔助使用。</p>
		  </section>
		</div>
		</section>
	  <!-- Two -->
		<section class="wrapper style1 container special">
		  <footer class="major">
			<ul class="buttons">
			  <li><%= link_to "上一節", chapter2_section1_part3_index_path, class: "button" %></li>
              <li><%= link_to "下一節", chapter2_section1_part5_index_path, class: "button special" %></li>
			</ul>
		  </footer>
		</section>
	  <!-- Disqus -->
        <section class="wrapper style4 container">
		  <div id="disqus_thread"></div>
            <script>
            /**
            * RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
            * LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables
            */
            /*
            var disqus_config = function () {
            this.page.url = PAGE_URL; // Replace PAGE_URL with your page's canonical URL variable
            this.page.identifier = PAGE_IDENTIFIER; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
            };
            */
            (function() { // DON'T EDIT BELOW THIS LINE
            var d = document, s = d.createElement('script');

            s.src = '//magnificbiz.disqus.com/embed.js';

            s.setAttribute('data-timestamp', +new Date());
            (d.head || d.body).appendChild(s);
            })();
            </script>
            <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
        </section>
        </article>
      </div>
      <!-- Scripts -->
        <script id="dsq-count-scr" src="//magnificbiz.disqus.com/count.js" async></script>
        <script src="https://use.typekit.net/mgd6kfe.js"></script>
        <script>try{Typekit.load({ async: true });}catch(e){}</script>
  </body>
</html>