<!DOCTYPE HTML>
<html>
  <head>
	<title>嘉鼎資本｜投資事業管理術本估值與資本力資本力探討</title>
	<meta charset="utf-8" />
  <meta name="description" content="嘉鼎資本投資事業管理術資本估值與資本力資本力探討篇，幫助投資人學會應用資本力及了解資本力限制。">
  <meta name="keywords" content="嘉鼎資本, 投資事業管理術, 投資, 資本估值, 資本力">
	<meta name="viewport" content="width=device-width, initial-scale=1" />
  </head>
  <body class="no-sidebar">
	<div id="page-wrapper">
	  <!-- Main -->
		<article id="main">
		  <header class="special container">
			<span class="icon fa-book"></span>
			<h1>2-3-3 資本估值與資本力——資本力探討篇</h1>
			<p>目標：學會應用資本力及了解資本力限制</p>
		  </header>
	  <!-- One -->
		<section class="wrapper style4 container">
	  <!-- Content -->
		<div class="content">
		  <section>
			<p>上一小節介紹的資本力是一個快速且簡易的資本估值工具，但必須要提醒大家的是——公司營運不斷變動，簡易工具能夠提供預估能力十分有限，因此資本力所計算出來的預估成長主要是用來做為比較門檻，而非絕對數字的應用。</p>
			<span style="color:black;font-weight:default">■資本力是相對值，投資人應設定投入門檻即可</span></br>
			<p>舉例來說，某A公司的的資本力為20%，某B公司的資本力為12%，這不表示A公司的資本成長就是20%，而是說A公司的資本成長空間比B公司還要來的高，投資人選擇A公司時面對的價格風險也較低。</p>
      <p>因為資本力是一個相對概念，所以初階投資人可以這樣應用，<mark>設定一個資本力門檻——10%，如果沒有達到這個門檻時，就不是投入的時機，一旦超過這個門檻就可以開始投入了</mark>。</p>
			<span style="color:black;font-weight:default">■案例一：台灣大哥大</span></br>
        <div class="table-responsive">
          <table class="table">
            <tr>
              <td>財務年度</td>
              <td>資本力</td>
              <td>股價年化成長率</td>
            </tr>
            <tr>
              <td>2010</td>
              <td>11.66%</td>
              <td>20.16%</td>
            </tr>
            <tr>
              <td>2011</td>
              <td>9.46%</td>
              <td>16.40%</td>
            </tr>
            <tr>
              <td>2012</td>
              <td>7.01%</td>
              <td>6.33%</td>
            </tr>
            <tr>
              <td>2013</td>
              <td>8.57%</td>
              <td>-9.31%</td>
            </tr>
            <tr>
              <td>2014</td>
              <td>9.79%</td>
              <td>9.62%</td>
            </tr>
            <tr>
              <td>2015</td>
              <td>10.61%</td>
              <td>8.30%</td>
            </tr>
            <tr>
              <td>平均值</td>
              <td>9.52%</td>
              <td>8.58%</td>
            </tr>
          </table>
        </div>
			<p>若以股價年化成長率做為資本成長率的代理指標，可以發現同期間的年化成長不一定會跟資本力一樣，但是這個案例說明以長期平均值來衡量，兩者的成長速率相仿。</p>
			<span style="color:black;font-weight:default">■案例二：美國國防工業公司</span></br>
			<div class="table-responsive">
        <table class="table">
          <tr>
            <td>財務年度</td>
            <td>資本力</td>
            <td>股價年化成長率</td>
          </tr>
          <tr>
            <td>2010</td>
            <td>17.23%</td>
            <td>1.93%</td>
          </tr>
          <tr>
            <td>2011</td>
            <td>17.68%</td>
            <td>-2.10%</td>
          </tr>
          <tr>
            <td>2012</td>
            <td>20.56%</td>
            <td>18.07%</td>
          </tr>
          <tr>
            <td>2013</td>
            <td>15.52%</td>
            <td>49.51%</td>
          </tr>
          <tr>
            <td>2014</td>
            <td>9.87%</td>
            <td>18.55%</td>
          </tr>
          <tr>
            <td>2015</td>
            <td>7.99%</td>
            <td>-3.42%</td>
          </tr>
          <tr>
            <td>平均值</td>
            <td>14.81%</td>
            <td>13.76%</td>
          </tr>
        </table>
      </div>
      <p>與台灣大哥大雷同，資本力與股價年化成長的長期平均值相仿，但仔細注意會發現股價的變動程度比資本力還高許多，這說明了營運方面的變動其實不如股價劇烈，也顯示資本市場投資者的善變。然而就是這樣的善變與不理性才給投資人機會。</p>
      <span style="color:black;font-weight:default">■案例三：油井鑽鑿公司</span></br>
        <div class="table-responsive">
          <table class="table">
            <tr>
              <td>財務年度</td>
              <td>資本力</td>
              <td>股價年化成長率</td>
            </tr>
            <tr>
              <td>2010</td>
              <td>29.47%</td>
              <td>2.52%</td>
            </tr>
            <tr>
              <td>2011</td>
              <td>32.39%</td>
              <td>-3.75%</td>
            </tr>
            <tr>
              <td>2012</td>
              <td>33.72%</td>
              <td>6.57%</td>
            </tr>
            <tr>
              <td>2013</td>
              <td>25.27%</td>
              <td>-27.38%</td>
            </tr>
            <tr>
              <td>2014</td>
              <td>25.12%</td>
              <td>-47.93%</td>
            </tr>
            <tr>
              <td>2015</td>
              <td>22.80%</td>
              <td>-39.91%</td>
            </tr>
            <tr>
              <td>平均值</td>
              <td>28.13%</td>
              <td>-18.31%</td>
            </tr>
          </table>
        </div>
        <p>這是一個典型的南轅北轍的案例，股價年化成長率與資本力完全相反，這通常會是<%= link_to "2-2-4 事業循環型公司", chapter2_section2_part4_index_path %>，由於正在循環向下，因此預估的狀況與實際狀況相比都太過樂觀，像是這種情形，建議初階投資人就果斷放棄，因為連許多老練投資人面對這種公司都不一定找的到好的投入點。</p>
        <span style="color:black;font-weight:default">■資本力與價值投資的差異：注意估值算法是否合宜</span></br>
        <p>此外有些價值投資擁護者可能會認為，資本力與價值投資的框架雷同，必須要說在面對價格風險這個原則上兩者是重疊的，然而價值投資擁護者傾向更在乎價格風險，卻忽略了估值的算法是否合適。因此嘉鼎資本在設計課程的時候才會把估值放到其他工具之後，就是<mark>希望投資人能夠有更全面的觀點，而非只憑藉著估值工具就來面對資本市場。</mark></p>
        <span style="color:black;font-weight:default">■資本回報率（ROC）與資本力的使用限制</span></br>
        <p>因為資本回報率（ROC）的計算用的是總體資本，也就是包含了債權資本。這影響了資本回報率（ROC）在金融類型公司的應用，因為如銀行、保險等金融事業他們有許多的營運資本是來自於短期的債權資本，如顧客活存帳戶、支票帳戶、銀行彼此拆款帳戶、或是其他流動性較高的債權，然而計算投資資本的時候會把這部分排除，這樣就會扭曲了數字的意義，因此投資人要特別注意。由於不適用資本回報率（ROC），因此資本力也不能應用在金融類型的公司上。</p>
        <span style="color:black;font-weight:default">■面對資本市場需了解使用工具的限制</span></br>
        <p>簡單的工具有優缺，優點是快速好用，很快就能夠協助投資人辨識出現在是否是好的機會，但是缺點就是面對複雜的狀況就不太合用，然而投資人只要能明白工具的使用範圍，並且了解自己的投資能力範圍，自然就能夠避開風險迎向機會。</p>
		  </section>
		</div>
		</section>
	  <!-- Two -->
		<section class="wrapper style1 container special">
		  <footer class="major">
			<ul class="buttons">
			  <li><%= link_to "上一節", chapter2_section3_part2_index_path, class: "button" %></li>
			  <li><%= link_to "下一節", chapter2_section3_part4_index_path, class: "button special" %></li>
								</ul>
		  </footer>
		</section>
	  <!-- Disqus -->
		<section class="wrapper style4 container">
          <div id="disqus_thread"></div>
            <script>
            /**
            * RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
            * LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables
            */
            /*
            var disqus_config = function () {
            this.page.url = PAGE_URL; // Replace PAGE_URL with your page's canonical URL variable
            this.page.identifier = PAGE_IDENTIFIER; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
            };
            */
            (function() { // DON'T EDIT BELOW THIS LINE
            var d = document, s = d.createElement('script');

            s.src = '//magnificbiz.disqus.com/embed.js';

            s.setAttribute('data-timestamp', +new Date());
            (d.head || d.body).appendChild(s);
            })();
            </script>
            <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
        </section>
        </article>
      </div>
      <!-- Scripts -->
        <script id="dsq-count-scr" src="//magnificbiz.disqus.com/count.js" async></script>
        <script src="https://use.typekit.net/mgd6kfe.js"></script>
        <script>try{Typekit.load({ async: true });}catch(e){}</script>
  </body>
</html>