<!DOCTYPE HTML>
<html>
  <head>
	<title>嘉鼎資本｜投資事業管理術</title>
	<meta charset="utf-8" />
	<meta name="description" content="對於投資事業管理術、投資、投資事業、線上課程、進階課程、投資事業工具包有疑問，請與嘉鼎資本管理顧問聯繫。">
	<meta name="keywords" content="嘉鼎資本, 投資事業管理術, 投資, 與我們聯繫, 投資事業, 免費投資課程, 進階課程, 投資事業工具包, 管理顧問">
	<meta name="viewport" content="width=device-width, initial-scale=1" />
  </head>
  <body class="contact">
	<div id="page-wrapper">
	  <!-- Main -->
		<article id="main">
		  <header class="special container">
			<span class="icon fa-envelope"></span>
			  <h1>直接與我們聯繫</h1>
			  <p>請將您的問題詳細記錄於下方，嘉鼎資本管理顧問會在上班時間（週一至週五 09:00-18:00）與您聯繫。</p>
		  </header>
	  <!-- One -->
		<section class="wrapper style4 special container 75%">
	  <!-- Content -->
		<div class="content">
		  <form method="post" action="http://toolkit.url.com.tw/qform/qform.php?servername=magnific.biz&serverid=65178">
		  <input name="lang" value="zh-TW" type="hidden">
          <input name="backurl" value="index.html" type="hidden">
          <input type="hidden" name="Subject" value="直接與我們聯繫">
		<div class="row 50%">
		  <div class="6u 12u(mobile)">
			<input type="text" name="name" placeholder="姓名" required/>
		  </div>
		  <div class="6u 12u(mobile)">
			<input type="text" name="email" placeholder="Email" required/>
		  </div>
		</div>
		<div class="row 50%">
		  <div class="12u">
			<input type="text" name="subject" placeholder="主旨" required/>
		  </div>
		</div>
		<div class="row 50%">
		  <div class="12u">
			<textarea name="message" placeholder="問題內容" rows="7" required></textarea>
		  </div>
		</div>
		<div class="row">
		  <div class="12u">
			<ul class="buttons">
			  <li><input type="submit" class="special" value="送出" /></li>
			</ul>
		  </div>
		</div>
		  </form>
		</div>
		</section>
		</article>
      <!-- Two -->
		<section class="wrapper style1 container special">
		  <div class="row">
			<div class="4u 12u(narrower)">
			  <section>
				<span class="icon featured fa-phone"></span>
				  <header>
					<h2>撥打免付費電話</br>
					0800-082-938</h2>
				  </header>
				  <p>由嘉鼎資本管理顧問提供一對一諮詢服務。（上班時間：09:00-18:00）</p>
			  </section>
			</div>
			<div class="4u 12u(narrower)">
			  <section>
				<span class="icon featured fa-envelope"></span>
				  <header>
					<h2>電子信箱</br>
                    mail@magnific.biz</h2>
				  </header>
				  <p>地址：105台北市敦化南路一段1號5樓B室</p>
			  </section>
			</div>
			<div class="4u 12u(narrower)">
			  <section>
				<img src="https://s3-us-west-2.amazonaws.com/magnficcourse/line.jpg" alt="嘉鼎資本line"></p>
				<header>
				  <h2>Line@嘉鼎資本</br>
                  ID: ata5984x</h2>
				</header>
				<p>搜尋嘉鼎資本或直接掃描下方QR code，與管理顧問直接一對一對談。</p>
			  </section>
			</div>
		  </div>
		</section>
		</div>
	  <!-- Scripts -->
		<script src="https://use.typekit.net/mgd6kfe.js"></script>
        <script>try{Typekit.load({ async: true });}catch(e){}</script>
  </body>
</html>