<!DOCTYPE HTML>
<html>
  <head>
	<title>嘉鼎資本｜投資事業管理術財報資訊現金流量表</title>
	<meta charset="utf-8" />
  <meta name="description" content="嘉鼎資本投資事業管理術財報資訊現金流量篇，破解現金流量表迷思，包括營收創新高、EBITDA、投資活動現金、現金股利、自由現金流等資訊。">
  <meta name="keywords" content="嘉鼎資本, 投資事業管理術, 投資, 財報, 現金流量表, 營收創新高, EBITDA, 投資活動現金, 現金股利, 自由現金流">
	<meta name="viewport" content="width=device-width, initial-scale=1" />
  </head>
  <body class="no-sidebar">
	<div id="page-wrapper">
	  <!-- Main -->
		<article id="main">
		  <header class="special container">
			<span class="icon fa-book"></span>
			  <h1>1-3-4 財報資訊——現金流量表篇</h1>
			  <p>目標：學會不被新聞蒙蔽公司作帳情形</p>
		  </header>
	  <!-- One -->
		<section class="wrapper style4 container">
	  <!-- Content -->
		<div class="content">
		  <section>
			<p>相較於前兩張財務報表，現金流量表通常都被忽視，原因是前兩表的歷史比較悠久，加上現金流量表無法告訴你過去一段期間公司的盈虧，或是資產/股東權益的變化。那現金流量表的功能到底為何？</p>
			<span style="color:black;font-weight:default">■對於初階投資人來說，先了解現金流量表中的三大分類</span></br>
      <p>1. 營業活動現金：公司營運中把非現金項目扣除後所產生。</br>
      2. 投資活動現金：揭露了公司長期運用資金的資訊，出售公司資產會產生投資現金，購買資產則是減少。</br>
      3. 籌資活動現金：顯示公司借貸的現金狀況。</p>
      <p>其實當初設計此表單的目的是，防範公司透過非現金的交易來作帳，例如：透過假出貨用應收帳款入帳的方式，在短期間把盈餘衝高製造公司榮景的假象。所以這張表單並非一無是處，但如果<mark>直接閱讀對於初階投資人來說太過繁瑣，因此透過破除迷思的方式，協助投資人對現金流量表的應用。</mark></p>
			<span style="color:black;font-weight:default">■迷思一：營收創新高表示公司業績暢旺？！</span></br>
      <p>常聽到財經新聞報導某某公司營收又創新高，股價就隨之飆高，然而一家公司的營收創新高真的就是業績爆發嗎？其實透過一個小技巧就能快速檢驗公司的營收真實與否。</p>
      <span style="color:black;font-weight:default">Step 1. 全國電子「<a href="http://www.elifemall.com.tw/stock/105-1.pdf" target="_blank">105第一季財務報表</a>」現金流量表</span></br>
      <img class="img-responsive" src="https://s3-us-west-2.amazonaws.com/magnficcourse/pic1-3-4-1.png" alt="全國電子現金流量表"></p>
      <span style="color:black;font-weight:default">Step 2. 用現金流量表及損益表破解</span></br>
      1. 現金流量表（單位：新台幣千元）</br>
        <div class="table-responsive">
          <table class="table"> 
            <tr>
              <td>項目</td>
              <td>金額</td>
            </tr>
            <tr>
              <td>與營業活動相關之資產／負債變動數</td>
              <td></td>
            </tr>
            <tr>
              <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;應收票據及帳款</td>
              <td>$ 4,292</td>
            </tr>
            <tr>
              <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;其他應收款</td>
              <td>$ 76</td>
            </tr>
          </table>
        </div>
      2. 損益表（單位：新台幣千元）</br>
        <div class="table-responsive">
          <table class="table"> 
            <tr>
              <td>項目</td>
              <td>金額</td>
            </tr>
            <tr>
              <td>營業收入</td>
              <td>$ 4,778,539</td>
            </tr>
          </table>
        </div>
        <p>(4,292+76)／4,778,539＝0.09%</p>
        <p>連0.1%都不到，顯示當期營收幾乎都是現金收入，透過出貨沖帳來造假營收的可能性極低。</p>
        <p><mark>此外，可以把創新高的當期比率跟其他期間比較是否有異？如果創新高伴隨著，應收帳款佔營收比例也創新高，就要特別注意了!</mark></p>
        <span style="color:black;font-weight:default">■迷思二：折舊前營業利益比較重要，因為是現金收益？！</span></br>
        <span style="color:black;font-weight:default">投資人看EBITDA的盲點</span></br>
        <p>有人主張把折舊與攤銷加回淨利＝EBITDA（稅前息前未扣折舊攤銷之利潤【註1】），才是公司實際的現金盈餘，就是248,765＋23,209＋355＝272,329。</p>
        <img class="img-responsive" src="https://s3-us-west-2.amazonaws.com/magnficcourse/pic1-3-4-2.png" alt="全國電子現金流量表"></p>
        <p>這樣的主張並沒有錯，但是這是銀行用來評斷公司是否具有償還利息能力的指標，也可以說是公司營運的低標，一旦EBITDA比利息高，表示公司當期就面臨營運資金缺口，更不用說長期發展了，但<mark>投資人在乎的是，公司是否能幫長期幫股東增加權益，所以折舊攤銷這類非現金成本，依然要從利潤中扣除才會得到真實的盈餘。</mark></p>
        <p><pre>【註1】折舊攤銷來自於資產在營運時的耗損估計，例如購買一台運貨的小貨卡100萬元，估計使用期間為10年，10年後殘值約為10萬元，那麼90萬平均在10年期間損耗，因此每年折舊可以估計為9萬元。</pre></p>
        <span style="color:black;font-weight:default">■迷思三：投資活動現金不重要？！</span></br>
        <span style="color:black;font-weight:default">錯！投資活動現金不僅重要且最早揭露公司的經營危機</span></br>
        <p>一般來說有幾個重要項目會被列入投資活動現金：</br>
        1. 設備廠房等非流動資產的取得或是出售：非流動資產（固定資產）的取得或是出售都會放入這個項目，紀錄的是現金增減並非損益，所以正數僅表示出售並非獲利。</br>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;(1) 一般狀況公司長期穩定投入（現金流量負數）很正常，但是有大額（相較於現有固定資產比例）投入就要注意了，有可能是透過購買資產的方式掏空公司。</br>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;(2) 如果持續出售資產（現金流量為正數）也要注意，表示公司正在改組或是轉型，甚至是另一種形式的掏空。</p>
        <p>2. 不動產的取得或是出售：一般不動產如果是營業場所，會列入上述項目，這裡編列的是公司取得未來可能會出售的不動產資產，或是出售原本用途並非營業場所的不動產。</p>
        <p>3. 長期投資的投入或是出售：轉投資、購置其他上市公司股權，這也是可以掏空公司的一個管道。當長期投入增加，但是相對合併收益或是股利收入沒有增加，不論掏空與否，這樣的長期投資都不是股東所樂見。</p>
        <p>4. 現金股利：當轉投資的公司發放現金股利就會記錄在這個項目中，與公司發放給股東的項目不同。</p>
        <p>透過這幾個項目的變化，股東可以察覺公司有沒有神不知鬼不覺的把現金搬走，因為<mark>這個項目紀錄了公司常見花費大額資金的管道，所以投資活動現金非常重要。</mark></p>
        <span style="color:black;font-weight:default">■迷思四：有現金股利就是有賺錢？！</span></br>
        <p>這是個常見的迷思，只要當期盈餘為正數，公司就能夠配發股利，但是配發股利的額度並非限制在當期盈餘，前面章節有提過公司只要依法提撥10%的法定盈餘公積後，且無虧損就可發放股利，但是發放的金額大小是由董事會提案，股東會同意即可，至於資金來源沒有嚴謹規範。</p>
        <p>因此會出現公司今年大方發放超過比今年營業現金還要多的股利，這時不足的部分就只能依靠借貸，雖然說透過融資周轉現金股利，並非惡性經營的行為，但是為何經營層希望在現金不足的時候發放現金股利呢？是否擔心經營成果不理想才透過現金股利來轉移投資者與股東的焦點呢？</p>
        <p><mark>合理來說，股利應該是公司經營有餘才發放，如果經常透過融資來打腫臉充胖子，對於公司長期發展不見得理想。</mark></p>
        <span style="color:black;font-weight:default">■迷思五：自由現金流比盈餘更重要？！</span></br>
        <p>先解釋自由現金流是甚麼，簡易版的公式：<span style="color:black;font-weight:default">自由現金流＝營業活動現金－資本支出</span></p>
        <p>營業活動現金之前已經介紹過了，而資本支出指的是公司長期營運必須購置新資產的支出，例如新設備或是廠房。上面乍看之下很有道理，所有營業上的現金扣除了為了保持營運的支出，剩下的不就是真正的利潤嗎？其實是對也不對。</p>
        <p>1. 首先是資本支出的時間點不如折舊穩定，所以會造成某些期間自由現金流很高，但是在某些時間很低甚至負數。</br>
        2. 此外自由現金流也會到營運波動的影響，當營運需求的資金變多，也可能讓自由現金流變少。</p>
        <p>因此單看自由現金流來判斷，公司營運好壞甚至用以當作獲利指標，這是無限上綱的做法，<mark>嚴格說起來，自由現金流是用來判斷公司，是否具備未來持續營運能力的指標較為恰當</mark>。</p>
        <p>長期自由現金流量為負：顯示公司的營運與資本配置出了狀況，如果持續不能改善，那很快地就會面臨失去競爭力甚至倒閉的風險。</p>
        <span style="color:black;font-weight:default">■迷思六：現金流量表毫無用處，看資產負債表就知道公司狀況？！</span></br>
        <p>上面幾個說明都是無法輕易從資產負債表中揭露，卻可以很快從現金流量表中取得，對於資深投資人憑藉著經驗，或許才可能只看資產負債表與其中變化來推敲，但<mark>建議初階投資人還是運用可靠且方便的工具與方法。</mark></p>
        <p>現金流量表的資訊主要是輔助用途，投資人第一次接觸到有許多不理解之處也別焦慮，未來在其他更進階的課程，或是延伸閱讀會有更詳細的說明。</p>
		  </section>
		</div>
		</section>
	  <!-- Two -->
		<section class="wrapper style1 container special">
		  <footer class="major">
			<ul class="buttons">
			  <li><%= link_to "上一節", chapter1_section3_part32_index_path, class: "button" %></li>
              <li><%= link_to "下一節", chapter1_section3_part5_index_path, class: "button special" %></li>
			</ul>
		  </footer>
		</section>
	  <!-- Disqus -->
      <section class="wrapper style4 container">
        <div id="disqus_thread"></div>
            <script>
            /**
            * RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
            * LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables
            */
            /*
            var disqus_config = function () {
            this.page.url = PAGE_URL; // Replace PAGE_URL with your page's canonical URL variable
            this.page.identifier = PAGE_IDENTIFIER; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
            };
            */
            (function() { // DON'T EDIT BELOW THIS LINE
            var d = document, s = d.createElement('script');

            s.src = '//magnificbiz.disqus.com/embed.js';

            s.setAttribute('data-timestamp', +new Date());
            (d.head || d.body).appendChild(s);
            })();
            </script>
            <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
        </section>
        </article>
      </div>
      <!-- Scripts -->
        <script id="dsq-count-scr" src="//magnificbiz.disqus.com/count.js" async></script>
        <script src="https://use.typekit.net/mgd6kfe.js"></script>
        <script>try{Typekit.load({ async: true });}catch(e){}</script>
  </body>
</html>