<!DOCTYPE HTML>
<html>
  <head>
	<title>嘉鼎資本｜投資事業管理術型態分析與歸納成長型</title>
	<meta charset="utf-8" />
	<meta name="description" content="嘉鼎資本投資事業管理型態分析與歸納成長型篇，投資人學會解讀學會辨別什麼公司營運是成長型事業。">
  <meta name="keywords" content="嘉鼎資本, 投資事業管理術, 投資, 型態分析, 成長型, 公司營運">
	<meta name="viewport" content="width=device-width, initial-scale=1" />
  </head>
  <body class="no-sidebar">
	<div id="page-wrapper">
	  <!-- Main -->
		<article id="main">
		  <header class="special container">
			<span class="icon fa-book"></span>
			  <h1>2-2-1 型態分析與歸納——成長型篇</h1>
			  <p>目標：學會辨別什麼公司是成長型事業</p>
		  </header>
	  <!-- One -->
		<section class="wrapper style4 container">
	  <!-- Content -->
		<div class="content">
		  <section>
			<p>課程到這個階段，投資人已經具備了閱讀與分析一家公司的基本營運資訊，在接下來的小節將會運用這些資訊做型態的分析與歸納。</p>
			<p>所謂型態分析，就是<mark>從公司經營的歷史紀錄中去判讀該公司的營運屬性與特質，再針對這些特質擬定投資計畫</mark>，當然型態的分類並沒有一定的規範，課程中提供的是較泛用型的方法，方便初階投資人學習與應用。</p>
			<p>通常在型態分析中最常被使用的資訊為：營收、營業淨利（營業利益）與淨利，三者的判讀順序為<strong>營收→營業淨利（營業利益）→淨利</strong>。而基本的型態判定上，投入資本與淨值就暫不需要用到，原因是投入資本與淨值更偏向於成效衡量時才會用到的資訊，目前就先放在一旁。</p>
			<span style="color:black;font-weight:default">■嘉鼎資本將型態分為五大類——成長、穩定、衰退、循環、特異型</span></br>
			<p>型態判讀時，足夠的歷史資訊十分重要，建議最少都要有5年以上的紀錄，在課程中的案例都是有10年以上的資料，少於5年可能會落入因為缺乏資訊而自我想像的型態陷阱，也就是看到3年的成長紀錄就認定是成長型態，然而可能只是一個循環型態的成長階段，因此足夠的資訊是型態分析的關鍵。</p>
			<p>各位投資人可能會想問應該如何取得這麼長的公司資料，公開資訊觀測站是成本相對低的方式，或是購買專門的資料庫軟體，更甚至嘉鼎資本正在研發的公司歷史資訊查詢服務，希望能在不久的將來為廣大的投資人服務。</p>
			<p>接著進入五大型態的介紹：</br>
			<span style="color:black;font-weight:default">■成長型</span></br>
			成長型態是多數投資人喜歡的型態，特點是不斷創新高的營收，帶動持續成長的獲利，以下圖為例：</br>
			<img class="img-responsive" src="https://s3-us-west-2.amazonaws.com/magnficcourse/pic2-2-1-1.png" alt="成長型"></p>
			<p>可以看到從2006年開始，<mark>營收不斷創新高，雖然中間有遲滯或是獲利下滑，但是整體歷史紀錄都還是持續向上</mark>，至2015年營收還在高峰。</p>
			<p>另外一例則是，2008年與2009年因為遇到金融海嘯導致營收下滑，然後綜觀10年的歷史紀錄該公司的營收成長了超過1倍，而營業淨利（營業利益）與淨利也同步成長，雖然不如前例爆發性的成長，但也符合成長型態。</br>
			<img class="img-responsive" src="https://s3-us-west-2.amazonaws.com/magnficcourse/pic2-2-1-2.png" alt="成長型"></p>
            <span style="color:black;font-weight:default">■可以長期持有，但要注意投入價格及型態變化</span></br>
            <p>投資人如果發現自己投資的公司屬於這樣的型態，就緊緊抱好，讓公司幫你不斷創造更多價值，這類型的公司其實最適合投資人長期持有，唯二要注意的關鍵點：</p>
            <p>1. 投入時的價格</br>
            因為這類型態的公司受到市場喜愛，通常價格也高，在更後面的課程會教導大家計算投資的C/P值估算，就可以辨別是否付出了過高的成本，但如果有發現有這樣型態的公司，就先保留起來。</p>
            <p>2. 型態的變化</br>
            雖然公司的營運通常具有連續性，但是許多衰退型態的公司也是由成長型態轉變而來，在後續的衰退型態也會再提到。</p>
		  </section>
		</div>
		</section>
	  <!-- Two -->
		<section class="wrapper style1 container special">
		  <footer class="major">
			<ul class="buttons">
			  <li><%= link_to "上一節", chapter2_section1_part7_index_path, class: "button" %></li>
              <li><%= link_to "下一節", chapter2_section2_part2_index_path, class: "button special" %></li>
			</ul>
		  </footer>
		</section>
	  <!-- Disqus -->
		<section class="wrapper style4 container">
          <div id="disqus_thread"></div>
            <script>
            /**
            * RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
            * LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables
            */
            /*
            var disqus_config = function () {
            this.page.url = PAGE_URL; // Replace PAGE_URL with your page's canonical URL variable
            this.page.identifier = PAGE_IDENTIFIER; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
            };
            */
            (function() { // DON'T EDIT BELOW THIS LINE
            var d = document, s = d.createElement('script');

            s.src = '//magnificbiz.disqus.com/embed.js';

            s.setAttribute('data-timestamp', +new Date());
            (d.head || d.body).appendChild(s);
            })();
            </script>
            <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
        </section>
        </article>
      </div>
      <!-- Scripts -->
        <script id="dsq-count-scr" src="//magnificbiz.disqus.com/count.js" async></script>
        <script src="https://use.typekit.net/mgd6kfe.js"></script>
        <script>try{Typekit.load({ async: true });}catch(e){}</script>
  </body>
</html>