<!DOCTYPE HTML>
<html>
  <head>
	<title>嘉鼎資本｜投資事業管理術投資事業報表比例配置</title>
	<meta charset="utf-8" />
	<meta name="description" content="嘉鼎資本投資事業管理術投資事業報表比例配置篇，幫助投資人了解投資事業的事業報表中個別事業個別比重。">
    <meta name="keywords" content="嘉鼎資本, 投資事業管理術, 投資, 投資事業, 事業報表, 個別事業">
	<meta name="viewport" content="width=device-width, initial-scale=1" />
  </head>
  <body class="no-sidebar">
	<div id="page-wrapper">
	  <!-- Main -->
		<article id="main">
		  <header class="special container">
			<span class="icon fa-book"></span>
			  <h1>4-1-4 投資事業報表——比例配置篇</h1>
			  <p>目標：了解投資事業的事業報表中個別事業個別比重</p>
		  </header>
	  <!-- One -->
		<section class="wrapper style4 container">
	  <!-- Content -->
		<div class="content">
		  <section>
		  	<img class="img-responsive" src="https://s3-us-west-2.amazonaws.com/magnficcourse/pic4-1-4-1.png" alt="事業報表比例配置"></p>
			<p>由範例中看到共三個區塊：</br>
			1. 投入資本比重：皆相同，採用平均加權。</br>
			2. 市值比重：參考用。但有些管理方法會以市值比重做為調整。</br>
			3. 透視盈餘比重。</p>
			<p>有個有趣的現象就是，雖然市值比重與透視盈餘比重通常會有同步現象，然而往往是市值的變動會比較劇烈，這反映了股市中股價往往是過度反應的現象。</p>
		  </section>
		</div>
		</section>
	  <!-- Two -->
		<section class="wrapper style1 container special">
		  <footer class="major">
			<ul class="buttons">
			  <li><%= link_to "上一節", chapter4_section1_part3_index_path, class: "button" %></li>
              <li><%= link_to "下一節", chapter4_section1_part5_index_path, class: "button special" %></li>
			</ul>
		  </footer>
		</section>
	  <!-- Disqus -->
		<section class="wrapper style4 container">
          <div id="disqus_thread"></div>
            <script>
            /**
            * RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
            * LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables
            */
            /*
            var disqus_config = function () {
            this.page.url = PAGE_URL; // Replace PAGE_URL with your page's canonical URL variable
            this.page.identifier = PAGE_IDENTIFIER; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
            };
            */
            (function() { // DON'T EDIT BELOW THIS LINE
            var d = document, s = d.createElement('script');

            s.src = '//magnificbiz.disqus.com/embed.js';

            s.setAttribute('data-timestamp', +new Date());
            (d.head || d.body).appendChild(s);
            })();
            </script>
            <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
        </section>
        </article>
      </div>
      <!-- Scripts -->
        <script id="dsq-count-scr" src="//magnificbiz.disqus.com/count.js" async></script>
        <script src="https://use.typekit.net/mgd6kfe.js"></script>
        <script>try{Typekit.load({ async: true });}catch(e){}</script>
  </body>
</html>