<!DOCTYPE HTML>
<html>
  <head>
	<title>嘉鼎資本｜投資事業管理術型態分析與歸納如何挑選型態</title>
	<meta charset="utf-8" />
	<meta name="description" content="嘉鼎資本投資事業管理術型態分析如何挑選型態篇，協助投資人區分公司型態，例如追尋成長快速的投資人，可能需要多著墨在成長型態或是循環型態的公司，而追尋穩定的投資人，例如退休族群，可能穩定型態的公司會更適合。。">
  <meta name="keywords" content="嘉鼎資本, 投資事業管理術, 投資, 型態分析, 事業分析">
	<meta name="viewport" content="width=device-width, initial-scale=1" />
  </head>
  <body class="no-sidebar">
	<div id="page-wrapper">
	  <!-- Main -->
		<article id="main">
		  <header class="special container">
			<span class="icon fa-book"></span>
			  <h1>2-2-6 型態分析與歸納——如何挑選型態篇</h1>
			  <p>目標：學會開始初步挑選事業形態</p>
		  </header>
	  <!-- One -->
		<section class="wrapper style4 container">
	  <!-- Content -->
		<div class="content">
		  <section>
			<p>對於投資人來說，型態是協助區分公司的一種工具，例如追尋成長快速的投資人，可能需要多著墨在成長型態或是循環型態的公司，而追尋穩定的投資人，例如退休族群，可能穩定型態的公司會更適合。</p>
			<p>嘉鼎資本的建議是依照投資人的目標來設定比例，例如：</br>
			1. 穩扎穩打簡單組合——80%成長型+20%穩定型。</br>
			2. 積極型——20%循環型+40%成長型+40%穩定型。</br>
			3. 老練投資人最愛——50%循環型+50%成長型。</p>
			所以並沒有何種型態最好，而且除了型態以外，還要搭配C/P估值（下一節會提到），才能夠建立完整的投資事業組合。</p>
		  </section>
		</div>
		</section>
	  <!-- Two -->
		<section class="wrapper style1 container special">
		  <footer class="major">
			<ul class="buttons">
			  <li><%= link_to "上一節", chapter2_section2_part5_index_path, class: "button" %></li>
              <li><%= link_to "下一節", chapter2_section2_part7_index_path, class: "button special" %></li>
			</ul>
		  </footer>
		</section>
	  <!-- Disqus -->
		<section class="wrapper style4 container">
          <div id="disqus_thread"></div>
            <script>
            /**
            * RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
            * LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables
            */
            /*
            var disqus_config = function () {
            this.page.url = PAGE_URL; // Replace PAGE_URL with your page's canonical URL variable
            this.page.identifier = PAGE_IDENTIFIER; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
            };
            */
            (function() { // DON'T EDIT BELOW THIS LINE
            var d = document, s = d.createElement('script');

            s.src = '//magnificbiz.disqus.com/embed.js';

            s.setAttribute('data-timestamp', +new Date());
            (d.head || d.body).appendChild(s);
            })();
            </script>
            <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
        </section>
        </article>
      </div>
      <!-- Scripts -->
        <script id="dsq-count-scr" src="//magnificbiz.disqus.com/count.js" async></script>
        <script src="https://use.typekit.net/mgd6kfe.js"></script>
        <script>try{Typekit.load({ async: true });}catch(e){}</script>
  </body>
</html>