<!DOCTYPE HTML>
<html>
  <head>
    <title>嘉鼎資本｜投資事業管理術投資事業報表解答篇</title>
    <meta charset="utf-8" />
    <meta name="description" content="嘉鼎資本投資事業管理術投資事業報表解答篇，確認投資人是否理解投資事業報表內容。">
    <meta name="keywords" content="嘉鼎資本, 投資事業管理術, 投資, 投資事業, 事業報表">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
  </head>
  <body class="no-sidebar">
    <div id="page-wrapper">
      <!-- Main -->
        <article id="main">
          <header class="special container">
            <span class="icon fa-book"></span>
              <h1>4-1-8 投資事業報表——解答篇</h1>
          </header>
      <!-- One -->
        <section class="wrapper style4 container">
      <!-- Content -->
        <div class="content">
          <section>
            <span style="color:black;font-weight:default">1. 下列何者為投資事業報表設計的目的？</span></br>
            A. 系統化透視投資事業的狀態。</br>
            B. 提供管理與調整的參考資訊。</br>
            C. 圖表式呈現。</br>
            D. 協助投資人不只單看市價做決策。</br>
            <mark>E. 以上皆是。</mark></p>
            <span style="color:black;font-weight:default">2. 下列何者可以展示個別事業的營運能力？</span></br>
            <mark>A. 透視盈餘。</mark></br>
            B. 市值。</br>
            C. 投入資本。</br>
            D. 持有股數。</br>
            E. 盈虧比例。</p>
            <span style="color:black;font-weight:default">3. 在盈虧比例區塊中，看到某公司呈現大幅虧損，事業主應該要？</span></br>
            A. 立即停損。</br>
            B. 立刻加碼。</br>
            <mark>C. 對照個別事業資本力，確認是否營運出狀況再做調整。</mark></br>
            D. 對照個別事業投入資本與市值變化，確認是否同步再做調整。</br>
            E. 不卑不亢。</p>
            <span style="color:black;font-weight:default">4. 投資事業在成立初期，會有市值年化成長不如預期或超乎預期的現象，通常是因為？</span></br>
            A. 決策錯誤，需要立刻調整。</br>
            <mark>B. 市值反應常常過於激烈，建議以個別事業資本力作為參考主軸。</mark></br>
            C. 整體大環境因素。</br>
            D. 市值年化成長是個無效指標。</br>
            E. 以上皆非。</p>
            <span style="color:black;font-weight:default">5. 投入某紡織成衣公司 200萬，共50,000股，後來以每股60元賣出10,000股，請問投入資本為？</span></br>
            A. 100萬。</br>
            B. 500萬。</br>
            C. 0。</br>
            D. 200萬。</br>
            <mark>E. 160萬。</mark></p>
          </div>  
            <blockquote>
            <p>In the short run, the market is a voting machine but in the long run, it is a weighing machine.</br>
            ——《The Intelligent investor》Benjamin Graham</p>
            </blockquote>
          </section>
        </div>
        </section>
      <!-- Two -->
        <header class="special container">
          <span class="icon fa-bell"></span>
            <h2>我在投資事業報表學到最重要的三件事</h2>
        </header>
        <section class="wrapper style1 container special">
          <div class="row">
            <div class="4u 12u(narrower)">
              <section>
                <header>
                  <h3>第一件事</h3>
                </header>
                <p>如同建置事業需要正確的工具，管理事業也是一樣，本章節提供的投資事業報表是精簡過的版本，雖然不像專業投資事業管理人所使用完整版的龐大複雜，但是對於剛入門的事業主正好不會太過複雜。</p>
              </section>
            </div>
            <div class="4u 12u(narrower)">
              <section>
                <header>
                  <h3>第二件事</h3>
                </header>
                <p>不論是對新手或是老練投資人，往往都會落入市價陷阱，嘗試著用各種理由去解釋價格的變化，然而這其實是投資人最不用花費心思的地方，因為價格只是短暫的市場行為，正好買賣雙方對於某個價格達成共識，不一定是公司的營運出了甚麼問題。</p>
              </section>
            </div>
            <div class="4u 12u(narrower)">
              <section>
                <header>
                  <h3>第三件事</h3>
                </header>
                <p>投資事業報表的最重要精神，就是讓事業主能夠聚焦在公司的營運上，並且能夠即時調整配置比例，因此即使是精簡版的投資事業報表，也要能夠符合這樣的原則。</p>
              </section>
            </div>
          </div>
          <footer class="major">
            <ul class="buttons">
              <li><%= link_to "上一節", chapter4_section1_part7_index_path, class: "button" %></li>
              <li><%= link_to "下一節", chapter4_section2_part1_index_path, class: "button special" %></li>
            </ul>
          </footer>
          </section>
      <!-- Disqus -->
        <section class="wrapper style4 container">
          <div id="disqus_thread"></div>
            <script>
            /**
            * RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
            * LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables
            */
            /*
            var disqus_config = function () {
            this.page.url = PAGE_URL; // Replace PAGE_URL with your page's canonical URL variable
            this.page.identifier = PAGE_IDENTIFIER; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
            };
            */
            (function() { // DON'T EDIT BELOW THIS LINE
            var d = document, s = d.createElement('script');

            s.src = '//magnificbiz.disqus.com/embed.js';

            s.setAttribute('data-timestamp', +new Date());
            (d.head || d.body).appendChild(s);
            })();
            </script>
            <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
        </section>
        </article>
      </div>
      <!-- Scripts -->
        <script id="dsq-count-scr" src="//magnificbiz.disqus.com/count.js" async></script>
        <script src="https://use.typekit.net/mgd6kfe.js"></script>
        <script>try{Typekit.load({ async: true });}catch(e){}</script>
  </body>
</html>