<!DOCTYPE HTML>
<html>
  <head>
	<title>嘉鼎資本｜投資事業管理術投資者資訊公司治理</title>
	<meta charset="utf-8" />
	<meta name="description" content="嘉鼎資本投資事業公司治理篇，幫助投資人尋找保護股東的基本準則，範例為儒鴻。">
  <meta name="keywords" content="嘉鼎資本, 投資事業管理術, 投資, 公司治理, 股東, 儒鴻">
	<meta name="viewport" content="width=device-width, initial-scale=1" />
  </head>
  <body class="no-sidebar">
	<div id="page-wrapper">
	  <!-- Main -->
		<article id="main">
		  <header class="special container">
			<span class="icon fa-book"></span>
			  <h1>1-2-2 投資者資訊——公司治理篇</h1>
			  <p>目標：學會尋找保護股東的基本準則</p>
		  </header>
	  <!-- One -->
		<section class="wrapper style4 container">
	  <!-- Content -->
		<div class="content">
		  <section>
			<p>公司治理聽起來很生硬，似乎是公司高階經營者才需要碰觸到的課題，其實這是因為不了解才產生的誤會，事實上<mark>公司治理是保護股東的基本準則，任何投資糾紛或是疑義都可循著公司治理找到解答</mark>，因此法人投資人是十份重視這個區塊的。</p>
			然而對個人投資人來說，公司治理的資訊十分龐雜，且需要事業管理專業相關知識，因此我們特地簡化了投資人需要注意的項目。</p>
			<span style="color:black;font-weight:default">■Step 1. 點選「<a href="http://www.eclat.com.tw/chi/index.html" target="_blank">儒鴻</a>」網站</span></br>
			<img class="img-responsive" src="https://s3-us-west-2.amazonaws.com/magnficcourse/pic1-2-1-1.png" alt="儒鴻"></p>
			<span style="color:black;font-weight:default">■Step 2. 點選「投資人關係」下的「公司治理」中的「<a href="http://www.eclat.com.tw/chi/images/5-1.pdf" target="_blank">公司章程</a>」</span></br>
			<img class="img-responsive" class="img-responsive" src="https://s3-us-west-2.amazonaws.com/magnficcourse/pic1-2-2-1.png" alt="儒鴻公司章程"></p>
			<p>每家公司成立都需要設定公司章程，這就像是公司的憲法一樣。裡面條文依公司複雜程度不一，這裡請大家先看章程中的經營事業：</br>
			<img class="img-responsive" src="https://s3-us-west-2.amazonaws.com/magnficcourse/pic1-2-2-2.png" alt="儒鴻公司章程"></p>
            把它跟<%= link_to "基本資訊——產品服務篇", chapter1_section1_part1_index_path %>提到的資訊做對比，一般都會是相符的情況。</p>
            <img class="img-responsive" src="https://s3-us-west-2.amazonaws.com/magnficcourse/pic1-2-2-3.png" alt="儒鴻產品"></p>
		  </section>
		</div>
		</section>
	  <!-- Two -->
		<section class="wrapper style1 container special">
		  <footer class="major">
			<ul class="buttons">
			  <li><%= link_to "上一節", chapter1_section2_part1_index_path, class: "button" %></li>
			  <li><%= link_to "下一節", chapter1_section2_part3_index_path, class: "button special" %></li>
			</ul>
		  </footer>
		</section>
	  <!-- Disqus -->
		<section class="wrapper style4 container">
		  <div id="disqus_thread"></div>
            <script>
                /**
                * RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
                * LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables
                */
                /*
                var disqus_config = function () {
                this.page.url = PAGE_URL; // Replace PAGE_URL with your page's canonical URL variable
                this.page.identifier = PAGE_IDENTIFIER; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
                };
                */
                (function() { // DON'T EDIT BELOW THIS LINE
                var d = document, s = d.createElement('script');

                s.src = '//magnificbiz.disqus.com/embed.js';

                s.setAttribute('data-timestamp', +new Date());
                (d.head || d.body).appendChild(s);
                })();
            </script>
            <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
        </section>
		</article>
	  </div>
	  <!-- Scripts -->
        <script id="dsq-count-scr" src="//magnificbiz.disqus.com/count.js" async></script>
        <script src="https://use.typekit.net/mgd6kfe.js"></script>
        <script>try{Typekit.load({ async: true });}catch(e){}</script>
  </body>
</html>