<!DOCTYPE HTML>
<html>
  <head>
	<title>嘉鼎資本｜投資事業管理術投資事業報表事業報表概論</title>
	<meta charset="utf-8" />
	<meta name="description" content="嘉鼎資本投資事業管理術投資事業報表事業報表概論篇，幫助投資人了解投資事業的事業報表大綱內容。">
  <meta name="keywords" content="嘉鼎資本, 投資事業管理術, 投資, 投資事業, 事業報表">
	<meta name="viewport" content="width=device-width, initial-scale=1" />
  </head>
  <body class="no-sidebar">
	<div id="page-wrapper">
	  <!-- Main -->
		<article id="main">
		  <header class="special container">
			<span class="icon fa-book"></span>
			  <h1>4-1-1 投資事業報表——事業報表概論篇</h1>
			  <p>目標：了解投資事業的事業報表大綱內容</p>
		  </header>
	  <!-- One -->
		<section class="wrapper style4 container">
	  <!-- Content -->
		<div class="content">
		  <section>
			<p>到這個階段，投資人已經能建立起自己的投資事業了，然而投資事業不是建立完成後，就等著它自生自滅，後續的管理更是不能疏忽怠惰。</p>
			<p>如同建置投資事業一樣管理也需要工具的協助，讓事業主能夠精確掌握目前的狀況，以及調整的方向。投資事業管理工具琳瑯滿目，本課程僅對投資人提供其中最精簡實用的方法，而這個工具就是——<strong>投資事業報表</strong>。</p>
			<span style="color:black;font-weight:default">■投資事業概論：共分成四個區塊</span></br>
			<p>1. 基本資訊：紀錄投資事業中所含事業內容、持有股數、投入資本、市值與透視盈餘。</br>
			2. 盈虧狀態：說明在事業報表中，每個事業每股投入資本與每股市值，並計算盈虧比例。</br>
			3. 比例配置：以三種比例來分析事業狀態，分別是投入資本比例、市值比例、透視盈餘比例。</br>
			4. 圖表區：將上述三項資訊以圖表的方式呈現。</p>
			<img class="img-responsive" src="https://s3-us-west-2.amazonaws.com/magnficcourse/pic4-1-1-1.png" alt="事業報表"></p>
			<p>上圖是一個精簡版的事業報表範例，成立於2011年初，在此是以2011年底該事業的狀況來做說明。投資事業組合是以穩健為主，因此在挑選上有60%的穩健型（電信公司、製造代工集團、汽車零件公司）與20%的成長型（高科技集團與電子集團），因此成長的幅度不會太快，大約是8～12%。</p>
			<p>一般來說，投資事業在建立完成後，就應該製作第一張投資事業報表，並且之後最少每一年都要重製一張（更建議是季度追蹤），如同公司年報一樣。</p>
			<p>為了說明便利，課程用的是建立後一年（2011期末）的事業報表，<a href="https://goo.gl/SrA17G" target="_blank">附件</a>則附上完整年度的投資事業報表。接著就分別為投資人詳細說明每個區塊的功能。</p>
		  </section>
		</div>
		</section>
	  <!-- Two -->
		<section class="wrapper style1 container special">
		  <footer class="major">
			<ul class="buttons">
			  <li><%= link_to "上一節", chapter3_section2_part7_index_path, class: "button" %></li>
              <li><%= link_to "下一節", chapter4_section1_part2_index_path, class: "button special" %></li>
			</ul>
		  </footer>
		</section>
	  <!-- Disqus -->
		<section class="wrapper style4 container">
          <div id="disqus_thread"></div>
            <script>
            /**
            * RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
            * LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables
            */
            /*
            var disqus_config = function () {
            this.page.url = PAGE_URL; // Replace PAGE_URL with your page's canonical URL variable
            this.page.identifier = PAGE_IDENTIFIER; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
            };
            */
            (function() { // DON'T EDIT BELOW THIS LINE
            var d = document, s = d.createElement('script');

            s.src = '//magnificbiz.disqus.com/embed.js';

            s.setAttribute('data-timestamp', +new Date());
            (d.head || d.body).appendChild(s);
            })();
            </script>
            <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
        </section>
        </article>
      </div>
      <!-- Scripts -->
        <script id="dsq-count-scr" src="//magnificbiz.disqus.com/count.js" async></script>
        <script src="https://use.typekit.net/mgd6kfe.js"></script>
        <script>try{Typekit.load({ async: true });}catch(e){}</script>
  </body>
</html>