<!DOCTYPE HTML>
<html>
  <head>
	<title>嘉鼎資本｜投資事業管理術投資前</title>
    <meta charset="utf-8" />
    <meta name="description" content="嘉鼎資本投資事業管理術，跟傳統的是財務分析、價值投資、技術分析等的最大差別，每一次投資我們都是用獨立的框架來看待，且每一次投資的過程我們都能夠得到經驗值。">
  <meta name="keywords" content="嘉鼎資本, 投資事業管理術, 投資, 財務分析, 價值投資, 技術分析">
	<meta name="viewport" content="width=device-width, initial-scale=1" />
  </head>
  <body class="no-sidebar">
	<div id="page-wrapper">
	  <!-- Main -->
		<article id="main">
		  <header class="special container">
			<span class="icon fa-book"></span>
			<h1>寫在挑選你的第一件投資之前</h1>
		  </header>
	  <!-- One -->
		<section class="wrapper style4 container">
	  <!-- Content -->
		<div class="content">
		  <section>
			<span style="color:black;font-weight:default">■挑選標的不能以偏概全</span></br>
			<p>目前台灣資本市場中上市櫃的公司，約有1500多家，對大部分的人來說，有九成聽都沒聽過，要如何從眾多選擇中挑選出投資標的呢？</p>
			<p>1. 傳統財務分析：先建立這些公司的財務報表資料庫，設定篩選條件，遴選出符合的標的後，開始投資。</br>
            2. 技術分析：近年也開始透過電腦計算股價的模式，篩選出符合特殊模式的幾檔股票，開始交易。</p>
            <p>但這兩種常見的方式，嘉鼎資本都不建議，畢竟從上而下的方式，只能針對屬性類似的個體來篩選。</p>
            <p>簡單的說，如果你種的都是同一種水果，同一套篩選法或許能幫你選出最好最甜的產品，即使股票都是在同一個資本市場上掛牌，但內容差別可能天差地遠，同一套方法顯然不能全面適用。</p>
			<span style="color:black;font-weight:default">■每一次投資都是獨立的事件</span></br>
			<p>這也是投資事業跟傳統的是財務分析、價值投資、技術分析等的最大差別，每一次投資我們都是用獨立的框架來看待，且每一次投資的過程我們都能夠得到經驗值。<mark>與其成為每樣都略懂的菜籃族，不如成為專精的事業投資人。</mark></p>
			<p>因此在開始投資之前，我們不會特別設定什麼條件公式，只有幾點要注意：</br>
            1. 市值過大的公司——並非不能投資，只是通常較缺乏成長空間。</br>
            2. 市值過小的公司——在景氣波動時可能會無法營運，甚至倒閉。</br>
            3. 缺乏營收的公司——連客戶都沒有的公司，不建議初學的投資人。</p>
			<span style="color:black;font-weight:default">■選擇超過100億市值的公司</span></br>
			<p>以台灣資本市場來說，100億市值是個合理的投資門檻，當然這並非絕對，只是依照嘉鼎資本的經驗，超過一定市值的公司能為你的投資抵抗風險。</p>
			<span style="color:black;font-weight:default">■從你熟悉的公司開始</span></br>
			<p>接著就看你個人偏好，有的人喜歡依照字母順序，有的人喜歡市值排列，甚至有的人就隨機挑選，但嘉鼎資本會建議你從符合的名單中挑選你看過、聽過、甚至較熟悉的公司開始。</p>
			<p>然後開始吧！就由台灣資本市場中，市值最大也是最知名的台積電作為開端。</p> 
		  </section>
		</div>
		</section>
	  <!-- Two -->
		<section class="wrapper style1 container special">
		  <footer class="major">
		    <ul class="buttons">
			  <li><%= link_to "上一節", introduction_section3_index_path, class: "button" %></li>
			  <li><%= link_to "下一節", chapter1_section1_part1_index_path, class: "button special" %></li>
			</ul>
		  </footer>
		</section>
	  <!-- Disqus -->
        <section class="wrapper style4 container">
		  <div id="disqus_thread"></div>
            <script>
            /**
            * RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
            * LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables
            */
            /*
            var disqus_config = function () {
            this.page.url = PAGE_URL; // Replace PAGE_URL with your page's canonical URL variable
            this.page.identifier = PAGE_IDENTIFIER; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
            };
            */
            (function() { // DON'T EDIT BELOW THIS LINE
            var d = document, s = d.createElement('script');

            s.src = '//magnificbiz.disqus.com/embed.js';

            s.setAttribute('data-timestamp', +new Date());
            (d.head || d.body).appendChild(s);
            })();
            </script>
            <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
        </section>
        </article>
      </div>
      <!-- Scripts -->
        <script id="dsq-count-scr" src="//magnificbiz.disqus.com/count.js" async></script>
        <script src="https://use.typekit.net/mgd6kfe.js"></script>
        <script>try{Typekit.load({ async: true });}catch(e){}</script>
  </body>
</html>