<!DOCTYPE HTML>
<html>
  <head>
	<title>嘉鼎資本｜投資事業管理術投資事業工具包如何使用工具包</title>
	<meta charset="utf-8" />
	<meta name="description" content="嘉鼎資本投資事業管理術投資事業工具包之如何使用工具包篇，幫助投資人學會如何使用工具包。">
  <meta name="keywords" content="嘉鼎資本, 投資事業管理術, 投資, 投資事業, 工具包">
	<meta name="viewport" content="width=device-width, initial-scale=1" />
  </head>
  <body class="no-sidebar">
	<div id="page-wrapper">
	  <!-- Main -->
		<article id="main">
		  <header class="special container">
			<span class="icon fa-book"></span>
			<h1>3-1-2 投資事業工具包——如何使用工具包篇</h1>
			目標：學會如何使用工具包</p>
		  </header>
	  <!-- One -->
		<section class="wrapper style4 container">
	  <!-- Content -->
		<div class="content">
		  <section>
			<p>六個區塊配合四張圖表，讓投資人可以快速的從工具包擷取出有效的資訊，例如：由前小節案例公司，可以立刻看出屬於成長型態，且淨值與投入資本也都對應成長，營業淨利（營業利益）的估值與實際數字差別不大，是一個蠻符合初階投資人可以理解的公司；而該公司的資本力雖然沒有多大，但是在2011年與2015～2016年都有相對高的資本力，因此都有投資人適合投入的時間點。</p>
			<span style="color:black;font-weight:default">■簡單分析的背後是有效的篩選工具</span></br>
			<p>雖然這樣的分析看似簡單，但是配合基本資訊的理解與財報資訊的輔助，都能夠對投資人提供很有效的篩選工具。另外如果對於型態判讀有困難，或是對某些年份的資訊有疑慮，都可以再回到該年的財務報表去找資料。</p>
			<p>投資人可以為每一個口袋名單的公司製作一張試算表，然後整合在一個檔案中，或是每個公司都開一個試算表檔案。</p>
			<p>這邊提供一個常用的方式，就是把觀察中的口袋名單整合到同一個試算表檔案，然後有實際投入的則移往另一個試算表檔案，這樣既不會太繁雜，也可以很快到自己關心的公司的資料。</p>
			<p>投資事業工具包目的在於，提供初階投資人各種資訊的整理，且都是之前課程所介紹過的內容，相信對於投資人來說不會有太多負擔，如果投資人真的對於製作工具包有困難，大家可在<a href="https://goo.gl/Ici1bk" target="_blank">這裡</a>下載檔案，任何疑問也歡迎大家與嘉鼎資本<%= link_to "聯繫", outline_index_path %>。</p>
			<p>投資事業工具包是嘉鼎資本研究人員經常使用的工具，畢竟一家公司的各種資訊既多且雜，需要一個整理工具來幫助研究人員，然而市面上的各種資料庫或是套裝軟體工具雖然功能強大，但是常常殺雞用牛刀，加上這些軟體本身的彈性與客製化功能較差，所以嘉鼎資本才會整合出投資事業工具包的概念。</p>
		  </section>
		</div>
		</section>
	  <!-- Two -->
		<section class="wrapper style1 container special">
		  <footer class="major">
			<ul class="buttons">
			  <li><%= link_to "上一節", chapter3_section1_part1_index_path, class: "button" %></li>
              <li><%= link_to "下一節", chapter3_section1_part3_index_path, class: "button special" %></li>
			</ul>
		  </footer>
		</section>
	  <!-- Disqus -->
		<section class="wrapper style4 container">
          <div id="disqus_thread"></div>
            <script>
            /**
            * RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
            * LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables
            */
            /*
            var disqus_config = function () {
            this.page.url = PAGE_URL; // Replace PAGE_URL with your page's canonical URL variable
            this.page.identifier = PAGE_IDENTIFIER; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
            };
            */
            (function() { // DON'T EDIT BELOW THIS LINE
            var d = document, s = d.createElement('script');

            s.src = '//magnificbiz.disqus.com/embed.js';

            s.setAttribute('data-timestamp', +new Date());
            (d.head || d.body).appendChild(s);
            })();
            </script>
            <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
        </section>
        </article>
      </div>
      <!-- Scripts -->
        <script id="dsq-count-scr" src="//magnificbiz.disqus.com/count.js" async></script>
        <script src="https://use.typekit.net/mgd6kfe.js"></script>
        <script>try{Typekit.load({ async: true });}catch(e){}</script>
  </body>
</html>