<!DOCTYPE HTML>
<html>
  <head>
	<title>嘉鼎資本｜投資事業管理術基本資訊其他</title>
	<meta charset="utf-8" />
	<meta name="description" content="嘉鼎資本投資事業管理術其他篇，帶領投資人自主注意公司發佈的新聞及社會責任，範例為大統益及台達電子。">
  <meta name="keywords" content="嘉鼎資本, 投資事業管理術, 投資, 新聞, 社會責任, 大統益, 台達電子">
	<meta name="viewport" content="width=device-width, initial-scale=1" />
  </head>
  <body class="no-sidebar">
	<div id="page-wrapper">
  <!-- Main -->
	<article id="main">
	  <header class="special container">
		<span class="icon fa-book"></span>
		  <h1>1-1-3 基本資訊——其他篇</h1>
		  <p>目標：學會關心公司新聞及社會責任，媒體不跟你說的不代表不重要</p>
	  </header>
  <!-- One -->
	<section class="wrapper style4 container">
  <!-- Content -->
	<div class="content">
	  <section>
		<p>當然每個公司的網站都長的不同，但是基本的結構不外乎前述的兩項，如果這兩個項目需要花費你超過半天都摸不出頭緒，強烈建議投資人避開該公司，畢竟投資在無法了解的項目上，就不符合投資事業的本質了——這變成一種賭博。</p>
		<p>而網站中還有許多重要的基本資訊，在這個課程中無法一一細說，但有兩個項目也是投資者必須找尋的。</p>
		<span style="color:black;font-weight:default">■新聞／最新消息</span></br>
		就是公司重大消息公佈的地方，有些是財務相關、有些是營運相關、也有些是特殊議題，在這裡你通常可以第一時間看到由公司發佈的新聞內容，而非其他媒體加油添醋的報導。</p>
		<span style="color:black;font-weight:default">Step 1. 點選「<a href="http://www.ttet.com.tw/index.php?lang=cht" target="_blank">大統益</a>」網站</span></br>
		<img class="img-responsive" src="https://s3-us-west-2.amazonaws.com/magnficcourse/pic1-1-3-1.png" alt="大統益首頁"></p>
		<span style="color:black;font-weight:default">Step 2. 點選「<a href="http://www.ttet.com.tw/index.php?option=module&lang=cht&task=showlist&id=4&index=1" target="_blank">最新消息</a>」</span></br>
		大統益就將新聞分類為「最新消息」與「歷史資料」，記錄了該公司發表的聲明及報導。</br>
		<img class="img-responsive" src="https://s3-us-west-2.amazonaws.com/magnficcourse/pic1-1-3-2.png" alt="大統益"></p>
		<img class="img-responsive" src="https://s3-us-west-2.amazonaws.com/magnficcourse/pic1-1-3-3.png" alt="大統益最新消息"></p>
		<span style="color:black;font-weight:default">■社會責任</span></br>
		有些公司會命名為「永續經營」或「企業責任」，這個區塊通常是描述公司除了營運以外，對於環境、社會做了那些貢獻。</p>
		<span style="color:black;font-weight:default">Step 1. 點選「<a href="http://www.deltaww.com/default.aspx?hl=zh-TW" target="_blank">台達電子</a>」</span></br>
		<img class="img-responsive" src="https://s3-us-west-2.amazonaws.com/magnficcourse/pic1-1-3-4.png" alt="台達電子首頁"></p>
		<span style="color:black;font-weight:default">Step 2. 點選「關於台達」下的「<a href="http://www.deltaww.com/about/csr_features_ch.aspx?secID=5&pid=6&tid=0&hl=zh-TW" target="_blank">企業社會責任</a>」</span></br>
		<img class="img-responsive" src="https://s3-us-west-2.amazonaws.com/magnficcourse/pic1-1-3-5.png" alt="台達電子"></p>
		<img class="img-responsive" src="https://s3-us-west-2.amazonaws.com/magnficcourse/pic1-1-3-6.png" alt="台達電子企業社會責任"></p>
		<p>這兩個區塊都是投資人，可以用來檢視該公司是否把永續經營當作營運目標之一，以台灣公司入選DJSI世界指數為例，迄今入選的公司都仍持續營運並保持上市，所以這對投資人來說也是值得參考的一個區塊。</p>
	  </section>
	</div>
	</section>
	  <!-- Two -->
		<section class="wrapper style1 container special">
		  <footer class="major">
			<ul class="buttons">
			  <li><%= link_to "上一節", chapter1_section1_part2_index_path, class: "button" %></li>
			  <li><%= link_to "下一節", chapter1_section1_part4_index_path, class: "button special" %></li>
			</ul>
		  </footer>
		</section>
	  <!-- Disqus -->
        <section class="wrapper style4 container">
		  <div id="disqus_thread"></div>
            <script>
            /**
            * RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
            * LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables
            */
            /*
            var disqus_config = function () {
            this.page.url = PAGE_URL; // Replace PAGE_URL with your page's canonical URL variable
            this.page.identifier = PAGE_IDENTIFIER; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
            };
            */
            (function() { // DON'T EDIT BELOW THIS LINE
            var d = document, s = d.createElement('script');

            s.src = '//magnificbiz.disqus.com/embed.js';

            s.setAttribute('data-timestamp', +new Date());
            (d.head || d.body).appendChild(s);
            })();
            </script>
            <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
        </section>
        </article>
      </div>
      <!-- Scripts -->
        <script id="dsq-count-scr" src="//magnificbiz.disqus.com/count.js" async></script>
        <script src="https://use.typekit.net/mgd6kfe.js"></script>
        <script>try{Typekit.load({ async: true });}catch(e){}</script>
  </body>
</html>