<!DOCTYPE HTML>
<html>
  <head>
	<title>嘉鼎資本｜投資事業管理術投資者資訊股東專欄篇</title>
	<meta charset="utf-8" />
    <meta name="description" content="嘉鼎資本投資事業管理術股東專欄篇，幫助投資人尋找股利分派及股東權益等資訊，範例為儒鴻。">
  <meta name="keywords" content="嘉鼎資本, 投資事業管理術, 投資, 股東專欄, 股利分派, 股東權益, 儒鴻">
	<meta name="viewport" content="width=device-width, initial-scale=1" />
  </head>
  <body class="no-sidebar">
	<div id="page-wrapper">
	  <!-- Main -->
		<article id="main">
		  <header class="special container">
			<span class="icon fa-book"></span>
			<h1>1-2-3 投資者資訊——股東專欄篇</h1>
			<p>目標：學會尋找股利分派、股東權益資訊</p>
		  </header>
	  <!-- One -->
		<section class="wrapper style4 container">
	  <!-- Content -->
		<div class="content">
		  <section>
			<span style="color:black;font-weight:default">■Step 1. 點選「<a href="http://www.eclat.com.tw/chi/index.html" target="_blank">儒鴻</a>」網站</span></br>
			<img class="img-responsive" src="https://s3-us-west-2.amazonaws.com/magnficcourse/pic1-2-1-1.png" alt="儒鴻"></p>
			<span style="color:black;font-weight:default">■Step 2. 點選「投資人關係」下的「<a href="http://www.eclat.com.tw/chi/investors03.html" target="_blank">股東專欄</a>」</span></br>
			在這個區塊有四項資訊值得投資人關注。</br>
			<img class="img-responsive" src="https://s3-us-west-2.amazonaws.com/magnficcourse/pic1-2-3-1.png" alt="儒鴻股東專欄"></p>
			<span style="color:black;font-weight:default">■Step 3. 股利資訊</span></br>
			<p>一般來說股利分為現金股利與股票股利，其實很難單從股利斷定這家公司營運的優劣好壞，但有一些通則可以參考：</br>
            1. 如果公司能夠穩定持續發放現金股利，表示有持續獲利的能力。</br>
            2. 現金股利忽大忽小，表示公司的營運起伏較大。</br>
            3. 只有股票股利沒有現金股利，表示公司保留所有盈餘，或是根本沒有現金可以發放。不論何者都意味著公司對於資金缺口較大，可能是為了擴充，也可能是營運不佳，在比較後面的章節會再提到。</p>
            <p>這個區塊能夠讓投資人了解，如果成為這家公司的股東，在過去幾年透過公司發放所回收的資本有多少，另外就是何時發放股利（現金股利為除息日、股票股利為除權日），也是投資人成為股東後應該關心的資訊。</p>
			<span style="color:black;font-weight:default">■Step 4. 股東會資訊</span></br>
			<img class="img-responsive" src="https://s3-us-west-2.amazonaws.com/magnficcourse/pic1-2-3-2.png" alt="儒鴻股東會資訊"></p>
            <p>這裡記錄著過去股東會的相關資訊，包含開會通知、議事規則、會議紀錄等。</p>
            <p>看起來好像很無聊，可能還沒有紀念品（誤）。但事實上，<mark>股東會是股東一年一度表彰自己權益的機會，包含對財務報表上的疑慮、盈餘分配的意見，甚至與公司的董事或經營層面對面，都會有助於你對於該公司持續投資與否的判斷，過往有分析師說過：如果猶豫不決，就出席股東會看看。</mark></p>
            <p>而尚未成為該公司股東的投資人，則是可以透過會議紀錄來還原開會的內容，跟認識公司的大股東與董事會成員。</p>
            <span style="color:black;font-weight:default">■Step 5. 股價資訊</span></br>
            <img class="img-responsive" src="https://s3-us-west-2.amazonaws.com/magnficcourse/pic1-2-3-3.png" alt="儒鴻股價資訊"></p>
            <p>有的公司會直接動態連結即時報價，有的則是每日收盤後再更新今日收盤價。多數的投資人都是透過證券商或是其他交易資訊網站獲取股價資訊，所以重要性就比較低了。</p>
            下一項資訊因為很重要，我們將它獨立成一個小節來介紹。</br>
            <img class="img-responsive" src="https://s3-us-west-2.amazonaws.com/magnficcourse/pic1-2-3-4.png" alt="儒鴻重大資訊"></p>
            <span style="color:black;font-weight:default">■投資事業管理術小教室</span></br>
            <p>1. 除息：發放現金股利，市場將股利從股價中扣除。</br>
            除息參考價計算公式：除息參考價＝除息前－日收盤價－現金股利</br>
            2. 除權：發放股票股利，市場將股息從股價中扣除。</br>
            除權參考價計算公式：除息參考價÷（1＋配股率）＝（除息前－日收盤價－現金股利）÷（1＋配股率）</br>     
            （只有除權時，現金股利＝0）</p>
		  </section>
		</div>
		</section>
	  <!-- Two -->
		<section class="wrapper style1 container special">
		  <footer class="major">
			<ul class="buttons">
			  <li><%= link_to "上一節", chapter1_section2_part2_index_path, class: "button" %></li>
			  <li><%= link_to "下一節", chapter1_section2_part4_index_path, class: "button special" %></li>
			</ul>
		  </footer>
		</section>
	  <!-- Disqus -->
        <section class="wrapper style4 container">
          <div id="disqus_thread"></div>
            <script>
            /**
            * RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
            * LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables
            */
            /*
            var disqus_config = function () {
            this.page.url = PAGE_URL; // Replace PAGE_URL with your page's canonical URL variable
            this.page.identifier = PAGE_IDENTIFIER; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
            };
            */
            (function() { // DON'T EDIT BELOW THIS LINE
            var d = document, s = d.createElement('script');

            s.src = '//magnificbiz.disqus.com/embed.js';

            s.setAttribute('data-timestamp', +new Date());
            (d.head || d.body).appendChild(s);
            })();
            </script>
            <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
        </section>
        </article>
      </div>
      <!-- Scripts -->
        <script id="dsq-count-scr" src="//magnificbiz.disqus.com/count.js" async></script>
        <script src="https://use.typekit.net/mgd6kfe.js"></script>
        <script>try{Typekit.load({ async: true });}catch(e){}</script>
  </body>
</html>