<!DOCTYPE HTML>
<html>
  <head>
	<title>嘉鼎資本｜投資事業管理術建置投資事業瀑布法</title>
	<meta charset="utf-8" />
	<meta name="description" content="嘉鼎資本投資事業管理術建置投資事業瀑布法篇，幫助投資人學會利用瀑布法建置屬於自己的投資事業。">
  <meta name="keywords" content="嘉鼎資本, 投資事業管理術, 投資, 投資事業, 瀑布法">
	<meta name="viewport" content="width=device-width, initial-scale=1" />
  </head>
  <body class="no-sidebar">
	<div id="page-wrapper">
	  <!-- Main -->
		<article id="main">
		  <header class="special container">
			<span class="icon fa-book"></span>
			  <h1>3-2-2 建置投資事業——瀑布法篇</h1>
			  <p>目標：學會利用瀑布法建置屬於自己的投資事業</p>
		  </header>
	  <!-- One -->
		<section class="wrapper style4 container">
	  <!-- Content -->
		<div class="content">
		  <section>
			<p>瀑布法也是課程主軸的設計，從蒐集資訊到建立組合，如同瀑布一樣層層向下，對投資人來說是最直觀也是最容易掌握的方法。</p>
			<p>投資人可以遵循著下列步驟：</br>
			<span style="color:black;font-weight:default">■Step 1. 設定篩選範圍</span></br>
			一開始可從市值超過10億美金、100億台幣、指數成分股，如：S&P500或是台灣50。</p>
			<span style="color:black;font-weight:default">■Step 2. 蒐集標的公司的營運內容</span></br>
			<p>(1) 成功獲得資訊也能夠理解→Step 3。</br>
		    (2) 如無法找到資訊或無法理解則跳過該公司→尋找下一個標的並回到Step 2。</p>
			<span style="color:black;font-weight:default">■Step 3. 分析該公司的營運型態</span></br>
			<p>(1) 能夠確認公司營運型態→Step 4。</br>
		    (2) 無法確認公司營運型態→尋找下一個標的並回到Step 2。</p>
			<span style="color:black;font-weight:default">■Step 4. 營運型態與內容符合投資人設定的方向（如：成長型且營運內容屬於自身專業相關）</span></br>
			<p>(1) Yes→Step 5。</br>
		    (2) No→尋找下一個標的並回到Step 2。</p>
			<span style="color:black;font-weight:default">■Step 5. 檢查資本力符合投資者設定的門檻（如：12%以上的資本力）</span></br>
			<p>(1) Yes→Step 6。</br>
		    (2) No→放入觀察名單【註1】→尋找下一個標的並回到Step 2。</p>
		    <p><pre>【註1】對於營運內容與型態都符合的標的公司，如果目前的股價過高導致資本力不符合設定門檻，建議可以建立一個觀察名單把些標的公司放入，並經常追蹤，當資本力符合門檻時就可以納入事業組合。</pre></p>
			<span style="color:black;font-weight:default">■Step 6. 納入事業組合</span></br>
			<p>建議投資人可以採取平均權重的方式【註2】，由5～7家符合瀑布法篩選出標的公司，組成自己的事業組合。</p>
			<p><pre>【註2】也就是投入時每個標的的投入金額都相同。</pre></p>
			下表是採用瀑布法的範例表單，設定的目標為：</br>
			(1) 全美前500大企業</br>
			(2) 型態為成長或是穩定</br>
			(3) 投資回報率（ROC）>15%</br>
			(4) 資本力>10%</p>
			<img class="img-responsive" src="https://s3-us-west-2.amazonaws.com/magnficcourse/pic3-2-2-1.png" alt="瀑布法"></p>
			<p>更進階的投資人可以針對不同型態的公司設立不同篩選標準，例如：穩定型態的公司只需要投資回報率（ROC）>10%與資本力>7%，這樣飲料1與飲料2公司就會符合篩選標準。</p>
			<p>透過瀑布法，投資人可以有效把符合設定篩選標準的公司詳細分類與紀錄，因此除了建立投資事業組合以外，還能建立觀察名單，這對於後續的事業管理有很大的助益。</p>
			<span style="color:black;font-weight:default">■【補充】型態比例</span></br>
			<p>在型態分析中曾介紹過投資事業可以透過不同型態所組合，這邊介紹幾個常見的比例給投資人參考：</br>
			(1) 成長型80%＋穩定型20%：適合資金不多，但是追求成長的投資人，建議選擇5家以上的事業。</br>
			(2) 成長型40%＋穩定型60%：適合追求穩定優先，再來才是成長的投資人，建議選擇5家以上的事業。</br>
			(3) 成長型40%＋穩定型40%＋循環型20%：適合給更有經驗的投資人，透過搭配循環類型的起伏，為投資事業增加更多資本，建議選擇10家以上的事業。</br>
			(4) 穩定型50%＋循環型50%：適合給非常老練的投資人，透過更多循環來增加輪替的機會，有些投資人可以用2家事業搭配即可，也可用3家以上，並沒有特別的建議。</p>
			<p>另外不同型態的公司，篩選的標準也可以做調整，這裡建議：</br>
			(1) 成長型：常見的篩選標準為投資回報率（ROC）>12%與資本力>12%。</br>
			(2) 穩定型：常見的篩選標準為投資回報率（ROC）>8%與資本力>8%。</br>
			(3) 循環型：篩選標準以最低投資回報率（ROC）為依據，避免負值，資本力計算則是以最近年度投資回報率（ROC）來估值，建議資本力>15%。</p>
			<p>這裡也衍生出一個新的投資事業組合方法——互補法，主要是透過循環與其他型態的互補，掌握起伏機會來增加投資事業的資本，將在下一個小節詳細介紹。</p>
		  </section>
		</div>
		</section>
	  <!-- Two -->
		<section class="wrapper style1 container special">
		  <footer class="major">
			<ul class="buttons">
			  <li><%= link_to "上一節", chapter3_section2_part1_index_path, class: "button" %></li>
              <li><%= link_to "下一節", chapter3_section2_part3_index_path, class: "button special" %></li>
			</ul>
		  </footer>
		</section>
	  <!-- Disqus -->
		<section class="wrapper style4 container">
          <div id="disqus_thread"></div>
            <script>
            /**
            * RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
            * LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables
            */
            /*
            var disqus_config = function () {
            this.page.url = PAGE_URL; // Replace PAGE_URL with your page's canonical URL variable
            this.page.identifier = PAGE_IDENTIFIER; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
            };
            */
            (function() { // DON'T EDIT BELOW THIS LINE
            var d = document, s = d.createElement('script');

            s.src = '//magnificbiz.disqus.com/embed.js';

            s.setAttribute('data-timestamp', +new Date());
            (d.head || d.body).appendChild(s);
            })();
            </script>
            <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
        </section>
        </article>
      </div>
      <!-- Scripts -->
        <script id="dsq-count-scr" src="//magnificbiz.disqus.com/count.js" async></script>
        <script src="https://use.typekit.net/mgd6kfe.js"></script>
        <script>try{Typekit.load({ async: true });}catch(e){}</script>
  </body>
</html>