<!DOCTYPE HTML>
<html>
  <head>
	<title>嘉鼎資本｜投資事業管理術建置投資事業投資事業建置提醒</title>
	<meta charset="utf-8" />
	<meta name="description" content="嘉鼎資本投資事業管理術建置投資事業之投資事業建置提醒篇，投資人了解建置投資事業與基金的不同。">
  <meta name="keywords" content="嘉鼎資本, 投資事業管理術, 投資, 投資事業, 基金">
	<meta name="viewport" content="width=device-width, initial-scale=1" />
  </head>
  <body class="no-sidebar">
	<div id="page-wrapper">
	  <!-- Main -->
		<article id="main">
		  <header class="special container">
			<span class="icon fa-book"></span>
			  <h1>3-2-5 建置投資事業——投資事業建置提醒篇</h1>
			  目標：了解建置投資事業與基金的不同</p>
		  </header>
	  <!-- One -->
		<section class="wrapper style4 container">
	  <!-- Content -->
		<div class="content">
		  <section>
			<p>投資事業建置的方法不僅是這三種，然而建置的過程與邏輯雷同，透過有系統的程序，盡量在足夠的知識與資訊下，同時降低營運風險與價格風險。</p>
			常常投資者都會在基金廣告上發現一行小字：
			<blockquote>
			<p>投資一定有風險，基金投資有賺有賠.....</p>
		    </blockquote>
		    <p>但是基金所關注的風險往往只是盈虧風險，這種風險嚴格說起來是衍生出來而非原生風險，也就是這是因為投資人忽略了營運或是價格風險，因而產生；建立投資事業的其中一個好處就是可以有效管理原生風險。</p>
		    <p>這樣講可能會使許多投資人混淆了，更白話一點的說，當購買基金時，並沒有任何足夠的資訊可以顯示這個基金的營運風險在哪裡，因為基金的營運屬於不需公開的內容，只有基金管理團隊會知道，此外因為無營運資訊，所以更無從判斷價格風險，所以大眾才會對於某檔基金是否漲過頭或是能不能再投入產生諸多疑問。</p>
		    <p>而自行建置投資事業組合就可以完全避免這種情形發生，當營運與價格風險控制得宜，那虧損風險也會降到最低，而後投資人要關心的就是，如何提高事業成長的能力了。</p>
		  </section>
		</div>
		</section>
	  <!-- Two -->
		<section class="wrapper style1 container special">
		  <footer class="major">
			<ul class="buttons">
			  <li><%= link_to "上一節", chapter3_section2_part4_index_path, class: "button" %></li>
              <li><%= link_to "下一節", chapter3_section2_part6_index_path, class: "button special" %></li>
			</ul>
		  </footer>
		</section>
	  <!-- Disqus -->
		<section class="wrapper style4 container">
          <div id="disqus_thread"></div>
            <script>
            /**
            * RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
            * LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables
            */
            /*
            var disqus_config = function () {
            this.page.url = PAGE_URL; // Replace PAGE_URL with your page's canonical URL variable
            this.page.identifier = PAGE_IDENTIFIER; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
            };
            */
            (function() { // DON'T EDIT BELOW THIS LINE
            var d = document, s = d.createElement('script');

            s.src = '//magnificbiz.disqus.com/embed.js';

            s.setAttribute('data-timestamp', +new Date());
            (d.head || d.body).appendChild(s);
            })();
            </script>
            <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
        </section>
        </article>
      </div>
      <!-- Scripts -->
        <script id="dsq-count-scr" src="//magnificbiz.disqus.com/count.js" async></script>
        <script src="https://use.typekit.net/mgd6kfe.js"></script>
        <script>try{Typekit.load({ async: true });}catch(e){}</script>
  </body>
</html>