<!DOCTYPE HTML>
<html>
  <head>
	<title>嘉鼎資本｜投資事業管理術資訊解讀營業收入</title>
	<meta charset="utf-8" />
	<meta name="description" content="嘉鼎資本投資事業管理術資訊解讀營業收入篇，希望協助投資人，不僅是知道營收及股價，還能夠妥善運用。">
  <meta name="keywords" content="嘉鼎資本, 投資事業管理術, 投資, 資訊, 營業收入, 營收, 股價">
	<meta name="viewport" content="width=device-width, initial-scale=1" />
  </head>
  <body class="no-sidebar">
	<div id="page-wrapper">
	  <!-- Main -->
		<article id="main">
		  <header class="special container">
			<span class="icon fa-book"></span>
			  <h1>2-1-1 資訊解讀——營業收入篇</h1>
			  <p>目標：學會解讀公司最基本營運指標營業收入</p>
		  </header>
	  <!-- One -->
		<section class="wrapper style4 container">
	  <!-- Content -->
		<div class="content">
		  <section>
			<p>上一小節說明如何找到公司的財報資訊並解釋其涵義，雖然看起來十分龐雜，但多閱讀幾次投資人應該就能抓到精隨。而在這個小節則更進階，將對建立投資事業所需的財報資訊進行解讀，希望協助投資人，不僅是知道這些資訊，還能夠妥善運用。</p>
			<span style="color:black;font-weight:default">■公司最基本營運指標——營收</span></br>
			<p>分析任何一家公司的營運好壞，第一件事情就是從營收看起，市場上有些投資人喜歡只看淨利，然而這是太過簡化的做法，事實上營收是公司最基本的營運指標。</p>
			<p>下圖是一家營利教育事業機構的年營收與年均股價【註】，當年營收從2011年開始逐步衰退，年均股價也跟著下滑。</p>
			<img class="img-responsive" src="https://s3-us-west-2.amazonaws.com/magnficcourse/pic2-1-1-1.png" alt="營收"></p>
			<p><pre>【註】年均股價為該年度6/1當日200日移動平均值，作為長期股價的取樣代表。</pre></p>
			<p>下圖是行動裝置與個人電腦公司的年營收與年均股價，與前例剛好相反，在營收不斷創新高的情況下，年均股價也不斷走高。</p>
			<img class="img-responsive" src="https://s3-us-west-2.amazonaws.com/magnficcourse/pic2-1-1-2.png" alt="營收"></p>
            <span style="color:black;font-weight:default">■股價長期會跟著營收連動</span></br>
            <p>當然營收並非唯一影響股價的因素，然而卻是公司營運的根基，因此才會出現股價長期跟著營收連動的現象。因此對於投資人來說，蒐集與解讀公司營收十分重要。<mark>通常連續三年營收持續下滑，就表示公司的營運出現實質的問題</mark>，有可能是競爭環境改變、事業內容過時、經營層沒有目標等，總之出現連續幾年營收下滑的公司，就是一個停止投入的警訊。</p>
            <p>那麼營收高飛的公司呢？<mark>一般來說，如果連續三年營收穩定成長，表示公司的營運在良好的循環中</mark>，特別要注意穩定這件事，如果是一年暴衝隔年又暴跌，那就不一定是個好的投資選擇了。</p>
            <p>建議初階投資人，可以把第一章篩選出來的公司，再用公司營收做初步判讀，看看是否持續穩定的成長，把營收衰退或是忽高忽低的公司過濾掉，也是一個簡單有效的篩選方法。</p>
		  </section>
		</div>
		</section>
	  <!-- Two -->
		<section class="wrapper style1 container special">
		  <footer class="major">
			<ul class="buttons">
			  <li><%= link_to "上一節", chapter1_section3_part6_index_path, class: "button" %></li>
              <li><%= link_to "下一節", chapter2_section1_part2_index_path, class: "button special" %></li>
			</ul>
		  </footer>
		</section>
	  <!-- Disqus -->
        <section class="wrapper style4 container">
		  <div id="disqus_thread"></div>
            <script>
            /**
            * RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
            * LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables
            */
            /*
            var disqus_config = function () {
            this.page.url = PAGE_URL; // Replace PAGE_URL with your page's canonical URL variable
            this.page.identifier = PAGE_IDENTIFIER; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
            };
            */
            (function() { // DON'T EDIT BELOW THIS LINE
            var d = document, s = d.createElement('script');

            s.src = '//magnificbiz.disqus.com/embed.js';

            s.setAttribute('data-timestamp', +new Date());
            (d.head || d.body).appendChild(s);
            })();
            </script>
            <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
        </section>
        </article>
      </div>
      <!-- Scripts -->
        <script id="dsq-count-scr" src="//magnificbiz.disqus.com/count.js" async></script>
        <script src="https://use.typekit.net/mgd6kfe.js"></script>
        <script>try{Typekit.load({ async: true });}catch(e){}</script>
  </body>
</html>