<footer id="footer">
  <ul class="icons">
	<li><a href="https://www.facebook.com/capital.power/" target="_blank" class="icon circle fa-facebook"><span class="label">Facebook</span></a></li>
	<li><a href="https://plus.google.com/+MagnificBiz888/" target="_blank" class="icon circle fa-google-plus"><span class="label">Google+</span></a></li>
	<li><a href="https://www.youtube.com/channel/UCQ3xvZnSlm-e2XvEi5YlpFQ" target="_blank" class="icon circle fa-youtube"><span class="label">Youtube</span></a></li>
  </ul>

  <ul class="copyright">
	<li>&copy; 嘉鼎資本 1999-2016</li><li>Design: <a href="http://html5up.net" target="_blank" >HTML5 UP</a></li>
  </ul>
</footer>