<!DOCTYPE HTML>
<html>
  <head>
	<title>嘉鼎資本｜投資事業管理術型態分析與歸納特異型</title>
	<meta charset="utf-8" />
	<meta name="description" content="嘉鼎資本投資事業管理型態分析與歸納型篇，投資人學會解讀學會辨別什麼公司營運是特異型事業。">
  <meta name="keywords" content="嘉鼎資本, 投資事業管理術, 投資, 型態分析, 特異型, 公司營運">
	<meta name="viewport" content="width=device-width, initial-scale=1" />
  </head>
  <body class="no-sidebar">
	<div id="page-wrapper">
	  <!-- Main -->
		<article id="main">
		  <header class="special container">
			<span class="icon fa-book"></span>
			  <h1>2-2-5 型態分析與歸納——特異型篇</h1>
			  <p>目標：學會辨別什麼公司是特異型事業</p>
		  </header>
	  <!-- One -->
		<section class="wrapper style4 container">
	  <!-- Content -->
		<div class="content">
		  <section>
		    <p>絕大多數的公司營運都能夠歸類到上述的四個型態中，然而有少部分的狀況沒有明確類型，如下圖案例：</br>
			<img class="img-responsive" src="https://s3-us-west-2.amazonaws.com/magnficcourse/pic2-2-5-1.png" alt="特異型"></p>
			<p>嚴格說起來這家公司在2007～2008年期間有穩定的成長，然而淨利卻是連續兩季出現虧損，接著2009～2010年的營收也下滑，之後就轉變成穩定的型態，依照近五年的型態可以歸類在穩定型態，然而建議投資人可以更進一步了解2007～2010年期間發生的事件【註】。</p>
			<p><pre>【註】該公司於2007、2008、2009年陸續中止與出售部分事業單位，因此抵銷了該年度的淨利且營收出現下滑，在出售完畢後該公司的營運轉變成穩定型態。</pre></p>
			<p>第二個案例是循環型伴隨著衰退型，這家公司的營運內容高度收到經濟環境影響，此外在2011年後的衰退循環還伴隨著衰退型態，這往往讓很多技巧性投資人陷入陷阱，以為度過了衰退循環就能夠走回成長循環，然而卻沒注意到是整個型態已經改變。</p>
			<img class="img-responsive" src="https://s3-us-west-2.amazonaws.com/magnficcourse/pic2-2-5-2.png" alt="特異型"></p>
			<p>這也是為什麼建議投資人面對循環型態的投資機會時，<mark>要控制投入的資本比重，以免遇到衰退循環變衰退型態的困境。</mark></p>
			<p>第三則案例則是，金融相關的公司，在金融海嘯時後首當其衝受傷慘重，該公司在2008～2010年期間，為了解決困境把數個事業單位終止營運，經過一番整頓逐步恢復。這是一個標準的由衰退型態立即轉型的案例，最終雖然不如過去的營收，但是成功的把公司轉變成穩定型態。</p>
			<img class="img-responsive" src="https://s3-us-west-2.amazonaws.com/magnficcourse/pic2-2-5-3.png" alt="特異型"></br>
			<span style="color:black;font-weight:default">■型態分析需配合基本資訊使用</span></br>
			<p>事實上特異型態就是前述四種型態在相對短的期間複合出現，可能是循環伴隨著成長，也可能是成長歷經劇變成為穩定，對投資人來說，不是那麼容易發現，因此建議投資人在型態歸納上要配合著公司的基本資訊，例如原物料相關的事業就比較容易出現循環型態，而正在順風的科技相關事業就可能常見成長型態。</p>
		  </section>
		</div>
		</section>
	  <!-- Two -->
		<section class="wrapper style1 container special">
		  <footer class="major">
			<ul class="buttons">
			  <li><%= link_to "上一節", chapter2_section2_part4_index_path, class: "button" %></li>
              <li><%= link_to "下一節", chapter2_section2_part6_index_path, class: "button special" %></li>
			</ul>
		  </footer>
		</section>
	  <!-- Disqus -->
		<section class="wrapper style4 container">
          <div id="disqus_thread"></div>
            <script>
            /**
            * RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
            * LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables
            */
            /*
            var disqus_config = function () {
            this.page.url = PAGE_URL; // Replace PAGE_URL with your page's canonical URL variable
            this.page.identifier = PAGE_IDENTIFIER; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
            };
            */
            (function() { // DON'T EDIT BELOW THIS LINE
            var d = document, s = d.createElement('script');

            s.src = '//magnificbiz.disqus.com/embed.js';

            s.setAttribute('data-timestamp', +new Date());
            (d.head || d.body).appendChild(s);
            })();
            </script>
            <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
        </section>
        </article>
      </div>
      <!-- Scripts -->
        <script id="dsq-count-scr" src="//magnificbiz.disqus.com/count.js" async></script>
        <script src="https://use.typekit.net/mgd6kfe.js"></script>
        <script>try{Typekit.load({ async: true });}catch(e){}</script>
  </body>
</html>