<!DOCTYPE HTML>
<html>
  <head>
	<title>嘉鼎資本｜投資事業管理術型態分析與歸納循環型</title>
	<meta charset="utf-8" />
	<meta name="description" content="嘉鼎資本投資事業管理型態分析與歸納型篇，投資人學會解讀學會辨別什麼公司營運是循環型事業。">
  <meta name="keywords" content="嘉鼎資本, 投資事業管理術, 投資, 型態分析, 循環型, 公司營運">
	<meta name="viewport" content="width=device-width, initial-scale=1" />
  </head>
  <body class="no-sidebar">
	<div id="page-wrapper">
	  <!-- Main -->
		<article id="main">
		  <header class="special container">
			<span class="icon fa-book"></span>
			  <h1>2-2-4 型態分析與歸納——循環型篇</h1>
			  <p>目標：學會辨別什麼公司是循環型事業</p>
		  </header>
	  <!-- One -->
		<section class="wrapper style4 container">
	  <!-- Content -->
		<div class="content">
		  <section>
			<p>循環型顧名思義，就是營收在某些年度區間呈現成長型態，而某些年度呈現衰退型態，對於初階投資人來說也是不好理解的一種，如下圖案例：</p>
			<img class="img-responsive" src="https://s3-us-west-2.amazonaws.com/magnficcourse/pic2-2-4-1.png" alt="循環型"></br>
			<p>2006～2008年呈現成長型態，2008～2009年呈現衰退，2009～2011年再度呈現成長型態，2011～2015年又呈現了衰退型態。這個型態困難的是投資人很難確立自己在成長型態或是衰退型態的哪個階段，像是2013年究竟是衰退型態的半路還是終點？事後到了2015年才知道只是半路，因此不像市場盛傳只要在低谷的時候投入，高點的時候就能夠開心回收了。</p>
			<p>另一個案例則是與前例雷同，差別是這個循環是一次比一次高，如果投資人要選擇這樣的公司，也盡量找尋這種型態。</p>
			<img class="img-responsive" src="https://s3-us-west-2.amazonaws.com/magnficcourse/pic2-2-4-2.png" alt="循環型"></br>
			<span style="color:black;font-weight:default">■衰退循環確認後再逐步投入</span></br>
			<p>循環型態的公司其實是最受有技巧的投資人喜愛，因為在衰退時期該公司的市價會嚴重低估，等待循環反轉時期又會樂觀高估，然而這樣的評估並不容易，投資人蠻大的機會會把自己陷入衰退循環中。建議投資人可以在衰退循環確立後小幅度的逐步投入，保持靈活並控制風險。</p>
		  </section>
		</div>
		</section>
	  <!-- Two -->
		<section class="wrapper style1 container special">
		  <footer class="major">
			<ul class="buttons">
			  <li><%= link_to "上一節", chapter2_section2_part3_index_path, class: "button" %></li>
              <li><%= link_to "下一節", chapter2_section2_part5_index_path, class: "button special" %></li>
			</ul>
		  </footer>
		</section>
	  <!-- Disqus -->
		<section class="wrapper style4 container">
          <div id="disqus_thread"></div>
            <script>
            /**
            * RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
            * LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables
            */
            /*
            var disqus_config = function () {
            this.page.url = PAGE_URL; // Replace PAGE_URL with your page's canonical URL variable
            this.page.identifier = PAGE_IDENTIFIER; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
            };
            */
            (function() { // DON'T EDIT BELOW THIS LINE
            var d = document, s = d.createElement('script');

            s.src = '//magnificbiz.disqus.com/embed.js';

            s.setAttribute('data-timestamp', +new Date());
            (d.head || d.body).appendChild(s);
            })();
            </script>
            <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
        </section>
        </article>
      </div>
      <!-- Scripts -->
        <script id="dsq-count-scr" src="//magnificbiz.disqus.com/count.js" async></script>
        <script src="https://use.typekit.net/mgd6kfe.js"></script>
        <script>try{Typekit.load({ async: true });}catch(e){}</script>
  </body>
</html>